In [75]:
import pandas as pd

In [76]:
municipios  = pd.read_excel("RELATORIO_DTB_BRASIL_MUNICIPIO.ods")

In [77]:
municipios.head()

,UF,Nome_UF,Região Geográfica Intermediária,Nome Região Geográfica Intermediária,Região Geográfica Imediata,Nome Região Geográfica Imediata,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,Código Município Completo,Nome_Município
0,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste
1,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis
2,11,Rondônia,1101,Porto Velho,110002,Ariquemes,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso
3,11,Rondônia,1102,Ji-Paraná,110004,Ji-Paraná,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste
4,11,Rondônia,1101,Porto Velho,110002,Ariquemes,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes

In [78]:
municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 13 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   UF                                    5570 non-null   int64
 1   Nome_UF                               5570 non-null   object
 2   Região Geográfica Intermediária       5570 non-null   int64
 3   Nome Região Geográfica Intermediária  5570 non-null   object
 4   Região Geográfica Imediata            5570 non-null   int64
 5   Nome Região Geográfica Imediata       5570 non-null   object
 6   Mesorregião Geográfica                5570 non-null   int64
 7   Nome_Mesorregião                      5570 non-null   object
 8   Microrregião Geográfica               5570 non-null   int64
 9   Nome_Microrregião                     5570 non-null   object
 10  Município                             5570 non-null   int64
 11  Código Município Completo             5570 non-null   int64
 12  Nome_Município                        5570 non-null   object
dtypes: int64(7), object(6)
memory usage: 565.8+ KB

In [79]:
cod_municipios  = municipios[['UF', 'Nome_UF', 'Nome_Município', 'Código Município Completo']]

In [80]:
cod_municipios['UF'].value_counts()

UF
31    853
35    645
43    497
29    417
41    399
42    295
52    246
22    224
25    223
21    217
26    185
23    184
24    167
15    144
51    141
17    139
27    102
33     92
50     79
32     78
28     75
13     62
11     52
12     22
16     16
14     15
53      1
Name: count, dtype: int64

In [81]:
cod_municipios['Nome_UF'].value_counts()

Nome_UF
Minas Gerais           853
São Paulo              645
Rio Grande do Sul      497
Bahia                  417
Paraná                 399
Santa Catarina         295
Goiás                  246
Piauí                  224
Paraíba                223
Maranhão               217
Pernambuco             185
Ceará                  184
Rio Grande do Norte    167
Pará                   144
Mato Grosso            141
Tocantins              139
Alagoas                102
Rio de Janeiro          92
Mato Grosso do Sul      79
Espírito Santo          78
Sergipe                 75
Amazonas                62
Rondônia                52
Acre                    22
Amapá                   16
Roraima                 15
Distrito Federal         1
Name: count, dtype: int64

In [82]:
cod_municipios['Sigla_UF'] = ''

/tmp/ipykernel_21568/1605149640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cod_municipios['Sigla_UF'] = ''

In [85]:
ufs_PL_TL = ['Paraná', 'Roraima']
ufs_PL_PNL = ['Paraíba', 'Amapá']
ufs_duas_palavras = ['Minas Gerais', 'Distrito Federal', 'Espírito Santo', 'Santa Catarina', 'São Paulo']
ufs_tres_palavras = ['Mato Grosso do Sul', 'Rio Grande do Norte', 'Rio Grande do Sul']
ufs_outros = ['Acre','Rondônia','Amazonas','Sergipe', 'Alagoas', 'Tocantins', 'Pará', 'Ceará', 'Pernambuco', 'Maranhão',
              'Piauí', 'Goiás', 'Bahia', ]

i = 0

for index, row in cod_municipios.iterrows():
    nome_UF = row['Nome_UF'].split()
    if row['Nome_UF'] == 'Rio de Janeiro':
        cod_municipios.iat[i, 4] = nome_UF[0][0][0] + nome_UF[2][0][0]
    elif row['Nome_UF'] == 'Mato Grosso':
        cod_municipios.iat[i, 4] = nome_UF[0][0][0] + nome_UF[0][2][0].upper()
    elif row['Nome_UF'] in ufs_PL_TL:
        cod_municipios.iat[i, 4] = nome_UF[0][0] + nome_UF[0][2].upper()
    elif row['Nome_UF'] in ufs_PL_PNL:
        cod_municipios.iat[i, 4] = nome_UF[0][0] + nome_UF[0][-2].upper()
    elif row['Nome_UF'] in ufs_tres_palavras:
        cod_municipios.iat[i, 4] = nome_UF[0][0][0] + nome_UF[3][0][0]
    elif row['Nome_UF'] in ufs_duas_palavras:
        cod_municipios.iat[i, 4] = nome_UF[0][0][0] + nome_UF[1][0][0]
    elif row['Nome_UF'] in ufs_outros:
        cod_municipios.iat[i, 4] = nome_UF[0][0] + nome_UF[0][1].upper()
    i = i+1

In [86]:
cod_municipios = cod_municipios.rename(columns={'Código Município Completo': 'Codigo_Municipio', 'Nome_Município':'Município'})

In [87]:
cod_municipios

      UF           Nome_UF                Município  Codigo_Municipio Sigla_UF
0     11          Rondônia    Alta Floresta D'Oeste           1100015       RO
1     11          Rondônia  Alto Alegre dos Parecis           1100379       RO
2     11          Rondônia             Alto Paraíso           1100403       RO
3     11          Rondônia         Alvorada D'Oeste           1100346       RO
4     11          Rondônia                Ariquemes           1100023       RO
...   ..               ...                      ...               ...      ...
5565  52             Goiás               Vianópolis           5222005       GO
5566  52             Goiás           Vicentinópolis           5222054       GO
5567  52             Goiás                 Vila Boa           5222203       GO
5568  52             Goiás            Vila Propício           5222302       GO
5569  53  Distrito Federal                 Brasília           5300108       DF

[5570 rows x 5 columns]

In [88]:
cod_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UF                5570 non-null   int64
 1   Nome_UF           5570 non-null   object
 2   Município         5570 non-null   object
 3   Codigo_Municipio  5570 non-null   int64
 4   Sigla_UF          5570 non-null   object
dtypes: int64(2), object(3)
memory usage: 217.7+ KB

In [89]:
cod_municipios['Sigla_UF'].value_counts()

Sigla_UF
MG    853
SP    645
RS    497
BA    417
PR    399
SC    295
GO    246
PI    224
PB    223
MA    217
PE    185
CE    184
RN    167
PA    144
MT    141
TO    139
AL    102
RJ     92
MS     79
ES     78
SE     75
AM     62
RO     52
AC     22
AP     16
RR     15
DF      1
Name: count, dtype: int64

In [ ]:
cod_municipios['Nome_UF'].value_counts()

Nome_UF
Minas Gerais           853
São Paulo              645
Rio Grande do Sul      497
Bahia                  417
Paraná                 399
Santa Catarina         295
Goiás                  246
Piauí                  224
Paraíba                223
Maranhão               217
Pernambuco             185
Ceará                  184
Rio Grande do Norte    167
Pará                   144
Mato Grosso            141
Tocantins              139
Alagoas                102
Rio de Janeiro          92
Mato Grosso do Sul      79
Espírito Santo          78
Sergipe                 75
Amazonas                62
Rondônia                52
Acre                    22
Amapá                   16
Roraima                 15
Distrito Federal         1
Name: count, dtype: int64

In [90]:
cod_municipios.to_csv("Código dos Municípios", index=False)