# Imports

In [269]:
import pandas as pd
import numpy as np

In [270]:
censo_agro = pd.read_excel("dataset/Producao Alimentar/Tipos de Cultivo e Produtores/Tabela 6906.ods")

In [271]:
cod_municipios = pd.read_csv('Código dos Municípios')

In [272]:
amendoim = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Amendoim.xls")
arroz = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Arroz.xls")
banana = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Banana.xls")
batata_inglesa = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/batata-inglesa.xls")
cacau = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Cacau.xls")
cafe = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Cafe.xls")
cana_acucar = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/cana-de-açúcar.xls")
cebola = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Cebola.xls")
feijao = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Feijao.xls")
laranja = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Laranja.xls")
leite = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Leite.xls")
mandioca = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Mandioca.xls")
mel = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/mel de abelha.xls")
milho = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Milho.xls")
soja = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Soja.xls")
tomate = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/tomate.xls")
trigo = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/trigo.xls")
uva = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Uva.xls")

# Analise inicial

### Censo Agro

In [273]:
censo_agro.head()

,Município,Total,Agricultura familiar - não,Agricultura familiar - sim
0,Alta Floresta D'Oeste (RO),2582,566,2016
1,Ariquemes (RO),2303,543,1760
2,Cabixi (RO),961,187,774
3,Cacoal (RO),3438,411,3027
4,Cerejeiras (RO),671,203,468

In [274]:
censo_agro.columns

Index(['Município', 'Total', 'Agricultura familiar - não',
       'Agricultura familiar - sim'],
      dtype='object')

In [275]:
censo_agro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Município                   5563 non-null   object
 1   Total                       5563 non-null   object
 2   Agricultura familiar - não  5563 non-null   object
 3   Agricultura familiar - sim  5563 non-null   object
dtypes: object(4)
memory usage: 174.0+ KB

In [276]:
censo_agro.describe()

,Município,Total,Agricultura familiar - não,Agricultura familiar - sim
count,5563,5563,5563,5563
unique,5563,1867,709,1624
top,Brasília (DF),216,39,190
freq,1,15,43,16

In [277]:
censo_agro['Município'].value_counts()

Município
Brasília (DF)                    1
Alta Floresta D'Oeste (RO)       1
Ariquemes (RO)                   1
Cabixi (RO)                      1
Cacoal (RO)                      1
                                ..
Pimenta Bueno (RO)               1
Ouro Preto do Oeste (RO)         1
Nova Brasilândia D'Oeste (RO)    1
Machadinho D'Oeste (RO)          1
Ji-Paraná (RO)                   1
Name: count, Length: 5563, dtype: int64

### Municipios

In [278]:
cod_municipios.head()

   UF   Nome_UF                Município  Codigo_Municipio Sigla_UF
0  11  Rondônia    Alta Floresta D'Oeste           1100015       RO
1  11  Rondônia  Alto Alegre dos Parecis           1100379       RO
2  11  Rondônia             Alto Paraíso           1100403       RO
3  11  Rondônia         Alvorada D'Oeste           1100346       RO
4  11  Rondônia                Ariquemes           1100023       RO

In [279]:
cod_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UF                5570 non-null   int64
 1   Nome_UF           5570 non-null   object
 2   Município         5570 non-null   object
 3   Codigo_Municipio  5570 non-null   int64
 4   Sigla_UF          5570 non-null   object
dtypes: int64(2), object(3)
memory usage: 217.7+ KB

In [280]:
cod_municipios['Codigo_Municipio'].value_counts()

Codigo_Municipio
5300108    1
1100015    1
5221197    1
5221080    1
5221007    1
          ..
1100031    1
1100452    1
1100023    1
1100346    1
1100403    1
Name: count, Length: 5570, dtype: int64

### IPEA

In [281]:
arroz['Codigo'].value_counts()

Codigo
1722107    1
1200013    1
1200054    1
1200104    1
1200138    1
          ..
1200435    1
1200427    1
1200401    1
1200393    1
1200385    1
Name: count, Length: 5596, dtype: int64

In [282]:
arroz['Município'].value_counts()

Município
Bom Jesus               5
São Francisco           4
Vera Cruz               4
Planalto                4
São Domingos            4
                       ..
Monte Sião              1
Montes Claros           1
Monte Santo de Minas    1
Monte Formoso           1
Mutum                   1
Name: count, Length: 5315, dtype: int64

In [283]:
arroz[arroz['Município']== 'Bom Jesus']

,Sigla,Codigo,Município,2017,2018,2019,2020,2021,2022,2023
2606,PB,2502201,Bom Jesus,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
3016,PI,2201903,Bom Jesus,299.839935,184.465235,2451.996823,2149.374645,5509.561188,527.66816,2224.993568
3725,RN,2401701,Bom Jesus,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
3989,RS,4302303,Bom Jesus,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
4480,SC,4202537,Bom Jesus,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN

# Transformação da Tabela

## 2017

### Censo agropecuario

In [284]:
data = pd.DataFrame(columns=['MU', 'UF'])

nomes= []
ufs = []
i = 0

for index, row in censo_agro.iterrows():
    tmp = row['Município'].split(" (")
    nomes.append(tmp[0])
    ufs.append(tmp[1].strip(")"))
    

for index, row in censo_agro.iterrows():
    row['Município'] = nomes[i]
    i = i+1

In [285]:
censo_agro['Sigla_UF'] = ''

i = 0
for index, row in censo_agro.iterrows():
    censo_agro.iat[i, 4] = ufs[i]
    i = i+1

In [286]:
censo_agro = censo_agro.merge(cod_municipios[['Codigo_Municipio', 'UF', 'Município', 'Sigla_UF']], how='right',left_on=['Município', 'Sigla_UF'], right_on=['Município', 'Sigla_UF'])

In [287]:
censo_agro = censo_agro[['Codigo_Municipio', 'Município', 'Sigla_UF', 'UF', 'Agricultura familiar - sim', 'Agricultura familiar - não', 'Total']]
censo_agro

,Codigo_Municipio,Município,Sigla_UF,UF,Agricultura familiar - sim,Agricultura familiar - não,Total
0,1100015,Alta Floresta D'Oeste,RO,11,2016,566,2582
1,1100379,Alto Alegre dos Parecis,RO,11,1308,349,1657
2,1100403,Alto Paraíso,RO,11,1964,318,2282
3,1100346,Alvorada D'Oeste,RO,11,1396,274,1670
4,1100023,Ariquemes,RO,11,1760,543,2303
...,...,...,...,...,...,...,...
5565,5222005,Vianópolis,GO,52,614,185,799
5566,5222054,Vicentinópolis,GO,52,51,69,120
5567,5222203,Vila Boa,GO,52,20,54,74
5568,5222302,Vila Propício,GO,52,377,252,629
5569,5300108,Brasília,DF,53,1719,1487,3206

In [288]:
censo_agro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Codigo_Municipio            5570 non-null   int64
 1   Município                   5570 non-null   object
 2   Sigla_UF                    5570 non-null   object
 3   UF                          5570 non-null   int64
 4   Agricultura familiar - sim  4772 non-null   object
 5   Agricultura familiar - não  4772 non-null   object
 6   Total                       4772 non-null   object
dtypes: int64(2), object(5)
memory usage: 304.7+ KB

### IPEA

In [289]:
anos_n = [2017, 2018, 2019, 2020, 2021, 2022, 2023]
anos_s = ['2017', '2018', '2019', '2020', '2021', '2022', '2023']

i = 0
for x in anos_n:
    leite = leite.rename(columns={x: anos_s[i]})
    i += 1

In [290]:
producao_db = cod_municipios[['Município', 'UF', 'Sigla_UF', 'Codigo_Municipio']]

In [291]:
producao_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Município         5570 non-null   object
 1   UF                5570 non-null   int64
 2   Sigla_UF          5570 non-null   object
 3   Codigo_Municipio  5570 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [292]:
producao = [amendoim, arroz, banana, batata_inglesa, cacau,
            cafe, cana_acucar, cebola, feijao, laranja,
            leite, mandioca, mel, milho, soja, tomate, trigo, uva]
nomes_produtos = ['amendoim(Toneladas)', 'arroz(Toneladas)', 'banana(Toneladas)', 'batata_inglesa(Toneladas)', 'cacau(Toneladas)',
                'cafe(Toneladas)', 'cana_acucar(Toneladas)', 'cebola(Toneladas)', 'feijao(Toneladas)', 'laranja(Toneladas)',
                'leite(Litros)', 'mandioca(Toneladas)', 'mel(Kg)', 'milho(Toneladas)', 'soja(Toneladas)', 'tomate(Toneladas)', 'trigo(Toneladas)', 'uva(Toneladas)']

In [293]:
i = 0
for x in nomes_produtos:
    producao_db[x] = producao[i]['2017']
    i = i + 1

In [294]:
producao_db.columns

Index(['Município', 'UF', 'Sigla_UF', 'Codigo_Municipio',
       'amendoim(Toneladas)', 'arroz(Toneladas)', 'banana(Toneladas)',
       'batata_inglesa(Toneladas)', 'cacau(Toneladas)', 'cafe(Toneladas)',
       'cana_acucar(Toneladas)', 'cebola(Toneladas)', 'feijao(Toneladas)',
       'laranja(Toneladas)', 'leite(Litros)', 'mandioca(Toneladas)', 'mel(Kg)',
       'milho(Toneladas)', 'soja(Toneladas)', 'tomate(Toneladas)',
       'trigo(Toneladas)', 'uva(Toneladas)'],
      dtype='object')

In [295]:
producao_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Município                  5570 non-null   object
 1   UF                         5570 non-null   int64
 2   Sigla_UF                   5570 non-null   object
 3   Codigo_Municipio           5570 non-null   int64
 4   amendoim(Toneladas)        5537 non-null   float64
 5   arroz(Toneladas)           5537 non-null   float64
 6   banana(Toneladas)          5507 non-null   float64
 7   batata_inglesa(Toneladas)  5537 non-null   float64
 8   cacau(Toneladas)           5507 non-null   float64
 9   cafe(Toneladas)            5507 non-null   float64
 10  cana_acucar(Toneladas)     5537 non-null   float64
 11  cebola(Toneladas)          5537 non-null   float64
 12  feijao(Toneladas)          5537 non-null   float64
 13  laranja(Toneladas)         5507 non-null   float64
 14  leite(Litros)              5482 non-null   float64
 15  mandioca(Toneladas)        5537 non-null   float64
 16  mel(Kg)                    3876 non-null   float64
 17  milho(Toneladas)           5537 non-null   float64
 18  soja(Toneladas)            5537 non-null   float64
 19  tomate(Toneladas)          5537 non-null   float64
 20  trigo(Toneladas)           5537 non-null   float64
 21  uva(Toneladas)             5507 non-null   float64
dtypes: float64(18), int64(2), object(2)
memory usage: 957.5+ KB

### Integração

In [297]:
tabela_integrada = cod_municipios[['Codigo_Municipio', 'Município', 'UF', 'Sigla_UF']]

In [298]:
tabela_integrada.head()

   Codigo_Municipio                Município  UF Sigla_UF
0           1100015    Alta Floresta D'Oeste  11       RO
1           1100379  Alto Alegre dos Parecis  11       RO
2           1100403             Alto Paraíso  11       RO
3           1100346         Alvorada D'Oeste  11       RO
4           1100023                Ariquemes  11       RO

In [299]:
tabela_integrada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Codigo_Municipio  5570 non-null   int64
 1   Município         5570 non-null   object
 2   UF                5570 non-null   int64
 3   Sigla_UF          5570 non-null   object
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [300]:
tabela_integrada = tabela_integrada.merge(censo_agro, how='outer')

In [301]:
tabela_integrada = tabela_integrada.merge(producao_db.iloc[:, 3:22], how='outer')

In [302]:
tabela_integrada

,Codigo_Municipio,Município,UF,Sigla_UF,Agricultura familiar - sim,Agricultura familiar - não,Total,amendoim(Toneladas),arroz(Toneladas),banana(Toneladas),...,feijao(Toneladas),laranja(Toneladas),leite(Litros),mandioca(Toneladas),mel(Kg),milho(Toneladas),soja(Toneladas),tomate(Toneladas),trigo(Toneladas),uva(Toneladas)
0,1100015,Alta Floresta D'Oeste,11,RO,2016,566,2582,0.0,48.341541,21000.0,...,208.0,1050.0,6182.0,16500.0,11.0,3120.0,0.0,0.0,0.0,0.0
1,1100023,Ariquemes,11,RO,1760,543,2303,54.0,76.489779,3603.0,...,95.0,280.0,3198.0,33788.0,200.0,8058.0,81.0,0.0,0.0,0.0
2,1100031,Cabixi,11,RO,774,187,961,0.0,301.063772,3335.0,...,132.0,96.0,3405.0,19204.0,720.0,4610.0,0.0,0.0,0.0,0.0
3,1100049,Cacoal,11,RO,3027,411,3438,0.0,29.983994,1455.0,...,18.0,46.0,104.0,21120.0,NaN,935.0,0.0,0.0,0.0,0.0
4,1100056,Cerejeiras,11,RO,468,203,671,36.0,17.133711,6250.0,...,33.0,2100.0,4821.0,16400.0,1314.0,2990.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,Vianópolis,52,GO,614,185,799,0.0,0.000000,136.0,...,20.0,0.0,1021.0,1560.0,935.0,90.0,0.0,0.0,0.0,0.0
5566,5222054,Vicentinópolis,52,GO,51,69,120,0.0,7.954937,12.0,...,0.0,0.0,64.0,114.0,NaN,24.0,0.0,0.0,0.0,0.0
5567,5222203,Vila Boa,52,GO,20,54,74,0.0,72.206352,0.0,...,0.0,0.0,885.0,320.0,NaN,180.0,28050.0,0.0,0.0,0.0
5568,5222302,Vila Propício,52,GO,377,252,629,0.0,72.206352,10.0,...,0.0,0.0,3997.0,800.0,NaN,180.0,2700.0,0.0,0.0,0.0
5569,5300108,Brasília,53,DF,1719,1487,3206,8.0,19.581384,80.0,...,28.0,0.0,1402.0,720.0,30.0,36.0,0.0,0.0,0.0,0.0

In [303]:
tabela_integrada = tabela_integrada.rename(columns={'Agricultura familiar - sim': 'Número de estabelecimentos agropecuários considerados como agricultura familiar', 
                         'Agricultura familiar - não': 'Número de estabelecimentos agropecuários não considerados como agricultura familiar',
                         'Total': 'Número total de estabelecimentos agropecuários'})

In [311]:
tabela_integrada

,Codigo_Municipio,Município,UF,Sigla_UF,Número de estabelecimentos agropecuários considerados como agricultura familiar,Número de estabelecimentos agropecuários não considerados como agricultura familiar,Número total de estabelecimentos agropecuários,amendoim(Toneladas),arroz(Toneladas),banana(Toneladas),...,feijao(Toneladas),laranja(Toneladas),leite(Litros),mandioca(Toneladas),mel(Kg),milho(Toneladas),soja(Toneladas),tomate(Toneladas),trigo(Toneladas),uva(Toneladas)
0,1100015,Alta Floresta D'Oeste,11,RO,2016,566,2582,"0,0","48,3","21.000,0",...,"208,0","1.050,0","6.182,0","16.500,0","11,0","3.120,0","0,0","0,0","0,0","0,0"
1,1100023,Ariquemes,11,RO,1760,543,2303,"54,0","76,5","3.603,0",...,"95,0","280,0","3.198,0","33.788,0","200,0","8.058,0","81,0","0,0","0,0","0,0"
2,1100031,Cabixi,11,RO,774,187,961,"0,0","301,1","3.335,0",...,"132,0","96,0","3.405,0","19.204,0","720,0","4.610,0","0,0","0,0","0,0","0,0"
3,1100049,Cacoal,11,RO,3027,411,3438,"0,0","30,0","1.455,0",...,"18,0","46,0","104,0","21.120,0",nan,"935,0","0,0","0,0","0,0","0,0"
4,1100056,Cerejeiras,11,RO,468,203,671,"36,0","17,1","6.250,0",...,"33,0","2.100,0","4.821,0","16.400,0","1.314,0","2.990,0","0,0","0,0","0,0","0,0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,Vianópolis,52,GO,614,185,799,"0,0","0,0","136,0",...,"20,0","0,0","1.021,0","1.560,0","935,0","90,0","0,0","0,0","0,0","0,0"
5566,5222054,Vicentinópolis,52,GO,51,69,120,"0,0","8,0","12,0",...,"0,0","0,0","64,0","114,0",nan,"24,0","0,0","0,0","0,0","0,0"
5567,5222203,Vila Boa,52,GO,20,54,74,"0,0","72,2","0,0",...,"0,0","0,0","885,0","320,0",nan,"180,0","28.050,0","0,0","0,0","0,0"
5568,5222302,Vila Propício,52,GO,377,252,629,"0,0","72,2","10,0",...,"0,0","0,0","3.997,0","800,0",nan,"180,0","2.700,0","0,0","0,0","0,0"
5569,5300108,Brasília,53,DF,1719,1487,3206,"8,0","19,6","80,0",...,"28,0","0,0","1.402,0","720,0","30,0","36,0","0,0","0,0","0,0","0,0"

In [265]:
tabela_integrada.describe()

,Codigo_Municipio,UF,arroz(Toneladas),banana(Toneladas),batata_inglesa(Toneladas),cacau(Toneladas),cafe(Toneladas),cana_acucar(Toneladas),cebola(Toneladas),feijao(Toneladas),laranja(Toneladas),leite(Litros),mandioca(Toneladas),mel(Kg),milho(Toneladas),soja(Toneladas),tomate(Toneladas),trigo(Toneladas),uva(Toneladas)
count,5.570000e+03,5570.000000,5537.000000,5507.000000,5537.000000,5507.000000,5507.000000,5.537000e+03,5537.000000,5537.000000,5507.000000,5482.000000,5537.000000,3876.000000,5.537000e+03,5.537000e+03,5537.000000,5537.000000,5507.000000
mean,3.253591e+06,32.377738,1076.886799,1195.420556,660.117211,42.819866,487.471945,1.369514e+05,291.731262,550.056890,3176.470311,6067.725283,3331.795196,10753.775026,1.764551e+04,2.064692e+04,763.123352,784.325808,316.584347
std,9.849103e+05,9.833862,10831.277261,6807.440561,6397.508211,724.615003,2345.220237,5.004432e+05,3195.524686,2812.336811,21730.700675,11554.621031,12609.343142,34632.425115,9.434467e+04,8.657912e+04,7647.855990,3996.546493,5600.219284
min,1.100015e+06,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,4.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,2.512126e+06,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,4.000000,0.000000,571.250000,48.000000,723.750000,8.600000e+01,0.000000e+00,0.000000,0.000000,0.000000
50%,3.146280e+06,31.000000,0.000000,32.000000,0.000000,0.000000,0.000000,2.700000e+02,0.000000,40.000000,0.000000,2200.000000,390.000000,2650.000000,8.000000e+02,0.000000e+00,0.000000,0.000000,0.000000
75%,4.119190e+06,41.000000,7.343019,260.000000,0.000000,0.000000,2.000000,4.000000e+03,0.000000,194.000000,128.000000,6622.500000,1800.000000,8200.000000,7.000000e+03,5.000000e+03,50.000000,0.000000,0.000000
max,5.300108e+06,53.000000,364637.793073,180000.000000,203775.000000,46938.000000,56115.000000,8.118000e+06,117000.000000,68400.000000,564560.000000,264000.000000,356000.000000,687465.000000,3.841566e+06,2.157600e+06,288000.000000,105000.000000,336400.000000

In [310]:
for col in tabela_integrada.columns[7:]: 
    tabela_integrada[col] = tabela_integrada[col].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [313]:
tabela_integrada.to_excel('Tabela_Integrada_2017.xlsx', sheet_name='sheet1', float_format='%.1f', index=False,)