# Imports

In [333]:
import pandas as pd
import numpy as np

In [334]:
censo_agro = pd.read_excel("dataset/Producao Alimentar/Tipos de Cultivo e Produtores/Tabela 6906.ods")

In [335]:
cod_municipios = pd.read_csv('Código dos Municípios')

In [336]:
amendoim = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Amendoim.xls")
arroz = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Arroz.xls")
banana = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Banana.xls")
batata_inglesa = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/batata-inglesa.xls")
cacau = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Cacau.xls")
cafe = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Cafe.xls")
cana_acucar = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/cana-de-açúcar.xls")
cebola = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Cebola.xls")
feijao = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Feijao.xls")
laranja = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Laranja.xls")
leite = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Leite.xls")
mandioca = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Mandioca.xls")
mel = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/mel de abelha.xls")
milho = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Milho.xls")
soja = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Soja.xls")
tomate = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/tomate.xls")
trigo = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/trigo.xls")
uva = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Uva.xls")

# Analise inicial

### Censo Agro

In [337]:
censo_agro.head()

,Município,Total,Agricultura familiar - não,Agricultura familiar - sim
0,Alta Floresta D'Oeste (RO),2582,566,2016
1,Ariquemes (RO),2303,543,1760
2,Cabixi (RO),961,187,774
3,Cacoal (RO),3438,411,3027
4,Cerejeiras (RO),671,203,468

In [338]:
censo_agro.columns

Index(['Município', 'Total', 'Agricultura familiar - não',
       'Agricultura familiar - sim'],
      dtype='object')

In [339]:
censo_agro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Município                   5563 non-null   object
 1   Total                       5563 non-null   object
 2   Agricultura familiar - não  5563 non-null   object
 3   Agricultura familiar - sim  5563 non-null   object
dtypes: object(4)
memory usage: 174.0+ KB

In [340]:
censo_agro.describe()

,Município,Total,Agricultura familiar - não,Agricultura familiar - sim
count,5563,5563,5563,5563
unique,5563,1867,709,1624
top,Brasília (DF),216,39,190
freq,1,15,43,16

### Municipios

### IPEA

# Transformação da Tabela

## 2017

### Censo agropecuario

In [341]:
data = pd.DataFrame(columns=['MU', 'UF'])

nomes= []
ufs = []
i = 0

for index, row in censo_agro.iterrows():
    tmp = row['Município'].split(" (")
    nomes.append(tmp[0])
    ufs.append(tmp[1].strip(")"))
    

for index, row in censo_agro.iterrows():
    row['Município'] = nomes[i]
    i = i+1

In [342]:
censo_agro['UF'] = ''

i = 0
for index, row in censo_agro.iterrows():
    censo_agro.iat[i, 4] = ufs[i]
    i = i+1

In [343]:
censo_agro['Cod_UF'] = ''
censo_agro['Cod_Municipio'] = ''

In [344]:
i = 0
for index, row in censo_agro.iterrows():
    tmp = cod_municipios.loc[cod_municipios['Nome_Município'] == row['Município']]
    censo_agro.iat[i,6] = tmp['Código Município Completo'].values
    censo_agro.iat[i,5] = tmp['UF'].values
    i = i + 1

In [345]:
censo_agro = censo_agro[['Município', 'Cod_Municipio', 'UF', 'Cod_UF', 'Agricultura familiar - sim', 'Agricultura familiar - não', 'Total']]
censo_agro

,Município,Cod_Municipio,UF,Cod_UF,Agricultura familiar - sim,Agricultura familiar - não,Total
0,Alta Floresta D'Oeste,1100015,RO,11,2016,566,2582
1,Ariquemes,1100023,RO,11,1760,543,2303
2,Cabixi,1100031,RO,11,774,187,961
3,Cacoal,1100049,RO,11,3027,411,3438
4,Cerejeiras,1100056,RO,11,468,203,671
...,...,...,...,...,...,...,...
5558,Vianópolis,5222005,GO,52,614,185,799
5559,Vicentinópolis,5222054,GO,52,51,69,120
5560,Vila Boa,5222203,GO,52,20,54,74
5561,Vila Propício,5222302,GO,52,377,252,629
5562,Brasília,5300108,DF,53,1719,1487,3206

In [346]:
censo_agro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Município                   5563 non-null   object
 1   Cod_Municipio               5563 non-null   object
 2   UF                          5563 non-null   object
 3   Cod_UF                      5563 non-null   object
 4   Agricultura familiar - sim  5563 non-null   object
 5   Agricultura familiar - não  5563 non-null   object
 6   Total                       5563 non-null   object
dtypes: object(7)
memory usage: 304.4+ KB

### IPEA

In [347]:
anos_n = [2017, 2018, 2019, 2020, 2021, 2022, 2023]
anos_s = ['2017', '2018', '2019', '2020', '2021', '2022', '2023']

i = 0
for x in anos_n:
    leite = leite.rename(columns={x: anos_s[i]})
    i += 1

In [348]:
leite.columns

Index(['Sigla', 'Codigo', 'Município', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023'],
      dtype='object')

In [350]:
producao_db = cod_municipios[['UF', 'Sigla_UF', 'Nome_Município', 'Código Município Completo']]

In [351]:
producao = [amendoim, arroz, banana, batata_inglesa, cacau,
            cafe, cana_acucar, cebola, feijao, laranja,
            leite, mandioca, mel, milho, soja, tomate, trigo, uva]
nomes_produtos = ['amendoim(Toneladas)', 'arroz(Toneladas)', 'banana(Toneladas)', 'batata_inglesa(Toneladas)', 'cacau(Toneladas)',
                'cafe(Toneladas)', 'cana_acucar(Toneladas)', 'cebola(Toneladas)', 'feijao(Toneladas)', 'laranja(Toneladas)',
                'leite(Litros)', 'mandioca(Toneladas)', 'mel(Kg)', 'milho(Toneladas)', 'soja(Toneladas)', 'tomate(Toneladas)', 'trigo(Toneladas)', 'uva(Toneladas)']

In [352]:
i = 0
for x in nomes_produtos:
    producao_db[x] = producao[i]['2017']
    i = i + 1

/tmp/ipykernel_6558/3279289271.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  producao_db[x] = producao[i]['2017']

In [353]:
producao_db.columns

Index(['UF', 'Sigla_UF', 'Nome_Município', 'Código Município Completo',
       'amendoim(Toneladas)', 'arroz(Toneladas)', 'banana(Toneladas)',
       'batata_inglesa(Toneladas)', 'cacau(Toneladas)', 'cafe(Toneladas)',
       'cana_acucar(Toneladas)', 'cebola(Toneladas)', 'feijao(Toneladas)',
       'laranja(Toneladas)', 'leite(Litros)', 'mandioca(Toneladas)', 'mel(Kg)',
       'milho(Toneladas)', 'soja(Toneladas)', 'tomate(Toneladas)',
       'trigo(Toneladas)', 'uva(Toneladas)'],
      dtype='object')

In [355]:
producao_db.to_csv("producao 2017")