# Imports

In [110]:
import pandas as pd
import numpy as np

In [111]:
censo_agro = pd.read_excel("/home/arthur/Documentos/Github/IC-InSAN/dataset/Producao Alimentar/Tipos de Cultivo e Produtores/Tabela 6906.ods")

In [112]:
cod_municipios = pd.read_csv("Código dos Municípios")

# Analise inicial

In [113]:
censo_agro.head()

,Município,Total,Agricultura familiar - não,Agricultura familiar - sim
0,Alta Floresta D'Oeste (RO),2582,566,2016
1,Ariquemes (RO),2303,543,1760
2,Cabixi (RO),961,187,774
3,Cacoal (RO),3438,411,3027
4,Cerejeiras (RO),671,203,468

In [114]:
censo_agro.columns

Index(['Município', 'Total', 'Agricultura familiar - não',
       'Agricultura familiar - sim'],
      dtype='object')

In [115]:
censo_agro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Município                   5563 non-null   object
 1   Total                       5563 non-null   object
 2   Agricultura familiar - não  5563 non-null   object
 3   Agricultura familiar - sim  5563 non-null   object
dtypes: object(4)
memory usage: 174.0+ KB

In [116]:
censo_agro.describe()

,Município,Total,Agricultura familiar - não,Agricultura familiar - sim
count,5563,5563,5563,5563
unique,5563,1867,709,1624
top,Brasília (DF),216,39,190
freq,1,15,43,16

# Transformação da Tabela

## 2017

### Censo agropecuario

In [117]:
data = pd.DataFrame(columns=['MU', 'UF'])

nomes= []
ufs = []
i = 0

for index, row in censo_agro.iterrows():
    tmp = row['Município'].split(" (")
    nomes.append(tmp[0])
    ufs.append(tmp[1].strip(")"))
    

for index, row in censo_agro.iterrows():
    row['Município'] = nomes[i]
    i = i+1

In [118]:
censo_agro['UF'] = ''

i = 0
for index, row in censo_agro.iterrows():
    censo_agro.iat[i, 4] = ufs[i]
    i = i+1

In [119]:
censo_agro['Cod_UF'] = ''
censo_agro['Cod_Municipio'] = ''

In [122]:
i = 0
for index, row in censo_agro.iterrows():
    tmp = cod_municipios.loc[cod_municipios['Nome_Município'] == row['Município']]
    censo_agro.iat[i,6] = tmp['Código Município Completo'].values
    censo_agro.iat[i,5] = tmp['UF'].values
    # for idx, row2 in cod_municipios.iterrows():
        # if row['Município'] == row2['Nome_Município']:
        #     censo_agro.iat[i,6] = row2['Nome_Município']
        #     censo_agro.iat[i,5] = row2['UF']
        #     break
    i = i + 1

In [124]:
censo_agro = censo_agro[['Município', 'Cod_Municipio', 'UF', 'Cod_UF', 'Agricultura familiar - sim', 'Agricultura familiar - não', 'Total']]
censo_agro

,Município,Cod_Municipio,UF,Cod_UF,Agricultura familiar - sim,Agricultura familiar - não,Total
0,Alta Floresta D'Oeste,1100015,RO,11,2016,566,2582
1,Ariquemes,1100023,RO,11,1760,543,2303
2,Cabixi,1100031,RO,11,774,187,961
3,Cacoal,1100049,RO,11,3027,411,3438
4,Cerejeiras,1100056,RO,11,468,203,671
...,...,...,...,...,...,...,...
5558,Vianópolis,5222005,GO,52,614,185,799
5559,Vicentinópolis,5222054,GO,52,51,69,120
5560,Vila Boa,5222203,GO,52,20,54,74
5561,Vila Propício,5222302,GO,52,377,252,629
5562,Brasília,5300108,DF,53,1719,1487,3206

In [125]:
censo_agro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Município                   5563 non-null   object
 1   Cod_Municipio               5563 non-null   object
 2   UF                          5563 non-null   object
 3   Cod_UF                      5563 non-null   object
 4   Agricultura familiar - sim  5563 non-null   object
 5   Agricultura familiar - não  5563 non-null   object
 6   Total                       5563 non-null   object
dtypes: object(7)
memory usage: 304.4+ KB

###