# Imports

In [563]:
import pandas as pd
import numpy as np

In [564]:
censo_agro = pd.read_excel("dataset/Producao Alimentar/Tipos de Cultivo e Produtores/Tabela 6906.ods")

In [565]:
cod_municipios = pd.read_csv('Código dos Municípios')

In [566]:
amendoim = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Amendoim.xls")
arroz = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Arroz.xls")
banana = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Banana.xls")
batata_inglesa = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/batata-inglesa.xls")
cacau = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Cacau.xls")
cafe = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Cafe.xls")
cana_acucar = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/cana-de-açúcar.xls")
cebola = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Cebola.xls")
feijao = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Feijao.xls")
laranja = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Laranja.xls")
leite = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Leite.xls")
mandioca = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Mandioca.xls")
mel = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/mel de abelha.xls")
milho = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Milho.xls")
soja = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Soja.xls")
tomate = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/tomate.xls")
trigo = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/trigo.xls")
uva = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Uva.xls")

# Analise inicial

### Censo Agro

In [567]:
censo_agro.head()

,Município,Total,Agricultura familiar - não,Agricultura familiar - sim
0,Alta Floresta D'Oeste (RO),2582,566,2016
1,Ariquemes (RO),2303,543,1760
2,Cabixi (RO),961,187,774
3,Cacoal (RO),3438,411,3027
4,Cerejeiras (RO),671,203,468

In [568]:
censo_agro.columns

Index(['Município', 'Total', 'Agricultura familiar - não',
       'Agricultura familiar - sim'],
      dtype='object')

In [569]:
censo_agro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Município                   5563 non-null   object
 1   Total                       5563 non-null   object
 2   Agricultura familiar - não  5563 non-null   object
 3   Agricultura familiar - sim  5563 non-null   object
dtypes: object(4)
memory usage: 174.0+ KB

In [570]:
censo_agro.describe()

,Município,Total,Agricultura familiar - não,Agricultura familiar - sim
count,5563,5563,5563,5563
unique,5563,1867,709,1624
top,Brasília (DF),216,39,190
freq,1,15,43,16

### Municipios

In [571]:
cod_municipios.head()

   UF   Nome_UF                Município  Codigo_Municipio Sigla_UF
0  11  Rondônia    Alta Floresta D'Oeste           1100015       RO
1  11  Rondônia  Alto Alegre dos Parecis           1100379       RO
2  11  Rondônia             Alto Paraíso           1100403       RO
3  11  Rondônia         Alvorada D'Oeste           1100346       RO
4  11  Rondônia                Ariquemes           1100023       RO

In [572]:
cod_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UF                5570 non-null   int64
 1   Nome_UF           5570 non-null   object
 2   Município         5570 non-null   object
 3   Codigo_Municipio  5570 non-null   int64
 4   Sigla_UF          5570 non-null   object
dtypes: int64(2), object(3)
memory usage: 217.7+ KB

### IPEA

# Transformação da Tabela

## 2017

### Censo agropecuario

In [573]:
data = pd.DataFrame(columns=['MU', 'UF'])

nomes= []
ufs = []
i = 0

for index, row in censo_agro.iterrows():
    tmp = row['Município'].split(" (")
    nomes.append(tmp[0])
    ufs.append(tmp[1].strip(")"))
    

for index, row in censo_agro.iterrows():
    row['Município'] = nomes[i]
    i = i+1

In [574]:
censo_agro['Sigla_UF'] = ''

i = 0
for index, row in censo_agro.iterrows():
    censo_agro.iat[i, 4] = ufs[i]
    i = i+1

In [575]:
censo_agro = censo_agro.merge(cod_municipios[['Codigo_Municipio', 'UF', 'Município']], how='right',on='Município')

In [576]:
censo_agro = censo_agro[['Codigo_Municipio', 'Município', 'Sigla_UF', 'UF', 'Agricultura familiar - sim', 'Agricultura familiar - não', 'Total']]
censo_agro

,Codigo_Municipio,Município,Sigla_UF,UF,Agricultura familiar - sim,Agricultura familiar - não,Total
0,1100015,Alta Floresta D'Oeste,RO,11,2016,566,2582
1,1100379,Alto Alegre dos Parecis,RO,11,1308,349,1657
2,1100403,Alto Paraíso,RO,11,1964,318,2282
3,1100403,Alto Paraíso,PR,11,133,141,274
4,1100346,Alvorada D'Oeste,RO,11,1396,274,1670
...,...,...,...,...,...,...,...
6219,5222005,Vianópolis,GO,52,614,185,799
6220,5222054,Vicentinópolis,GO,52,51,69,120
6221,5222203,Vila Boa,GO,52,20,54,74
6222,5222302,Vila Propício,GO,52,377,252,629
6223,5300108,Brasília,DF,53,1719,1487,3206

In [577]:
censo_agro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6224 entries, 0 to 6223
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Codigo_Municipio            6224 non-null   int64
 1   Município                   6224 non-null   object
 2   Sigla_UF                    6218 non-null   object
 3   UF                          6224 non-null   int64
 4   Agricultura familiar - sim  6218 non-null   object
 5   Agricultura familiar - não  6218 non-null   object
 6   Total                       6218 non-null   object
dtypes: int64(2), object(5)
memory usage: 340.5+ KB

### IPEA

In [578]:
anos_n = [2017, 2018, 2019, 2020, 2021, 2022, 2023]
anos_s = ['2017', '2018', '2019', '2020', '2021', '2022', '2023']

i = 0
for x in anos_n:
    leite = leite.rename(columns={x: anos_s[i]})
    i += 1

In [579]:
producao_db = cod_municipios[['Município', 'UF', 'Sigla_UF', 'Codigo_Municipio']]

In [580]:
producao_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Município         5570 non-null   object
 1   UF                5570 non-null   int64
 2   Sigla_UF          5570 non-null   object
 3   Codigo_Municipio  5570 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [581]:
producao = [amendoim, arroz, banana, batata_inglesa, cacau,
            cafe, cana_acucar, cebola, feijao, laranja,
            leite, mandioca, mel, milho, soja, tomate, trigo, uva]
nomes_produtos = ['amendoim(Toneladas)', 'arroz(Toneladas)', 'banana(Toneladas)', 'batata_inglesa(Toneladas)', 'cacau(Toneladas)',
                'cafe(Toneladas)', 'cana_acucar(Toneladas)', 'cebola(Toneladas)', 'feijao(Toneladas)', 'laranja(Toneladas)',
                'leite(Litros)', 'mandioca(Toneladas)', 'mel(Kg)', 'milho(Toneladas)', 'soja(Toneladas)', 'tomate(Toneladas)', 'trigo(Toneladas)', 'uva(Toneladas)']

In [582]:
i = 0
for x in nomes_produtos:
    producao_db[x] = producao[i]['2017']
    i = i + 1

In [583]:
producao_db.columns

Index(['Município', 'UF', 'Sigla_UF', 'Codigo_Municipio',
       'amendoim(Toneladas)', 'arroz(Toneladas)', 'banana(Toneladas)',
       'batata_inglesa(Toneladas)', 'cacau(Toneladas)', 'cafe(Toneladas)',
       'cana_acucar(Toneladas)', 'cebola(Toneladas)', 'feijao(Toneladas)',
       'laranja(Toneladas)', 'leite(Litros)', 'mandioca(Toneladas)', 'mel(Kg)',
       'milho(Toneladas)', 'soja(Toneladas)', 'tomate(Toneladas)',
       'trigo(Toneladas)', 'uva(Toneladas)'],
      dtype='object')

In [584]:
producao_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Município                  5570 non-null   object
 1   UF                         5570 non-null   int64
 2   Sigla_UF                   5570 non-null   object
 3   Codigo_Municipio           5570 non-null   int64
 4   amendoim(Toneladas)        5537 non-null   float64
 5   arroz(Toneladas)           5537 non-null   float64
 6   banana(Toneladas)          5507 non-null   float64
 7   batata_inglesa(Toneladas)  5537 non-null   float64
 8   cacau(Toneladas)           5507 non-null   float64
 9   cafe(Toneladas)            5507 non-null   float64
 10  cana_acucar(Toneladas)     5537 non-null   float64
 11  cebola(Toneladas)          5537 non-null   float64
 12  feijao(Toneladas)          5537 non-null   float64
 13  laranja(Toneladas)         5507 non-null   float64
 14  leite(Litros)              5482 non-null   float64
 15  mandioca(Toneladas)        5537 non-null   float64
 16  mel(Kg)                    3876 non-null   float64
 17  milho(Toneladas)           5537 non-null   float64
 18  soja(Toneladas)            5537 non-null   float64
 19  tomate(Toneladas)          5537 non-null   float64
 20  trigo(Toneladas)           5537 non-null   float64
 21  uva(Toneladas)             5507 non-null   float64
dtypes: float64(18), int64(2), object(2)
memory usage: 957.5+ KB

In [585]:
producao_db.to_csv("producao 2017", index=False)

### Integração

In [586]:
tabela_integrada = cod_municipios[['Codigo_Municipio', 'Município', 'UF', 'Sigla_UF']]

In [587]:
tabela_integrada.head()

   Codigo_Municipio                Município  UF Sigla_UF
0           1100015    Alta Floresta D'Oeste  11       RO
1           1100379  Alto Alegre dos Parecis  11       RO
2           1100403             Alto Paraíso  11       RO
3           1100346         Alvorada D'Oeste  11       RO
4           1100023                Ariquemes  11       RO

In [588]:
tabela_integrada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Codigo_Municipio  5570 non-null   int64
 1   Município         5570 non-null   object
 2   UF                5570 non-null   int64
 3   Sigla_UF          5570 non-null   object
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [589]:
tabela_integrada = tabela_integrada.merge(censo_agro, how='outer')

In [590]:
tabela_integrada = tabela_integrada.merge(producao_db.iloc[:, 3:22], how='outer')

In [591]:
tabela_integrada

,Codigo_Municipio,Município,UF,Sigla_UF,Agricultura familiar - sim,Agricultura familiar - não,Total,amendoim(Toneladas),arroz(Toneladas),banana(Toneladas),...,feijao(Toneladas),laranja(Toneladas),leite(Litros),mandioca(Toneladas),mel(Kg),milho(Toneladas),soja(Toneladas),tomate(Toneladas),trigo(Toneladas),uva(Toneladas)
0,1100015,Alta Floresta D'Oeste,11,RO,2016,566,2582,0.0,48.341541,21000.0,...,208.0,1050.0,6182.0,16500.0,11.0,3120.0,0.0,0.0,0.0,0.0
1,1100023,Ariquemes,11,RO,1760,543,2303,54.0,76.489779,3603.0,...,95.0,280.0,3198.0,33788.0,200.0,8058.0,81.0,0.0,0.0,0.0
2,1100031,Cabixi,11,RO,774,187,961,0.0,301.063772,3335.0,...,132.0,96.0,3405.0,19204.0,720.0,4610.0,0.0,0.0,0.0,0.0
3,1100049,Cacoal,11,RO,3027,411,3438,0.0,29.983994,1455.0,...,18.0,46.0,104.0,21120.0,NaN,935.0,0.0,0.0,0.0,0.0
4,1100056,Cerejeiras,11,RO,468,203,671,36.0,17.133711,6250.0,...,33.0,2100.0,4821.0,16400.0,1314.0,2990.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7017,5222005,Vianópolis,52,GO,614,185,799,0.0,0.000000,136.0,...,20.0,0.0,1021.0,1560.0,935.0,90.0,0.0,0.0,0.0,0.0
7018,5222054,Vicentinópolis,52,GO,51,69,120,0.0,7.954937,12.0,...,0.0,0.0,64.0,114.0,NaN,24.0,0.0,0.0,0.0,0.0
7019,5222203,Vila Boa,52,GO,20,54,74,0.0,72.206352,0.0,...,0.0,0.0,885.0,320.0,NaN,180.0,28050.0,0.0,0.0,0.0
7020,5222302,Vila Propício,52,GO,377,252,629,0.0,72.206352,10.0,...,0.0,0.0,3997.0,800.0,NaN,180.0,2700.0,0.0,0.0,0.0
7021,5300108,Brasília,53,DF,1719,1487,3206,8.0,19.581384,80.0,...,28.0,0.0,1402.0,720.0,30.0,36.0,0.0,0.0,0.0,0.0

In [595]:
tabela_integrada = tabela_integrada.rename(columns={'Agricultura familiar - sim': 'Número de estabelecimentos agropecuários considerados como agricultura familiar', 
                         'Agricultura familiar - não': 'Número de estabelecimentos agropecuários não considerados como agricultura familiar',
                         'Total': 'Número total de estabelecimentos agropecuários'})

In [596]:
tabela_integrada

,Codigo_Municipio,Município,UF,Sigla_UF,Número de estabelecimentos agropecuários considerados como agricultura familiar,Número de estabelecimentos agropecuários não considerados como agricultura familiar,Número total de estabelecimentos agropecuários,amendoim(Toneladas),arroz(Toneladas),banana(Toneladas),...,feijao(Toneladas),laranja(Toneladas),leite(Litros),mandioca(Toneladas),mel(Kg),milho(Toneladas),soja(Toneladas),tomate(Toneladas),trigo(Toneladas),uva(Toneladas)
0,1100015,Alta Floresta D'Oeste,11,RO,2016,566,2582,0.0,48.341541,21000.0,...,208.0,1050.0,6182.0,16500.0,11.0,3120.0,0.0,0.0,0.0,0.0
1,1100023,Ariquemes,11,RO,1760,543,2303,54.0,76.489779,3603.0,...,95.0,280.0,3198.0,33788.0,200.0,8058.0,81.0,0.0,0.0,0.0
2,1100031,Cabixi,11,RO,774,187,961,0.0,301.063772,3335.0,...,132.0,96.0,3405.0,19204.0,720.0,4610.0,0.0,0.0,0.0,0.0
3,1100049,Cacoal,11,RO,3027,411,3438,0.0,29.983994,1455.0,...,18.0,46.0,104.0,21120.0,NaN,935.0,0.0,0.0,0.0,0.0
4,1100056,Cerejeiras,11,RO,468,203,671,36.0,17.133711,6250.0,...,33.0,2100.0,4821.0,16400.0,1314.0,2990.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7017,5222005,Vianópolis,52,GO,614,185,799,0.0,0.000000,136.0,...,20.0,0.0,1021.0,1560.0,935.0,90.0,0.0,0.0,0.0,0.0
7018,5222054,Vicentinópolis,52,GO,51,69,120,0.0,7.954937,12.0,...,0.0,0.0,64.0,114.0,NaN,24.0,0.0,0.0,0.0,0.0
7019,5222203,Vila Boa,52,GO,20,54,74,0.0,72.206352,0.0,...,0.0,0.0,885.0,320.0,NaN,180.0,28050.0,0.0,0.0,0.0
7020,5222302,Vila Propício,52,GO,377,252,629,0.0,72.206352,10.0,...,0.0,0.0,3997.0,800.0,NaN,180.0,2700.0,0.0,0.0,0.0
7021,5300108,Brasília,53,DF,1719,1487,3206,8.0,19.581384,80.0,...,28.0,0.0,1402.0,720.0,30.0,36.0,0.0,0.0,0.0,0.0