# Imports

In [171]:
import pandas as pd

In [172]:
censo_agro = pd.read_excel("dataset/Producao Alimentar/Tipos de Cultivo e Produtores/Tabela 6906.ods")

In [173]:
cod_municipios = pd.read_csv('Código dos Municípios')

In [174]:
pib_Munic = pd.read_excel("dataset/Economico/Renda e Desenvolvimento/PIB/PIB-Munic.xlsx")
pib_Munic_BD = pd.read_excel("dataset/Economico/Renda e Desenvolvimento/PIB/PIB dos Municбpios - base de dados 2010-2021.xlsx")

In [244]:
PAM_2017 = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/PAM_2017.xlsx")

In [ ]:
PAM_2018 = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/PAM_2017.xlsx")

# 2017

## Analise inicial

### Censo Agro

In [176]:
censo_agro.head()

,Município,Total,Agricultura familiar - não,Agricultura familiar - sim
0,Alta Floresta D'Oeste (RO),2582,566,2016
1,Ariquemes (RO),2303,543,1760
2,Cabixi (RO),961,187,774
3,Cacoal (RO),3438,411,3027
4,Cerejeiras (RO),671,203,468

In [177]:
censo_agro.columns

Index(['Município', 'Total', 'Agricultura familiar - não',
       'Agricultura familiar - sim'],
      dtype='object')

In [178]:
censo_agro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Município                   5563 non-null   object
 1   Total                       5563 non-null   object
 2   Agricultura familiar - não  5563 non-null   object
 3   Agricultura familiar - sim  5563 non-null   object
dtypes: object(4)
memory usage: 174.0+ KB

In [179]:
censo_agro.describe()

,Município,Total,Agricultura familiar - não,Agricultura familiar - sim
count,5563,5563,5563,5563
unique,5563,1867,709,1624
top,Brasília (DF),216,39,190
freq,1,15,43,16

### Municipios

In [180]:
cod_municipios.head()

   UF   Nome_UF                Município  Codigo_Municipio Sigla_UF
0  11  Rondônia    Alta Floresta D'Oeste           1100015       RO
1  11  Rondônia  Alto Alegre dos Parecis           1100379       RO
2  11  Rondônia             Alto Paraíso           1100403       RO
3  11  Rondônia         Alvorada D'Oeste           1100346       RO
4  11  Rondônia                Ariquemes           1100023       RO

In [181]:
cod_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UF                5570 non-null   int64
 1   Nome_UF           5570 non-null   object
 2   Município         5570 non-null   object
 3   Codigo_Municipio  5570 non-null   int64
 4   Sigla_UF          5570 non-null   object
dtypes: int64(2), object(3)
memory usage: 217.7+ KB

In [182]:
cod_municipios['Codigo_Municipio'].value_counts()

Codigo_Municipio
5300108    1
1100015    1
5221197    1
5221080    1
5221007    1
          ..
1100031    1
1100452    1
1100023    1
1100346    1
1100403    1
Name: count, Length: 5570, dtype: int64

### PIB Munic

In [183]:
pib_Munic.head()

,Cód.,Município,2017,2018,2019,2020,2021
0,1100015,Alta Floresta D'Oeste (RO),485374,498980,495775,570242,734469
1,1100023,Ariquemes (RO),2287910,2464704,2579278,2817331,3209761
2,1100031,Cabixi (RO),138110,140503,139976,167153,238412
3,1100049,Cacoal (RO),2082761,2175840,2261930,2518845,2792383
4,1100056,Cerejeiras (RO),439245,470647,506494,600630,743037

In [184]:
pib_Munic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Cód.       5570 non-null   int64
 1   Município  5570 non-null   object
 2   2017       5570 non-null   int64
 3   2018       5570 non-null   int64
 4   2019       5570 non-null   int64
 5   2020       5570 non-null   int64
 6   2021       5570 non-null   int64
dtypes: int64(6), object(1)
memory usage: 304.7+ KB

In [185]:
pib_Munic.describe()

,Cód.,2017,2018,2019,2020,2021
count,5.570000e+03,5.570000e+03,5.570000e+03,5.570000e+03,5.570000e+03,5.570000e+03
mean,3.253591e+06,1.182312e+06,1.257476e+06,1.326594e+06,1.366175e+06,1.617979e+06
std,9.849103e+05,1.161692e+07,1.204436e+07,1.269125e+07,1.235064e+07,1.377462e+07
min,1.100015e+06,1.299300e+04,1.412700e+04,1.547400e+04,1.674000e+04,1.805100e+04
25%,2.512126e+06,7.957350e+04,8.231525e+04,8.762900e+04,9.720625e+04,1.124902e+05
50%,3.146280e+06,1.766060e+05,1.822400e+05,1.924050e+05,2.176515e+05,2.531965e+05
75%,4.119190e+06,4.705655e+05,4.940005e+05,5.145638e+05,5.837015e+05,6.803900e+05
max,5.300108e+06,6.989522e+08,7.146636e+08,7.635978e+08,7.469093e+08,8.289806e+08

### PIB Munic BD

In [186]:
pib_Munic_BD.head()

,Ano,Código da Grande Região,Nome da Grande Região,Código da Unidade da Federação,Sigla da Unidade da Federação,Nome da Unidade da Federação,Código do Município,Nome do Município,Região Metropolitana,Código da Mesorregião,...,"Valor adicionado bruto da Indústria,\na preços correntes\n(R$ 1.000)","Valor adicionado bruto dos Serviços,\na preços correntes \n- exceto Administração, defesa, educação e saúde públicas e seguridade social\n(R$ 1.000)","Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social, \na preços correntes\n(R$ 1.000)","Valor adicionado bruto total, \na preços correntes\n(R$ 1.000)","Impostos, líquidos de subsídios, sobre produtos, \na preços correntes\n(R$ 1.000)","Produto Interno Bruto, \na preços correntes\n(R$ 1.000)","Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto,Atividade com segundo maior valor adicionado bruto,Atividade com terceiro maior valor adicionado bruto
0,2010,1,Norte,11,RO,Rondônia,1100015,Alta Floresta D'Oeste,NaN,1102,...,16118.534,62496.185,93244.656,241119.767,20957.111,262076.878,10731.18,"Administração, defesa, educação e saúde públic...","Pecuária, inclusive apoio à pecuária",Demais serviços
1,2010,1,Norte,11,RO,Rondônia,1100023,Ariquemes,NaN,1102,...,287138.585,494946.267,343867.731,1199664.227,165029.553,1364693.780,15103.86,"Administração, defesa, educação e saúde públic...",Demais serviços,Comércio e reparação de veículos automotores e...
2,2010,1,Norte,11,RO,Rondônia,1100031,Cabixi,NaN,1102,...,3252.506,12677.210,25170.235,65400.772,4210.342,69611.114,11033.62,"Administração, defesa, educação e saúde públic...","Pecuária, inclusive apoio à pecuária",Demais serviços
3,2010,1,Norte,11,RO,Rondônia,1100049,Cacoal,NaN,1102,...,182051.537,465447.325,298454.309,1041212.374,145281.717,1186494.091,15095.15,"Administração, defesa, educação e saúde públic...",Demais serviços,Comércio e reparação de veículos automotores e...
4,2010,1,Norte,11,RO,Rondônia,1100056,Cerejeiras,NaN,1102,...,19734.484,80724.991,63018.270,192454.160,29567.029,222021.189,13037.06,"Administração, defesa, educação e saúde públic...",Demais serviços,Comércio e reparação de veículos automotores e...

In [187]:
pib_Munic_BD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66825 entries, 0 to 66824
Data columns (total 43 columns):
 #   Column                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                             --------------  -----
 0   Ano                                                                                                                                                66825 non-null  int64
 1   Código da Grande Região                                                                                                                            66825 non-null  int64
 2   Nome da Grande Região                                                                                                                              66825 non-null  object
 3   Código da Unidade da Federação                                                                                                                     66825 non-null  int64
 4   Sigla da Unidade da Federação                                                                                                                      66825 non-null  object
 5   Nome da Unidade da Federação                                                                                                                       66825 non-null  object
 6   Código do Município                                                                                                                                66825 non-null  int64
 7   Nome do Município                                                                                                                                  66825 non-null  object
 8   Região Metropolitana                                                                                                                               17172 non-null  object
 9   Código da Mesorregião                                                                                                                              66825 non-null  int64
 10  Nome da Mesorregião                                                                                                                                66825 non-null  object
 11  Código da Microrregião                                                                                                                             66825 non-null  int64
 12  Nome da Microrregião                                                                                                                               66825 non-null  object
 13  Código da Região Geográfica Imediata                                                                                                               66825 non-null  int64
 14  Nome da Região Geográfica Imediata                                                                                                                 66825 non-null  object
 15  Município da Região Geográfica Imediata                                                                                                            66825 non-null  object
 16  Código da Região Geográfica Intermediária                                                                                                          66825 non-null  int64
 17  Nome da Região Geográfica Intermediária                                                                                                            66825 non-null  object
 18  Município da Região Geográfica Intermediária                                                                                                       66825 non-null  object
 19  Código Concentração Urbana                                                                                                                         7911 non-null   float64
 20  Nome Concentração Urbana                                                                                                                           7911 non-null   object
 21  Tipo Concentração Urbana                                                                                                                           7911 non-null   object
 22  Código Arranjo Populacional                                                                                                                        11463 non-null  float64
 23  Nome Arranjo Populacional                                                                                                                          11463 non-null  object
 24  Hierarquia Urbana                                                                                                                                  66825 non-null  object
 25  Hierarquia Urbana (principais categorias)                                                                                                          66825 non-null  object
 26  Código da Região Rural                                                                                                                             66825 non-null  int64
 27  Nome da Região Rural                                                                                                                               66825 non-null  object
 28  Região rural (segundo classificação do núcleo)                                                                                                     66825 non-null  object
 29  Amazônia Legal                                                                                                                                     66825 non-null  object
 30  Semiárido                                                                                                                                          66825 non-null  object
 31  Cidade-Região de São Paulo                                                                                                                         66825 non-null  object
 32  Valor adicionado bruto da Agropecuária,
a preços correntes
(R$ 1.000)                                                                             66825 non-null  float64
 33  Valor adicionado bruto da Indústria,
a preços correntes
(R$ 1.000)                                                                                 66825 non-null  float64
 34  Valor adicionado bruto dos Serviços,
a preços correntes
- exceto Administração, defesa, educação e saúde públicas e seguridade social
(R$ 1.000)  66825 non-null  float64
 35  Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social,
a preços correntes
(R$ 1.000)                     66825 non-null  float64
 36  Valor adicionado bruto total,
a preços correntes
(R$ 1.000)                                                                                       66825 non-null  float64
 37  Impostos, líquidos de subsídios, sobre produtos,
a preços correntes
(R$ 1.000)                                                                    66825 non-null  float64
 38  Produto Interno Bruto,
a preços correntes
(R$ 1.000)                                                                                              66825 non-null  float64
 39  Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)                                                                                    66825 non-null  float64
 40  Atividade com maior valor adicionado bruto                                                                                                         66825 non-null  object
 41  Atividade com segundo maior valor adicionado bruto                                                                                                 66825 non-null  object
 42  Atividade com terceiro maior valor adicionado bruto                                                                                                66825 non-null  object
dtypes: float64(10), int64(9), object(24)
memory usage: 21.9+ MB

In [188]:
pib_Munic_BD.columns

Index(['Ano', 'Código da Grande Região', 'Nome da Grande Região',
       'Código da Unidade da Federação', 'Sigla da Unidade da Federação',
       'Nome da Unidade da Federação', 'Código do Município',
       'Nome do Município', 'Região Metropolitana', 'Código da Mesorregião',
       'Nome da Mesorregião', 'Código da Microrregião', 'Nome da Microrregião',
       'Código da Região Geográfica Imediata',
       'Nome da Região Geográfica Imediata',
       'Município da Região Geográfica Imediata',
       'Código da Região Geográfica Intermediária',
       'Nome da Região Geográfica Intermediária',
       'Município da Região Geográfica Intermediária',
       'Código Concentração Urbana', 'Nome Concentração Urbana',
       'Tipo Concentração Urbana', 'Código Arranjo Populacional',
       'Nome Arranjo Populacional', 'Hierarquia Urbana',
       'Hierarquia Urbana (principais categorias)', 'Código da Região Rural',
       'Nome da Região Rural',
       'Região rural (segundo classificação do núcleo)', 'Amazônia Legal',
       'Semiárido', 'Cidade-Região de São Paulo',
       'Valor adicionado bruto da Agropecuária, \na preços correntes\n(R$ 1.000)',
       'Valor adicionado bruto da Indústria,\na preços correntes\n(R$ 1.000)',
       'Valor adicionado bruto dos Serviços,\na preços correntes \n- exceto Administração, defesa, educação e saúde públicas e seguridade social\n(R$ 1.000)',
       'Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social, \na preços correntes\n(R$ 1.000)',
       'Valor adicionado bruto total, \na preços correntes\n(R$ 1.000)',
       'Impostos, líquidos de subsídios, sobre produtos, \na preços correntes\n(R$ 1.000)',
       'Produto Interno Bruto, \na preços correntes\n(R$ 1.000)',
       'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)',
       'Atividade com maior valor adicionado bruto',
       'Atividade com segundo maior valor adicionado bruto',
       'Atividade com terceiro maior valor adicionado bruto'],
      dtype='object')

#### 2017

In [189]:
pib_Munic_BD_2017 = pib_Munic_BD[pib_Munic_BD['Ano'] == 2017][['Código do Município', 'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)','Atividade com maior valor adicionado bruto']]

In [190]:
pib_Munic_BD_2017.head()

,Código do Município,"Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto
38975,1100015,19081.43,"Administração, defesa, educação e saúde públic..."
38976,1100023,21313.62,Demais serviços
38977,1100031,22189.90,"Administração, defesa, educação e saúde públic..."
38978,1100049,23532.16,Demais serviços
38979,1100056,24492.33,"Administração, defesa, educação e saúde públic..."

In [191]:
pib_Munic_BD_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 38975 to 44544
Data columns (total 3 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Código do Município                                              5570 non-null   int64
 1   Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)  5570 non-null   float64
 2   Atividade com maior valor adicionado bruto                       5570 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 174.1+ KB

### PAM

In [192]:
PAM_2017.head(10)

,Município,Abacate,Abacaxi*,Açaí,Alfafa fenada,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
0,Alta Floresta D'Oeste (RO),-,45,-,...,-,-,-,1,705,...,-,1350,-,-,-,-,-,-,-,-
1,Ariquemes (RO),-,500,62,...,-,-,-,-,2680,...,-,10959,-,-,-,-,-,-,4,-
2,Cabixi (RO),-,320,-,...,-,-,-,75,7760,...,-,70320,-,60,90,-,-,-,525,-
3,Cacoal (RO),-,750,-,...,-,-,-,-,90,...,-,1710,-,170,90,-,-,-,-,-
4,Cerejeiras (RO),-,200,-,...,-,-,-,-,3200,...,-,98000,-,-,900,-,-,-,100,-
5,Colorado do Oeste (RO),-,90,-,...,-,-,-,-,252,...,-,10888,-,30,192,-,-,-,20,-
6,Corumbiara (RO),-,125,-,...,-,-,-,3,7200,...,-,125500,-,-,35,-,-,-,250,-
7,Costa Marques (RO),-,39,-,...,-,-,-,-,-,...,-,-,-,-,-,-,-,-,708,-
8,Espigão D'Oeste (RO),-,35,24,...,-,-,-,4,84,...,-,3240,-,8,700,-,-,-,1,-
9,Guajará-Mirim (RO),-,180,16,...,-,-,-,1,14,...,-,-,-,-,-,-,-,-,7,-

In [193]:
PAM_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 72 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Município                     5563 non-null   object
 1   Abacate                       5563 non-null   object
 2   Abacaxi*                      5563 non-null   object
 3   Açaí                          5563 non-null   object
 4   Alfafa fenada                 5563 non-null   object
 5   Algodão arbóreo (em caroço)   5563 non-null   object
 6   Algodão herbáceo (em caroço)  5563 non-null   object
 7   Alho                          5563 non-null   object
 8   Amendoim (em casca)           5563 non-null   object
 9   Arroz (em casca)              5563 non-null   object
 10  Aveia (em grão)               5563 non-null   object
 11  Azeitona                      5563 non-null   object
 12  Banana (cacho)                5563 non-null   object
 13  Batata-doce                   5563 non-null   object
 14  Batata-inglesa                5563 non-null   object
 15  Borracha (látex coagulado)    5563 non-null   object
 16  Borracha (látex líquido)      5563 non-null   object
 17  Cacau (em amêndoa)            5563 non-null   object
 18  Café (em grão) Total          5563 non-null   object
 19  Café (em grão) Arábica        5563 non-null   object
 20  Café (em grão) Canephora      5563 non-null   object
 21  Caju                          5563 non-null   object
 22  Cana-de-açúcar                5563 non-null   object
 23  Cana para forragem            5563 non-null   object
 24  Caqui                         5563 non-null   object
 25  Castanha de caju              5563 non-null   object
 26  Cebola                        5563 non-null   object
 27  Centeio (em grão)             5563 non-null   object
 28  Cevada (em grão)              5563 non-null   object
 29  Chá-da-índia (folha verde)    5563 non-null   object
 30  Coco-da-baía*                 5563 non-null   object
 31  Dendê (cacho de coco)         5563 non-null   object
 32  Erva-mate (folha verde)       5563 non-null   object
 33  Ervilha (em grão)             5563 non-null   object
 34  Fava (em grão)                5563 non-null   object
 35  Feijão (em grão)              5563 non-null   object
 36  Figo                          5563 non-null   object
 37  Fumo (em folha)               5563 non-null   object
 38  Girassol (em grão)            5563 non-null   object
 39  Goiaba                        5563 non-null   object
 40  Guaraná (semente)             5563 non-null   object
 41  Juta (fibra)                  5563 non-null   object
 42  Laranja                       5563 non-null   object
 43  Limão                         5563 non-null   object
 44  Linho (semente)               5563 non-null   object
 45  Maçã                          5563 non-null   object
 46  Malva (fibra)                 5563 non-null   object
 47  Mamão                         5563 non-null   object
 48  Mamona (baga)                 5563 non-null   object
 49  Mandioca                      5563 non-null   object
 50  Manga                         5563 non-null   object
 51  Maracujá                      5563 non-null   object
 52  Marmelo                       5563 non-null   object
 53  Melancia                      5563 non-null   object
 54  Melão                         5563 non-null   object
 55  Milho (em grão)               5563 non-null   object
 56  Noz (fruto seco)              5563 non-null   object
 57  Palmito                       5563 non-null   object
 58  Pera                          5563 non-null   object
 59  Pêssego                       5563 non-null   object
 60  Pimenta-do-reino              5563 non-null   object
 61  Rami (fibra)                  5563 non-null   object
 62  Sisal ou agave (fibra)        5563 non-null   object
 63  Soja (em grão)                5563 non-null   object
 64  Sorgo (em grão)               5563 non-null   object
 65  Tangerina                     5563 non-null   object
 66  Tomate                        5563 non-null   object
 67  Trigo (em grão)               5563 non-null   object
 68  Triticale (em grão)           5563 non-null   object
 69  Tungue (fruto seco)           5563 non-null   object
 70  Urucum (semente)              5563 non-null   object
 71  Uva                           5563 non-null   object
dtypes: object(72)
memory usage: 3.1+ MB

In [194]:
PAM_2017.describe()

,Município,Abacate,Abacaxi*,Açaí,Alfafa fenada,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
count,5563,5563,5563,5563,5563,5563,5563,5563,5563,5563,...,5563,5563,5563,5563,5563,5563,5563,5563,5563,5563
unique,5563,222,339,139,1,2,147,92,257,731,...,59,1687,327,411,521,558,91,9,81,353
top,Brasília (DF),-,-,-,...,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
freq,1,4793,4581,5319,5563,5511,5314,4993,4327,3580,...,5440,3236,4994,4252,3829,4571,5395,5503,5246,4361

## Transformação da Tabela

### Censo agropecuario

In [195]:
data = pd.DataFrame(columns=['MU', 'UF'])

nomes= []
ufs = []
i = 0

for index, row in censo_agro.iterrows():
    tmp = row['Município'].split(" (")
    nomes.append(tmp[0])
    ufs.append(tmp[1].strip(")"))
    

for index, row in censo_agro.iterrows():
    row['Município'] = nomes[i]
    i = i+1

In [196]:
censo_agro['Sigla_UF'] = ''

i = 0
for index, row in censo_agro.iterrows():
    censo_agro.iat[i, 4] = ufs[i]
    i = i+1

In [197]:
censo_agro = censo_agro.merge(cod_municipios[['Codigo_Municipio', 'UF', 'Município', 'Sigla_UF']], how='right',left_on=['Município', 'Sigla_UF'], right_on=['Município', 'Sigla_UF'])

In [198]:
censo_agro = censo_agro[['Codigo_Municipio', 'Município', 'Sigla_UF', 'UF', 'Agricultura familiar - sim', 'Agricultura familiar - não', 'Total']]
censo_agro

,Codigo_Municipio,Município,Sigla_UF,UF,Agricultura familiar - sim,Agricultura familiar - não,Total
0,1100015,Alta Floresta D'Oeste,RO,11,2016,566,2582
1,1100379,Alto Alegre dos Parecis,RO,11,1308,349,1657
2,1100403,Alto Paraíso,RO,11,1964,318,2282
3,1100346,Alvorada D'Oeste,RO,11,1396,274,1670
4,1100023,Ariquemes,RO,11,1760,543,2303
...,...,...,...,...,...,...,...
5565,5222005,Vianópolis,GO,52,614,185,799
5566,5222054,Vicentinópolis,GO,52,51,69,120
5567,5222203,Vila Boa,GO,52,20,54,74
5568,5222302,Vila Propício,GO,52,377,252,629
5569,5300108,Brasília,DF,53,1719,1487,3206

### PIB Munic

In [199]:
pib_Munic['2017'] = pib_Munic['2017'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [200]:
pib_Munic = pib_Munic.rename(columns={'Cód.':'Codigo_Municipio','2017':'PIB do Municipio'})

In [201]:
pib_Munic.head()

,Codigo_Municipio,Município,PIB do Municipio,2018,2019,2020,2021
0,1100015,Alta Floresta D'Oeste (RO),"485.374,0",498980,495775,570242,734469
1,1100023,Ariquemes (RO),"2.287.910,0",2464704,2579278,2817331,3209761
2,1100031,Cabixi (RO),"138.110,0",140503,139976,167153,238412
3,1100049,Cacoal (RO),"2.082.761,0",2175840,2261930,2518845,2792383
4,1100056,Cerejeiras (RO),"439.245,0",470647,506494,600630,743037

### PIB Munic BD

In [202]:
pib_Munic_BD_2017.head()

,Código do Município,"Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto
38975,1100015,19081.43,"Administração, defesa, educação e saúde públic..."
38976,1100023,21313.62,Demais serviços
38977,1100031,22189.90,"Administração, defesa, educação e saúde públic..."
38978,1100049,23532.16,Demais serviços
38979,1100056,24492.33,"Administração, defesa, educação e saúde públic..."

In [203]:
pib_Munic_BD_2017 = pib_Munic_BD_2017.rename(columns={'Código do Município': 'Codigo_Municipio', 
                                                      'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)': 'Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'})

In [204]:
pib_Munic_BD_2017['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'] = pib_Munic_BD_2017['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

### PAM

In [245]:
data = pd.DataFrame(columns=['MU', 'UF'])

nomes= []
ufs = []
i = 0

for index, row in PAM_2017.iterrows():
    tmp = row['Município'].split(" (")
    nomes.append(tmp[0])
    ufs.append(tmp[1].strip(")"))
    

for index, row in PAM_2017.iterrows():
    row['Município'] = nomes[i]
    i = i+1
    
PAM_2017['Sigla_UF'] = ''

i = 0
for index, row in PAM_2017.iterrows():
    PAM_2017.iat[i, 72] = ufs[i]
    i = i+1

In [246]:
PAM_2017 = PAM_2017.merge(cod_municipios[['Codigo_Municipio', 'Município', 'Sigla_UF']], how='right',left_on=['Município', 'Sigla_UF'], right_on=['Município', 'Sigla_UF'])

In [253]:
PAM_2017.columns

Index(['Codigo_Municipio', 'Produção de Abacate(toneladas)',
       'Produção de Abacaxi*(toneladas)', 'Produção de Açaí(toneladas)',
       'Produção de Alfafa fenada(toneladas)',
       'Produção de Algodão arbóreo (em caroço)(toneladas)',
       'Produção de Algodão herbáceo (em caroço)(toneladas)',
       'Produção de Alho(toneladas)',
       'Produção de Amendoim (em casca)(toneladas)',
       'Produção de Arroz (em casca)(toneladas)',
       'Produção de Aveia (em grão)(toneladas)',
       'Produção de Azeitona(toneladas)',
       'Produção de Banana (cacho)(toneladas)',
       'Produção de Batata-doce(toneladas)',
       'Produção de Batata-inglesa(toneladas)',
       'Produção de Borracha (látex coagulado)(toneladas)',
       'Produção de Borracha (látex líquido)(toneladas)',
       'Produção de Cacau (em amêndoa)(toneladas)',
       'Produção de Café (em grão) Total(toneladas)',
       'Produção de Café (em grão) Arábica(toneladas)',
       'Produção de Café (em grão) Canephora(toneladas)',
       'Produção de Caju(toneladas)', 'Produção de Cana-de-açúcar(toneladas)',
       'Produção de Cana para forragem(toneladas)',
       'Produção de Caqui(toneladas)',
       'Produção de Castanha de caju(toneladas)',
       'Produção de Cebola(toneladas)',
       'Produção de Centeio (em grão)(toneladas)',
       'Produção de Cevada (em grão)(toneladas)',
       'Produção de Chá-da-índia (folha verde)(toneladas)',
       'Produção de Coco-da-baía*(toneladas)',
       'Produção de Dendê (cacho de coco)(toneladas)',
       'Produção de Erva-mate (folha verde)(toneladas)',
       'Produção de Ervilha (em grão)(toneladas)',
       'Produção de Fava (em grão)(toneladas)',
       'Produção de Feijão (em grão)(toneladas)',
       'Produção de Figo(toneladas)', 'Produção de Fumo (em folha)(toneladas)',
       'Produção de Girassol (em grão)(toneladas)',
       'Produção de Goiaba(toneladas)',
       'Produção de Guaraná (semente)(toneladas)',
       'Produção de Juta (fibra)(toneladas)', 'Produção de Laranja(toneladas)',
       'Produção de Limão(toneladas)',
       'Produção de Linho (semente)(toneladas)', 'Produção de Maçã(toneladas)',
       'Produção de Malva (fibra)(toneladas)', 'Produção de Mamão(toneladas)',
       'Produção de Mamona (baga)(toneladas)',
       'Produção de Mandioca(toneladas)', 'Produção de Manga(toneladas)',
       'Produção de Maracujá(toneladas)', 'Produção de Marmelo(toneladas)',
       'Produção de Melancia(toneladas)', 'Produção de Melão(toneladas)',
       'Produção de Milho (em grão)(toneladas)',
       'Produção de Noz (fruto seco)(toneladas)',
       'Produção de Palmito(toneladas)', 'Produção de Pera(toneladas)',
       'Produção de Pêssego(toneladas)',
       'Produção de Pimenta-do-reino(toneladas)',
       'Produção de Rami (fibra)(toneladas)',
       'Produção de Sisal ou agave (fibra)(toneladas)',
       'Produção de Soja (em grão)(toneladas)',
       'Produção de Sorgo (em grão)(toneladas)',
       'Produção de Tangerina(toneladas)', 'Produção de Tomate(toneladas)',
       'Produção de Trigo (em grão)(toneladas)',
       'Produção de Triticale (em grão)(toneladas)',
       'Produção de Tungue (fruto seco)(toneladas)',
       'Produção de Urucum (semente)(toneladas)',
       'Produção de Uva(toneladas)'],
      dtype='object')

Reorganiza a ordem das colunas para o codigo do município ser a primeira de todas

In [248]:
PAM_2017 = PAM_2017.drop(['Sigla_UF', 'Município'], axis=1)

In [250]:
PAM_2017 = PAM_2017[['Codigo_Municipio'] + [col for col in PAM_2017.columns if col != 'Codigo_Municipio']]

Renomea as colunas que informam a qtd produzida adicionando a unidade de medida na frente

In [252]:
for x in PAM_2017.columns[1:]:
    PAM_2017 = PAM_2017.rename(columns={x:'Produção de ' + x + '(toneladas)'})

## Integração

In [265]:
bd_2017 = cod_municipios[['Codigo_Municipio', 'Município', 'UF', 'Sigla_UF']]

In [266]:
bd_2017.head()

   Codigo_Municipio                Município  UF Sigla_UF
0           1100015    Alta Floresta D'Oeste  11       RO
1           1100379  Alto Alegre dos Parecis  11       RO
2           1100403             Alto Paraíso  11       RO
3           1100346         Alvorada D'Oeste  11       RO
4           1100023                Ariquemes  11       RO

In [275]:
bd_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 81 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Codigo_Municipio                                               5570 non-null   int64
 1   Município                                                      5570 non-null   object
 2   UF                                                             5570 non-null   int64
 3   Sigla_UF                                                       5570 non-null   object
 4   Agricultura familiar - sim                                     5563 non-null   object
 5   Agricultura familiar - não                                     5563 non-null   object
 6   Total                                                          5563 non-null   object
 7   PIB do Municipio                                               5570 non-null   object
 8   Produto Interno Bruto per capita, a preços correntes(R$ 1,00)  5570 non-null   object
 9   Atividade com maior valor adicionado bruto                     5570 non-null   object
 10  Produção de Abacate(toneladas)                                 5563 non-null   object
 11  Produção de Abacaxi*(toneladas)                                5563 non-null   object
 12  Produção de Açaí(toneladas)                                    5563 non-null   object
 13  Produção de Alfafa fenada(toneladas)                           5563 non-null   object
 14  Produção de Algodão arbóreo (em caroço)(toneladas)             5563 non-null   object
 15  Produção de Algodão herbáceo (em caroço)(toneladas)            5563 non-null   object
 16  Produção de Alho(toneladas)                                    5563 non-null   object
 17  Produção de Amendoim (em casca)(toneladas)                     5563 non-null   object
 18  Produção de Arroz (em casca)(toneladas)                        5563 non-null   object
 19  Produção de Aveia (em grão)(toneladas)                         5563 non-null   object
 20  Produção de Azeitona(toneladas)                                5563 non-null   object
 21  Produção de Banana (cacho)(toneladas)                          5563 non-null   object
 22  Produção de Batata-doce(toneladas)                             5563 non-null   object
 23  Produção de Batata-inglesa(toneladas)                          5563 non-null   object
 24  Produção de Borracha (látex coagulado)(toneladas)              5563 non-null   object
 25  Produção de Borracha (látex líquido)(toneladas)                5563 non-null   object
 26  Produção de Cacau (em amêndoa)(toneladas)                      5563 non-null   object
 27  Produção de Café (em grão) Total(toneladas)                    5563 non-null   object
 28  Produção de Café (em grão) Arábica(toneladas)                  5563 non-null   object
 29  Produção de Café (em grão) Canephora(toneladas)                5563 non-null   object
 30  Produção de Caju(toneladas)                                    5563 non-null   object
 31  Produção de Cana-de-açúcar(toneladas)                          5563 non-null   object
 32  Produção de Cana para forragem(toneladas)                      5563 non-null   object
 33  Produção de Caqui(toneladas)                                   5563 non-null   object
 34  Produção de Castanha de caju(toneladas)                        5563 non-null   object
 35  Produção de Cebola(toneladas)                                  5563 non-null   object
 36  Produção de Centeio (em grão)(toneladas)                       5563 non-null   object
 37  Produção de Cevada (em grão)(toneladas)                        5563 non-null   object
 38  Produção de Chá-da-índia (folha verde)(toneladas)              5563 non-null   object
 39  Produção de Coco-da-baía*(toneladas)                           5563 non-null   object
 40  Produção de Dendê (cacho de coco)(toneladas)                   5563 non-null   object
 41  Produção de Erva-mate (folha verde)(toneladas)                 5563 non-null   object
 42  Produção de Ervilha (em grão)(toneladas)                       5563 non-null   object
 43  Produção de Fava (em grão)(toneladas)                          5563 non-null   object
 44  Produção de Feijão (em grão)(toneladas)                        5563 non-null   object
 45  Produção de Figo(toneladas)                                    5563 non-null   object
 46  Produção de Fumo (em folha)(toneladas)                         5563 non-null   object
 47  Produção de Girassol (em grão)(toneladas)                      5563 non-null   object
 48  Produção de Goiaba(toneladas)                                  5563 non-null   object
 49  Produção de Guaraná (semente)(toneladas)                       5563 non-null   object
 50  Produção de Juta (fibra)(toneladas)                            5563 non-null   object
 51  Produção de Laranja(toneladas)                                 5563 non-null   object
 52  Produção de Limão(toneladas)                                   5563 non-null   object
 53  Produção de Linho (semente)(toneladas)                         5563 non-null   object
 54  Produção de Maçã(toneladas)                                    5563 non-null   object
 55  Produção de Malva (fibra)(toneladas)                           5563 non-null   object
 56  Produção de Mamão(toneladas)                                   5563 non-null   object
 57  Produção de Mamona (baga)(toneladas)                           5563 non-null   object
 58  Produção de Mandioca(toneladas)                                5563 non-null   object
 59  Produção de Manga(toneladas)                                   5563 non-null   object
 60  Produção de Maracujá(toneladas)                                5563 non-null   object
 61  Produção de Marmelo(toneladas)                                 5563 non-null   object
 62  Produção de Melancia(toneladas)                                5563 non-null   object
 63  Produção de Melão(toneladas)                                   5563 non-null   object
 64  Produção de Milho (em grão)(toneladas)                         5563 non-null   object
 65  Produção de Noz (fruto seco)(toneladas)                        5563 non-null   object
 66  Produção de Palmito(toneladas)                                 5563 non-null   object
 67  Produção de Pera(toneladas)                                    5563 non-null   object
 68  Produção de Pêssego(toneladas)                                 5563 non-null   object
 69  Produção de Pimenta-do-reino(toneladas)                        5563 non-null   object
 70  Produção de Rami (fibra)(toneladas)                            5563 non-null   object
 71  Produção de Sisal ou agave (fibra)(toneladas)                  5563 non-null   object
 72  Produção de Soja (em grão)(toneladas)                          5563 non-null   object
 73  Produção de Sorgo (em grão)(toneladas)                         5563 non-null   object
 74  Produção de Tangerina(toneladas)                               5563 non-null   object
 75  Produção de Tomate(toneladas)                                  5563 non-null   object
 76  Produção de Trigo (em grão)(toneladas)                         5563 non-null   object
 77  Produção de Triticale (em grão)(toneladas)                     5563 non-null   object
 78  Produção de Tungue (fruto seco)(toneladas)                     5563 non-null   object
 79  Produção de Urucum (semente)(toneladas)                        5563 non-null   object
 80  Produção de Uva(toneladas)                                     5563 non-null   object
dtypes: int64(2), object(79)
memory usage: 3.4+ MB

In [268]:
bd_2017 = bd_2017.merge(censo_agro, how='right')

In [270]:
bd_2017 = bd_2017.merge(pib_Munic[['Codigo_Municipio', 'PIB do Municipio']], how='right')

In [272]:
bd_2017 = bd_2017.merge(pib_Munic_BD_2017, how='right')

In [274]:
bd_2017 = bd_2017.merge(PAM_2017, how='right')

In [276]:
bd_2017 = bd_2017.rename(columns={'Agricultura familiar - sim': 'Número de estabelecimentos agropecuários considerados como agricultura familiar', 
                         'Agricultura familiar - não': 'Número de estabelecimentos agropecuários não considerados como agricultura familiar',
                         'Total': 'Número total de estabelecimentos agropecuários'})

In [277]:
bd_2017

,Codigo_Municipio,Município,UF,Sigla_UF,Número de estabelecimentos agropecuários considerados como agricultura familiar,Número de estabelecimentos agropecuários não considerados como agricultura familiar,Número total de estabelecimentos agropecuários,PIB do Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto,...,Produção de Sisal ou agave (fibra)(toneladas),Produção de Soja (em grão)(toneladas),Produção de Sorgo (em grão)(toneladas),Produção de Tangerina(toneladas),Produção de Tomate(toneladas),Produção de Trigo (em grão)(toneladas),Produção de Triticale (em grão)(toneladas),Produção de Tungue (fruto seco)(toneladas),Produção de Urucum (semente)(toneladas),Produção de Uva(toneladas)
0,1100015,Alta Floresta D'Oeste,11,RO,2016,566,2582,"485.374,0","19.081,4","Administração, defesa, educação e saúde públic...",...,-,1350,-,-,-,-,-,-,-,-
1,1100379,Alto Alegre dos Parecis,11,RO,1308,349,1657,"328.001,0","23.353,6","Agricultura, inclusive apoio à agricultura e a...",...,-,10135,-,63,680,-,-,-,2,-
2,1100403,Alto Paraíso,11,RO,1964,318,2282,"307.459,0","14.699,7","Administração, defesa, educação e saúde públic...",...,-,21882,-,-,4,-,-,-,-,-
3,1100346,Alvorada D'Oeste,11,RO,1396,274,1670,"252.252,0","15.062,5","Administração, defesa, educação e saúde públic...",...,-,3036,-,-,-,-,-,-,-,-
4,1100023,Ariquemes,11,RO,1760,543,2303,"2.287.910,0","21.313,6",Demais serviços,...,-,10959,-,-,-,-,-,-,4,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,Vianópolis,52,GO,614,185,799,"395.861,0","28.947,8",Demais serviços,...,-,129500,2000,-,70000,855,-,-,-,-
5566,5222054,Vicentinópolis,52,GO,51,69,120,"350.839,0","41.781,4","Agricultura, inclusive apoio à agricultura e a...",...,-,79200,16000,-,23250,-,-,-,-,-
5567,5222203,Vila Boa,52,GO,20,54,74,"118.639,0","20.701,3","Administração, defesa, educação e saúde públic...",...,-,8250,900,-,-,-,-,-,-,-
5568,5222302,Vila Propício,52,GO,377,252,629,"182.203,0","32.021,6","Agricultura, inclusive apoio à agricultura e a...",...,-,45050,-,-,3720,-,-,-,-,-
5569,5300108,Brasília,53,DF,1719,1487,3206,"244.722.249,0","80.515,5","Administração, defesa, educação e saúde públic...",...,-,241500,22500,4332,26200,5706,-,-,-,1700

In [332]:
bd_2017.describe()

,Codigo_Municipio,UF,amendoim(Toneladas),arroz(Toneladas),banana(Toneladas),batata_inglesa(Toneladas),cacau(Toneladas),cafe(Toneladas),cana_acucar(Toneladas),cebola(Toneladas),feijao(Toneladas),laranja(Toneladas),leite(Litros),mandioca(Toneladas),mel(Kg),milho(Toneladas),soja(Toneladas),tomate(Toneladas),trigo(Toneladas),uva(Toneladas)
count,5.570000e+03,5570.000000,5537.000000,5537.000000,5507.000000,5537.000000,5507.000000,5507.000000,5.537000e+03,5537.000000,5537.000000,5507.000000,5482.000000,5537.000000,3876.000000,5.537000e+03,5.537000e+03,5537.000000,5537.000000,5507.000000
mean,3.253591e+06,32.377738,98.777136,1076.886799,1195.420556,660.117211,42.819866,487.471945,1.369514e+05,291.731262,550.056890,3176.470311,6067.725283,3331.795196,10753.775026,1.764551e+04,2.064692e+04,763.123352,784.325808,316.584347
std,9.849103e+05,9.833862,1022.905875,10831.277261,6807.440561,6397.508211,724.615003,2345.220237,5.004432e+05,3195.524686,2812.336811,21730.700675,11554.621031,12609.343142,34632.425115,9.434467e+04,8.657912e+04,7647.855990,3996.546493,5600.219284
min,1.100015e+06,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,4.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,2.512126e+06,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,4.000000,0.000000,571.250000,48.000000,723.750000,8.600000e+01,0.000000e+00,0.000000,0.000000,0.000000
50%,3.146280e+06,31.000000,0.000000,0.000000,32.000000,0.000000,0.000000,0.000000,2.700000e+02,0.000000,40.000000,0.000000,2200.000000,390.000000,2650.000000,8.000000e+02,0.000000e+00,0.000000,0.000000,0.000000
75%,4.119190e+06,41.000000,0.000000,7.343019,260.000000,0.000000,0.000000,2.000000,4.000000e+03,0.000000,194.000000,128.000000,6622.500000,1800.000000,8200.000000,7.000000e+03,5.000000e+03,50.000000,0.000000,0.000000
max,5.300108e+06,53.000000,39100.000000,364637.793073,180000.000000,203775.000000,46938.000000,56115.000000,8.118000e+06,117000.000000,68400.000000,564560.000000,264000.000000,356000.000000,687465.000000,3.841566e+06,2.157600e+06,288000.000000,105000.000000,336400.000000

In [333]:
bd_2017.columns

Index(['Codigo_Municipio', 'Município', 'UF', 'Sigla_UF',
       'Número de estabelecimentos agropecuários considerados como agricultura familiar',
       'Número de estabelecimentos agropecuários não considerados como agricultura familiar',
       'Número total de estabelecimentos agropecuários', 'PIB do Municipio',
       'Produto Interno Bruto per capita, a preços correntes(R$ 1,00)',
       'Atividade com maior valor adicionado bruto', 'amendoim(Toneladas)',
       'arroz(Toneladas)', 'banana(Toneladas)', 'batata_inglesa(Toneladas)',
       'cacau(Toneladas)', 'cafe(Toneladas)', 'cana_acucar(Toneladas)',
       'cebola(Toneladas)', 'feijao(Toneladas)', 'laranja(Toneladas)',
       'leite(Litros)', 'mandioca(Toneladas)', 'mel(Kg)', 'milho(Toneladas)',
       'soja(Toneladas)', 'tomate(Toneladas)', 'trigo(Toneladas)',
       'uva(Toneladas)'],
      dtype='object')

# 2018

## Analise

### PIB  Munic 2018

In [335]:
pib_Munic_BD_2018 = pib_Munic_BD[pib_Munic_BD['Ano'] == 2018][['Código do Município', 'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)','Atividade com maior valor adicionado bruto']]

In [336]:
pib_Munic_BD_2018.head()

,Código do Município,"Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto
44545,1100015,21538.40,"Administração, defesa, educação e saúde públic..."
44546,1100023,23215.13,Demais serviços
44547,1100031,25837.30,"Administração, defesa, educação e saúde públic..."
44548,1100049,25654.56,Demais serviços
44549,1100056,28621.22,"Administração, defesa, educação e saúde públic..."

In [337]:
pib_Munic_BD_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 44545 to 50114
Data columns (total 3 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Código do Município                                              5570 non-null   int64
 1   Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)  5570 non-null   float64
 2   Atividade com maior valor adicionado bruto                       5570 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 174.1+ KB

## Transformação

### PIB Munic

In [341]:
pib_Munic['2018'] = pib_Munic['2018'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [342]:
pib_Munic = pib_Munic.rename(columns={'Cód.':'Codigo_Municipio','PIB do Municipio': '2017', '2018': 'PIB do Municipio'})

In [343]:
pib_Munic.head()

,Codigo_Municipio,Município,2017,PIB do Municipio,2019,2020,2021
0,1100015,Alta Floresta D'Oeste (RO),"485.374,0","498.980,0",495775,570242,734469
1,1100023,Ariquemes (RO),"2.287.910,0","2.464.704,0",2579278,2817331,3209761
2,1100031,Cabixi (RO),"138.110,0","140.503,0",139976,167153,238412
3,1100049,Cacoal (RO),"2.082.761,0","2.175.840,0",2261930,2518845,2792383
4,1100056,Cerejeiras (RO),"439.245,0","470.647,0",506494,600630,743037

### PIB Munic BD

In [344]:
pib_Munic_BD_2018 = pib_Munic_BD_2018.rename(columns={'Código do Município': 'Codigo_Municipio', 
                                                      'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)': 'Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'})

In [345]:
pib_Munic_BD_2018['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'] = pib_Munic_BD_2018['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [346]:
pib_Munic_BD_2018.head()

,Codigo_Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto
44545,1100015,"21.538,4","Administração, defesa, educação e saúde públic..."
44546,1100023,"23.215,1",Demais serviços
44547,1100031,"25.837,3","Administração, defesa, educação e saúde públic..."
44548,1100049,"25.654,6",Demais serviços
44549,1100056,"28.621,2","Administração, defesa, educação e saúde públic..."

## Integração

In [347]:
bd_2018 = cod_municipios[['Codigo_Municipio', 'Município', 'UF', 'Sigla_UF']]

In [348]:
bd_2018 = bd_2018.merge(pib_Munic[['Codigo_Municipio', 'PIB do Municipio']], how='outer')

In [349]:
bd_2018 = bd_2018.merge(pib_Munic_BD_2018, how='outer')

In [351]:
bd_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 25 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Codigo_Municipio                                               5570 non-null   int64
 1   Município                                                      5570 non-null   object
 2   UF                                                             5570 non-null   int64
 3   Sigla_UF                                                       5570 non-null   object
 4   PIB do Municipio                                               5570 non-null   object
 5   Produto Interno Bruto per capita, a preços correntes(R$ 1,00)  5570 non-null   object
 6   Atividade com maior valor adicionado bruto                     5570 non-null   object
 7   amendoim(Toneladas)                                            5537 non-null   float64
 8   arroz(Toneladas)                                               5537 non-null   float64
 9   banana(Toneladas)                                              5507 non-null   float64
 10  batata_inglesa(Toneladas)                                      5537 non-null   float64
 11  cacau(Toneladas)                                               5507 non-null   float64
 12  cafe(Toneladas)                                                5507 non-null   float64
 13  cana_acucar(Toneladas)                                         5537 non-null   float64
 14  cebola(Toneladas)                                              5537 non-null   float64
 15  feijao(Toneladas)                                              5537 non-null   float64
 16  laranja(Toneladas)                                             5507 non-null   float64
 17  leite(Litros)                                                  5486 non-null   float64
 18  mandioca(Toneladas)                                            5537 non-null   float64
 19  mel(Kg)                                                        3896 non-null   float64
 20  milho(Toneladas)                                               5537 non-null   float64
 21  soja(Toneladas)                                                5537 non-null   float64
 22  tomate(Toneladas)                                              5537 non-null   float64
 23  trigo(Toneladas)                                               5537 non-null   float64
 24  uva(Toneladas)                                                 5507 non-null   float64
dtypes: float64(18), int64(2), object(5)
memory usage: 1.1+ MB

In [352]:
bd_2018.head()

,Codigo_Municipio,Município,UF,Sigla_UF,PIB do Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto,amendoim(Toneladas),arroz(Toneladas),banana(Toneladas),...,feijao(Toneladas),laranja(Toneladas),leite(Litros),mandioca(Toneladas),mel(Kg),milho(Toneladas),soja(Toneladas),tomate(Toneladas),trigo(Toneladas),uva(Toneladas)
0,1100015,Alta Floresta D'Oeste,11,RO,"498.980,0","21.538,4","Administração, defesa, educação e saúde públic...",0.0,42.163482,20720.0,...,150.0,810.0,5020.0,13600.0,10.0,2600.0,0.0,0.0,0.0,0.0
1,1100023,Ariquemes,11,RO,"2.464.704,0","23.215,1",Demais serviços,35.0,85.498173,3600.0,...,80.0,225.0,2745.0,24000.0,195.0,6700.0,960.0,0.0,0.0,0.0
2,1100031,Cabixi,11,RO,"140.503,0","25.837,3","Administração, defesa, educação e saúde públic...",0.0,747.230605,2875.0,...,121.0,150.0,3425.0,14250.0,700.0,4588.0,0.0,0.0,0.0,0.0
3,1100049,Cacoal,11,RO,"2.175.840,0","25.654,6",Demais serviços,0.0,26.937780,1400.0,...,15.0,44.0,111.0,11600.0,NaN,760.0,0.0,0.0,0.0,0.0
4,1100056,Cerejeiras,11,RO,"470.647,0","28.621,2","Administração, defesa, educação e saúde públic...",27.0,12.297682,5850.0,...,30.0,1760.0,4679.0,13900.0,1355.0,3900.0,0.0,0.0,0.0,0.0

# 2019

# 2020

# Tabela

In [355]:
with pd.ExcelWriter("Tabela_Integrada.xlsx") as writer:
    bd_2017.to_excel(writer, sheet_name='2017',float_format='%.1f', index=False)
    bd_2018.to_excel(writer, sheet_name='2018', float_format='%.1f', index=False)