# Imports

In [35]:
import pandas as pd
import numpy as np

In [36]:
censo_agro = pd.read_excel("dataset/Producao Alimentar/Tipos de Cultivo e Produtores/Tabela 6906.ods")

In [37]:
cod_municipios = pd.read_csv('Código dos Municípios')

In [38]:
amendoim = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Amendoim.xls")
arroz = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Arroz.xls")
banana = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Banana.xls")
batata_inglesa = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/batata-inglesa.xls")
cacau = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Cacau.xls")
cafe = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Cafe.xls")
cana_acucar = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/cana-de-açúcar.xls")
cebola = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Cebola.xls")
feijao = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Feijao.xls")
laranja = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Laranja.xls")
leite = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Leite.xls")
mandioca = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Mandioca.xls")
mel = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/mel de abelha.xls")
milho = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Milho.xls")
soja = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Soja.xls")
tomate = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/tomate.xls")
trigo = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/trigo.xls")
uva = pd.read_excel("dataset/Producao Alimentar/Tipos de Alimento/Uva.xls")

In [39]:
pib_Munic = pd.read_excel("dataset/Economico/Renda e Desenvolvimento/PIB/PIB-Munic.xlsx")
pib_Munic_BD = pd.read_excel("dataset/Economico/Renda e Desenvolvimento/PIB/PIB dos Municбpios - base de dados 2010-2021.xlsx")

# 2017

## Analise inicial

### Censo Agro

In [40]:
censo_agro.head()

,Município,Total,Agricultura familiar - não,Agricultura familiar - sim
0,Alta Floresta D'Oeste (RO),2582,566,2016
1,Ariquemes (RO),2303,543,1760
2,Cabixi (RO),961,187,774
3,Cacoal (RO),3438,411,3027
4,Cerejeiras (RO),671,203,468

In [41]:
censo_agro.columns

Index(['Município', 'Total', 'Agricultura familiar - não',
       'Agricultura familiar - sim'],
      dtype='object')

In [42]:
censo_agro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Município                   5563 non-null   object
 1   Total                       5563 non-null   object
 2   Agricultura familiar - não  5563 non-null   object
 3   Agricultura familiar - sim  5563 non-null   object
dtypes: object(4)
memory usage: 174.0+ KB

In [43]:
censo_agro.describe()

,Município,Total,Agricultura familiar - não,Agricultura familiar - sim
count,5563,5563,5563,5563
unique,5563,1867,709,1624
top,Brasília (DF),216,39,190
freq,1,15,43,16

### Municipios

In [44]:
cod_municipios.head()

   UF   Nome_UF                Município  Codigo_Municipio Sigla_UF
0  11  Rondônia    Alta Floresta D'Oeste           1100015       RO
1  11  Rondônia  Alto Alegre dos Parecis           1100379       RO
2  11  Rondônia             Alto Paraíso           1100403       RO
3  11  Rondônia         Alvorada D'Oeste           1100346       RO
4  11  Rondônia                Ariquemes           1100023       RO

In [45]:
cod_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UF                5570 non-null   int64
 1   Nome_UF           5570 non-null   object
 2   Município         5570 non-null   object
 3   Codigo_Municipio  5570 non-null   int64
 4   Sigla_UF          5570 non-null   object
dtypes: int64(2), object(3)
memory usage: 217.7+ KB

In [46]:
cod_municipios['Codigo_Municipio'].value_counts()

Codigo_Municipio
5300108    1
1100015    1
5221197    1
5221080    1
5221007    1
          ..
1100031    1
1100452    1
1100023    1
1100346    1
1100403    1
Name: count, Length: 5570, dtype: int64

### IPEA

In [47]:
arroz['Codigo'].value_counts()

Codigo
1722107    1
1200013    1
1200054    1
1200104    1
1200138    1
          ..
1200435    1
1200427    1
1200401    1
1200393    1
1200385    1
Name: count, Length: 5596, dtype: int64

In [48]:
arroz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5596 entries, 0 to 5595
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sigla      5596 non-null   object
 1   Codigo     5596 non-null   int64
 2   Município  5596 non-null   object
 3   2017       5563 non-null   float64
 4   2018       5563 non-null   float64
 5   2019       5563 non-null   float64
 6   2020       5563 non-null   float64
 7   2021       5563 non-null   float64
 8   2022       1665 non-null   float64
 9   2023       1623 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 437.3+ KB

### PIB Munic

In [49]:
pib_Munic.head()

,Cód.,Município,2017,2018,2019,2020,2021
0,1100015,Alta Floresta D'Oeste (RO),485374,498980,495775,570242,734469
1,1100023,Ariquemes (RO),2287910,2464704,2579278,2817331,3209761
2,1100031,Cabixi (RO),138110,140503,139976,167153,238412
3,1100049,Cacoal (RO),2082761,2175840,2261930,2518845,2792383
4,1100056,Cerejeiras (RO),439245,470647,506494,600630,743037

In [50]:
pib_Munic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Cód.       5570 non-null   int64
 1   Município  5570 non-null   object
 2   2017       5570 non-null   int64
 3   2018       5570 non-null   int64
 4   2019       5570 non-null   int64
 5   2020       5570 non-null   int64
 6   2021       5570 non-null   int64
dtypes: int64(6), object(1)
memory usage: 304.7+ KB

In [51]:
pib_Munic.describe()

,Cód.,2017,2018,2019,2020,2021
count,5.570000e+03,5.570000e+03,5.570000e+03,5.570000e+03,5.570000e+03,5.570000e+03
mean,3.253591e+06,1.182312e+06,1.257476e+06,1.326594e+06,1.366175e+06,1.617979e+06
std,9.849103e+05,1.161692e+07,1.204436e+07,1.269125e+07,1.235064e+07,1.377462e+07
min,1.100015e+06,1.299300e+04,1.412700e+04,1.547400e+04,1.674000e+04,1.805100e+04
25%,2.512126e+06,7.957350e+04,8.231525e+04,8.762900e+04,9.720625e+04,1.124902e+05
50%,3.146280e+06,1.766060e+05,1.822400e+05,1.924050e+05,2.176515e+05,2.531965e+05
75%,4.119190e+06,4.705655e+05,4.940005e+05,5.145638e+05,5.837015e+05,6.803900e+05
max,5.300108e+06,6.989522e+08,7.146636e+08,7.635978e+08,7.469093e+08,8.289806e+08

### PIB Munic BD

In [52]:
pib_Munic_BD.head()

,Ano,Código da Grande Região,Nome da Grande Região,Código da Unidade da Federação,Sigla da Unidade da Federação,Nome da Unidade da Federação,Código do Município,Nome do Município,Região Metropolitana,Código da Mesorregião,...,"Valor adicionado bruto da Indústria,\na preços correntes\n(R$ 1.000)","Valor adicionado bruto dos Serviços,\na preços correntes \n- exceto Administração, defesa, educação e saúde públicas e seguridade social\n(R$ 1.000)","Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social, \na preços correntes\n(R$ 1.000)","Valor adicionado bruto total, \na preços correntes\n(R$ 1.000)","Impostos, líquidos de subsídios, sobre produtos, \na preços correntes\n(R$ 1.000)","Produto Interno Bruto, \na preços correntes\n(R$ 1.000)","Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto,Atividade com segundo maior valor adicionado bruto,Atividade com terceiro maior valor adicionado bruto
0,2010,1,Norte,11,RO,Rondônia,1100015,Alta Floresta D'Oeste,NaN,1102,...,16118.534,62496.185,93244.656,241119.767,20957.111,262076.878,10731.18,"Administração, defesa, educação e saúde públic...","Pecuária, inclusive apoio à pecuária",Demais serviços
1,2010,1,Norte,11,RO,Rondônia,1100023,Ariquemes,NaN,1102,...,287138.585,494946.267,343867.731,1199664.227,165029.553,1364693.780,15103.86,"Administração, defesa, educação e saúde públic...",Demais serviços,Comércio e reparação de veículos automotores e...
2,2010,1,Norte,11,RO,Rondônia,1100031,Cabixi,NaN,1102,...,3252.506,12677.210,25170.235,65400.772,4210.342,69611.114,11033.62,"Administração, defesa, educação e saúde públic...","Pecuária, inclusive apoio à pecuária",Demais serviços
3,2010,1,Norte,11,RO,Rondônia,1100049,Cacoal,NaN,1102,...,182051.537,465447.325,298454.309,1041212.374,145281.717,1186494.091,15095.15,"Administração, defesa, educação e saúde públic...",Demais serviços,Comércio e reparação de veículos automotores e...
4,2010,1,Norte,11,RO,Rondônia,1100056,Cerejeiras,NaN,1102,...,19734.484,80724.991,63018.270,192454.160,29567.029,222021.189,13037.06,"Administração, defesa, educação e saúde públic...",Demais serviços,Comércio e reparação de veículos automotores e...

In [53]:
pib_Munic_BD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66825 entries, 0 to 66824
Data columns (total 43 columns):
 #   Column                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                             --------------  -----
 0   Ano                                                                                                                                                66825 non-null  int64
 1   Código da Grande Região                                                                                                                            66825 non-null  int64
 2   Nome da Grande Região                                                                                                                              66825 non-null  object
 3   Código da Unidade da Federação                                                                                                                     66825 non-null  int64
 4   Sigla da Unidade da Federação                                                                                                                      66825 non-null  object
 5   Nome da Unidade da Federação                                                                                                                       66825 non-null  object
 6   Código do Município                                                                                                                                66825 non-null  int64
 7   Nome do Município                                                                                                                                  66825 non-null  object
 8   Região Metropolitana                                                                                                                               17172 non-null  object
 9   Código da Mesorregião                                                                                                                              66825 non-null  int64
 10  Nome da Mesorregião                                                                                                                                66825 non-null  object
 11  Código da Microrregião                                                                                                                             66825 non-null  int64
 12  Nome da Microrregião                                                                                                                               66825 non-null  object
 13  Código da Região Geográfica Imediata                                                                                                               66825 non-null  int64
 14  Nome da Região Geográfica Imediata                                                                                                                 66825 non-null  object
 15  Município da Região Geográfica Imediata                                                                                                            66825 non-null  object
 16  Código da Região Geográfica Intermediária                                                                                                          66825 non-null  int64
 17  Nome da Região Geográfica Intermediária                                                                                                            66825 non-null  object
 18  Município da Região Geográfica Intermediária                                                                                                       66825 non-null  object
 19  Código Concentração Urbana                                                                                                                         7911 non-null   float64
 20  Nome Concentração Urbana                                                                                                                           7911 non-null   object
 21  Tipo Concentração Urbana                                                                                                                           7911 non-null   object
 22  Código Arranjo Populacional                                                                                                                        11463 non-null  float64
 23  Nome Arranjo Populacional                                                                                                                          11463 non-null  object
 24  Hierarquia Urbana                                                                                                                                  66825 non-null  object
 25  Hierarquia Urbana (principais categorias)                                                                                                          66825 non-null  object
 26  Código da Região Rural                                                                                                                             66825 non-null  int64
 27  Nome da Região Rural                                                                                                                               66825 non-null  object
 28  Região rural (segundo classificação do núcleo)                                                                                                     66825 non-null  object
 29  Amazônia Legal                                                                                                                                     66825 non-null  object
 30  Semiárido                                                                                                                                          66825 non-null  object
 31  Cidade-Região de São Paulo                                                                                                                         66825 non-null  object
 32  Valor adicionado bruto da Agropecuária,
a preços correntes
(R$ 1.000)                                                                             66825 non-null  float64
 33  Valor adicionado bruto da Indústria,
a preços correntes
(R$ 1.000)                                                                                 66825 non-null  float64
 34  Valor adicionado bruto dos Serviços,
a preços correntes
- exceto Administração, defesa, educação e saúde públicas e seguridade social
(R$ 1.000)  66825 non-null  float64
 35  Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social,
a preços correntes
(R$ 1.000)                     66825 non-null  float64
 36  Valor adicionado bruto total,
a preços correntes
(R$ 1.000)                                                                                       66825 non-null  float64
 37  Impostos, líquidos de subsídios, sobre produtos,
a preços correntes
(R$ 1.000)                                                                    66825 non-null  float64
 38  Produto Interno Bruto,
a preços correntes
(R$ 1.000)                                                                                              66825 non-null  float64
 39  Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)                                                                                    66825 non-null  float64
 40  Atividade com maior valor adicionado bruto                                                                                                         66825 non-null  object
 41  Atividade com segundo maior valor adicionado bruto                                                                                                 66825 non-null  object
 42  Atividade com terceiro maior valor adicionado bruto                                                                                                66825 non-null  object
dtypes: float64(10), int64(9), object(24)
memory usage: 21.9+ MB

In [54]:
pib_Munic_BD.columns

Index(['Ano', 'Código da Grande Região', 'Nome da Grande Região',
       'Código da Unidade da Federação', 'Sigla da Unidade da Federação',
       'Nome da Unidade da Federação', 'Código do Município',
       'Nome do Município', 'Região Metropolitana', 'Código da Mesorregião',
       'Nome da Mesorregião', 'Código da Microrregião', 'Nome da Microrregião',
       'Código da Região Geográfica Imediata',
       'Nome da Região Geográfica Imediata',
       'Município da Região Geográfica Imediata',
       'Código da Região Geográfica Intermediária',
       'Nome da Região Geográfica Intermediária',
       'Município da Região Geográfica Intermediária',
       'Código Concentração Urbana', 'Nome Concentração Urbana',
       'Tipo Concentração Urbana', 'Código Arranjo Populacional',
       'Nome Arranjo Populacional', 'Hierarquia Urbana',
       'Hierarquia Urbana (principais categorias)', 'Código da Região Rural',
       'Nome da Região Rural',
       'Região rural (segundo classificação do núcleo)', 'Amazônia Legal',
       'Semiárido', 'Cidade-Região de São Paulo',
       'Valor adicionado bruto da Agropecuária, \na preços correntes\n(R$ 1.000)',
       'Valor adicionado bruto da Indústria,\na preços correntes\n(R$ 1.000)',
       'Valor adicionado bruto dos Serviços,\na preços correntes \n- exceto Administração, defesa, educação e saúde públicas e seguridade social\n(R$ 1.000)',
       'Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social, \na preços correntes\n(R$ 1.000)',
       'Valor adicionado bruto total, \na preços correntes\n(R$ 1.000)',
       'Impostos, líquidos de subsídios, sobre produtos, \na preços correntes\n(R$ 1.000)',
       'Produto Interno Bruto, \na preços correntes\n(R$ 1.000)',
       'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)',
       'Atividade com maior valor adicionado bruto',
       'Atividade com segundo maior valor adicionado bruto',
       'Atividade com terceiro maior valor adicionado bruto'],
      dtype='object')

#### 2017

In [55]:
pib_Munic_BD_2017 = pib_Munic_BD[pib_Munic_BD['Ano'] == 2017][['Código do Município', 'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)','Atividade com maior valor adicionado bruto']]

In [56]:
pib_Munic_BD_2017.head()

,Código do Município,"Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto
38975,1100015,19081.43,"Administração, defesa, educação e saúde públic..."
38976,1100023,21313.62,Demais serviços
38977,1100031,22189.90,"Administração, defesa, educação e saúde públic..."
38978,1100049,23532.16,Demais serviços
38979,1100056,24492.33,"Administração, defesa, educação e saúde públic..."

In [57]:
pib_Munic_BD_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 38975 to 44544
Data columns (total 3 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Código do Município                                              5570 non-null   int64
 1   Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)  5570 non-null   float64
 2   Atividade com maior valor adicionado bruto                       5570 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 174.1+ KB

## Transformação da Tabela

### Censo agropecuario

In [58]:
data = pd.DataFrame(columns=['MU', 'UF'])

nomes= []
ufs = []
i = 0

for index, row in censo_agro.iterrows():
    tmp = row['Município'].split(" (")
    nomes.append(tmp[0])
    ufs.append(tmp[1].strip(")"))
    

for index, row in censo_agro.iterrows():
    row['Município'] = nomes[i]
    i = i+1

In [59]:
censo_agro['Sigla_UF'] = ''

i = 0
for index, row in censo_agro.iterrows():
    censo_agro.iat[i, 4] = ufs[i]
    i = i+1

In [60]:
censo_agro = censo_agro.merge(cod_municipios[['Codigo_Municipio', 'UF', 'Município', 'Sigla_UF']], how='right',left_on=['Município', 'Sigla_UF'], right_on=['Município', 'Sigla_UF'])

In [61]:
censo_agro = censo_agro[['Codigo_Municipio', 'Município', 'Sigla_UF', 'UF', 'Agricultura familiar - sim', 'Agricultura familiar - não', 'Total']]
censo_agro

,Codigo_Municipio,Município,Sigla_UF,UF,Agricultura familiar - sim,Agricultura familiar - não,Total
0,1100015,Alta Floresta D'Oeste,RO,11,2016,566,2582
1,1100379,Alto Alegre dos Parecis,RO,11,1308,349,1657
2,1100403,Alto Paraíso,RO,11,1964,318,2282
3,1100346,Alvorada D'Oeste,RO,11,1396,274,1670
4,1100023,Ariquemes,RO,11,1760,543,2303
...,...,...,...,...,...,...,...
5565,5222005,Vianópolis,GO,52,614,185,799
5566,5222054,Vicentinópolis,GO,52,51,69,120
5567,5222203,Vila Boa,GO,52,20,54,74
5568,5222302,Vila Propício,GO,52,377,252,629
5569,5300108,Brasília,DF,53,1719,1487,3206

### IPEA

In [62]:
anos_n = [2017, 2018, 2019, 2020, 2021, 2022, 2023]
anos_s = ['2017', '2018', '2019', '2020', '2021', '2022', '2023']

i = 0
for x in anos_n:
    leite = leite.rename(columns={x: anos_s[i]})
    i += 1

In [63]:
producao_db = cod_municipios[['Município', 'UF', 'Sigla_UF', 'Codigo_Municipio']]

In [64]:
producao_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Município         5570 non-null   object
 1   UF                5570 non-null   int64
 2   Sigla_UF          5570 non-null   object
 3   Codigo_Municipio  5570 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [65]:
producao = [amendoim, arroz, banana, batata_inglesa, cacau,
            cafe, cana_acucar, cebola, feijao, laranja,
            leite, mandioca, mel, milho, soja, tomate, trigo, uva]
nomes_produtos = ['amendoim(Toneladas)', 'arroz(Toneladas)', 'banana(Toneladas)', 'batata_inglesa(Toneladas)', 'cacau(Toneladas)',
                'cafe(Toneladas)', 'cana_acucar(Toneladas)', 'cebola(Toneladas)', 'feijao(Toneladas)', 'laranja(Toneladas)',
                'leite(Litros)', 'mandioca(Toneladas)', 'mel(Kg)', 'milho(Toneladas)', 'soja(Toneladas)', 'tomate(Toneladas)', 'trigo(Toneladas)', 'uva(Toneladas)']

In [66]:
i = 0
for x in nomes_produtos:
    producao_db[x] = producao[i]['2017']
    i = i + 1

In [69]:
producao_db.head()

,Município,UF,Sigla_UF,Codigo_Municipio,amendoim(Toneladas),arroz(Toneladas),banana(Toneladas),batata_inglesa(Toneladas),cacau(Toneladas),cafe(Toneladas),...,feijao(Toneladas),laranja(Toneladas),leite(Litros),mandioca(Toneladas),mel(Kg),milho(Toneladas),soja(Toneladas),tomate(Toneladas),trigo(Toneladas),uva(Toneladas)
0,Alta Floresta D'Oeste,11,RO,1100015,0.0,48.341541,21000.0,0.0,0.0,1721.0,...,208.0,1050.0,6182.0,16500.0,11.0,3120.0,0.0,0.0,0.0,0.0
1,Alto Alegre dos Parecis,11,RO,1100379,1.0,122.995565,3335.0,0.0,0.0,49.0,...,196.0,75.0,439.0,10790.0,NaN,1200.0,0.0,0.0,0.0,0.0
2,Alto Paraíso,11,RO,1100403,0.0,168.889433,2090.0,0.0,0.0,330.0,...,301.0,154.0,3466.0,16880.0,NaN,4595.0,0.0,0.0,0.0,0.0
3,Alvorada D'Oeste,11,RO,1100346,0.0,34.267421,3460.0,0.0,0.0,0.0,...,145.0,448.0,1149.0,41741.0,1500.0,4000.0,0.0,0.0,0.0,0.0
4,Ariquemes,11,RO,1100023,54.0,76.489779,3603.0,0.0,0.0,9.0,...,95.0,280.0,3198.0,33788.0,200.0,8058.0,81.0,0.0,0.0,0.0

### PIB Munic

In [70]:
pib_Munic['2017'] = pib_Munic['2017'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [71]:
pib_Munic = pib_Munic.rename(columns={'Cód.':'Codigo_Municipio','2017':'PIB do Municipio'})

In [72]:
pib_Munic.head()

,Codigo_Municipio,Município,PIB do Municipio,2018,2019,2020,2021
0,1100015,Alta Floresta D'Oeste (RO),"485.374,0",498980,495775,570242,734469
1,1100023,Ariquemes (RO),"2.287.910,0",2464704,2579278,2817331,3209761
2,1100031,Cabixi (RO),"138.110,0",140503,139976,167153,238412
3,1100049,Cacoal (RO),"2.082.761,0",2175840,2261930,2518845,2792383
4,1100056,Cerejeiras (RO),"439.245,0",470647,506494,600630,743037

### PIB Munic BD

In [73]:
pib_Munic_BD_2017.head()

,Código do Município,"Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto
38975,1100015,19081.43,"Administração, defesa, educação e saúde públic..."
38976,1100023,21313.62,Demais serviços
38977,1100031,22189.90,"Administração, defesa, educação e saúde públic..."
38978,1100049,23532.16,Demais serviços
38979,1100056,24492.33,"Administração, defesa, educação e saúde públic..."

In [74]:
pib_Munic_BD_2017 = pib_Munic_BD_2017.rename(columns={'Código do Município': 'Codigo_Municipio', 
                                                      'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)': 'Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'})

In [75]:
pib_Munic_BD_2017['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'] = pib_Munic_BD_2017['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

## Integração

In [76]:
tabela_integrada = cod_municipios[['Codigo_Municipio', 'Município', 'UF', 'Sigla_UF']]

In [77]:
tabela_integrada.head()

   Codigo_Municipio                Município  UF Sigla_UF
0           1100015    Alta Floresta D'Oeste  11       RO
1           1100379  Alto Alegre dos Parecis  11       RO
2           1100403             Alto Paraíso  11       RO
3           1100346         Alvorada D'Oeste  11       RO
4           1100023                Ariquemes  11       RO

In [78]:
tabela_integrada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Codigo_Municipio  5570 non-null   int64
 1   Município         5570 non-null   object
 2   UF                5570 non-null   int64
 3   Sigla_UF          5570 non-null   object
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [79]:
tabela_integrada = tabela_integrada.merge(censo_agro, how='outer')

In [80]:
tabela_integrada = tabela_integrada.merge(pib_Munic[['Codigo_Municipio', 'PIB do Municipio']], how='outer')

In [81]:
tabela_integrada = tabela_integrada.merge(pib_Munic_BD_2017, how='outer')

In [82]:
tabela_integrada = tabela_integrada.merge(producao_db.iloc[:, 3:22], how='outer')

In [83]:
tabela_integrada = tabela_integrada.rename(columns={'Agricultura familiar - sim': 'Número de estabelecimentos agropecuários considerados como agricultura familiar', 
                         'Agricultura familiar - não': 'Número de estabelecimentos agropecuários não considerados como agricultura familiar',
                         'Total': 'Número total de estabelecimentos agropecuários'})

In [84]:
tabela_integrada

,Codigo_Municipio,Município,UF,Sigla_UF,Número de estabelecimentos agropecuários considerados como agricultura familiar,Número de estabelecimentos agropecuários não considerados como agricultura familiar,Número total de estabelecimentos agropecuários,PIB do Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto,...,feijao(Toneladas),laranja(Toneladas),leite(Litros),mandioca(Toneladas),mel(Kg),milho(Toneladas),soja(Toneladas),tomate(Toneladas),trigo(Toneladas),uva(Toneladas)
0,1100015,Alta Floresta D'Oeste,11,RO,2016,566,2582,"485.374,0","19.081,4","Administração, defesa, educação e saúde públic...",...,208.0,1050.0,6182.0,16500.0,11.0,3120.0,0.0,0.0,0.0,0.0
1,1100023,Ariquemes,11,RO,1760,543,2303,"2.287.910,0","21.313,6",Demais serviços,...,95.0,280.0,3198.0,33788.0,200.0,8058.0,81.0,0.0,0.0,0.0
2,1100031,Cabixi,11,RO,774,187,961,"138.110,0","22.189,9","Administração, defesa, educação e saúde públic...",...,132.0,96.0,3405.0,19204.0,720.0,4610.0,0.0,0.0,0.0,0.0
3,1100049,Cacoal,11,RO,3027,411,3438,"2.082.761,0","23.532,2",Demais serviços,...,18.0,46.0,104.0,21120.0,NaN,935.0,0.0,0.0,0.0,0.0
4,1100056,Cerejeiras,11,RO,468,203,671,"439.245,0","24.492,3","Administração, defesa, educação e saúde públic...",...,33.0,2100.0,4821.0,16400.0,1314.0,2990.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,Vianópolis,52,GO,614,185,799,"395.861,0","28.947,8",Demais serviços,...,20.0,0.0,1021.0,1560.0,935.0,90.0,0.0,0.0,0.0,0.0
5566,5222054,Vicentinópolis,52,GO,51,69,120,"350.839,0","41.781,4","Agricultura, inclusive apoio à agricultura e a...",...,0.0,0.0,64.0,114.0,NaN,24.0,0.0,0.0,0.0,0.0
5567,5222203,Vila Boa,52,GO,20,54,74,"118.639,0","20.701,3","Administração, defesa, educação e saúde públic...",...,0.0,0.0,885.0,320.0,NaN,180.0,28050.0,0.0,0.0,0.0
5568,5222302,Vila Propício,52,GO,377,252,629,"182.203,0","32.021,6","Agricultura, inclusive apoio à agricultura e a...",...,0.0,0.0,3997.0,800.0,NaN,180.0,2700.0,0.0,0.0,0.0
5569,5300108,Brasília,53,DF,1719,1487,3206,"244.722.249,0","80.515,5","Administração, defesa, educação e saúde públic...",...,28.0,0.0,1402.0,720.0,30.0,36.0,0.0,0.0,0.0,0.0

In [85]:
tabela_integrada.describe()

,Codigo_Municipio,UF,amendoim(Toneladas),arroz(Toneladas),banana(Toneladas),batata_inglesa(Toneladas),cacau(Toneladas),cafe(Toneladas),cana_acucar(Toneladas),cebola(Toneladas),feijao(Toneladas),laranja(Toneladas),leite(Litros),mandioca(Toneladas),mel(Kg),milho(Toneladas),soja(Toneladas),tomate(Toneladas),trigo(Toneladas),uva(Toneladas)
count,5.570000e+03,5570.000000,5537.000000,5537.000000,5507.000000,5537.000000,5507.000000,5507.000000,5.537000e+03,5537.000000,5537.000000,5507.000000,5482.000000,5537.000000,3876.000000,5.537000e+03,5.537000e+03,5537.000000,5537.000000,5507.000000
mean,3.253591e+06,32.377738,98.777136,1076.886799,1195.420556,660.117211,42.819866,487.471945,1.369514e+05,291.731262,550.056890,3176.470311,6067.725283,3331.795196,10753.775026,1.764551e+04,2.064692e+04,763.123352,784.325808,316.584347
std,9.849103e+05,9.833862,1022.905875,10831.277261,6807.440561,6397.508211,724.615003,2345.220237,5.004432e+05,3195.524686,2812.336811,21730.700675,11554.621031,12609.343142,34632.425115,9.434467e+04,8.657912e+04,7647.855990,3996.546493,5600.219284
min,1.100015e+06,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,4.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,2.512126e+06,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,4.000000,0.000000,571.250000,48.000000,723.750000,8.600000e+01,0.000000e+00,0.000000,0.000000,0.000000
50%,3.146280e+06,31.000000,0.000000,0.000000,32.000000,0.000000,0.000000,0.000000,2.700000e+02,0.000000,40.000000,0.000000,2200.000000,390.000000,2650.000000,8.000000e+02,0.000000e+00,0.000000,0.000000,0.000000
75%,4.119190e+06,41.000000,0.000000,7.343019,260.000000,0.000000,0.000000,2.000000,4.000000e+03,0.000000,194.000000,128.000000,6622.500000,1800.000000,8200.000000,7.000000e+03,5.000000e+03,50.000000,0.000000,0.000000
max,5.300108e+06,53.000000,39100.000000,364637.793073,180000.000000,203775.000000,46938.000000,56115.000000,8.118000e+06,117000.000000,68400.000000,564560.000000,264000.000000,356000.000000,687465.000000,3.841566e+06,2.157600e+06,288000.000000,105000.000000,336400.000000

In [86]:
tabela_integrada.columns

Index(['Codigo_Municipio', 'Município', 'UF', 'Sigla_UF',
       'Número de estabelecimentos agropecuários considerados como agricultura familiar',
       'Número de estabelecimentos agropecuários não considerados como agricultura familiar',
       'Número total de estabelecimentos agropecuários', 'PIB do Municipio',
       'Produto Interno Bruto per capita, a preços correntes(R$ 1,00)',
       'Atividade com maior valor adicionado bruto', 'amendoim(Toneladas)',
       'arroz(Toneladas)', 'banana(Toneladas)', 'batata_inglesa(Toneladas)',
       'cacau(Toneladas)', 'cafe(Toneladas)', 'cana_acucar(Toneladas)',
       'cebola(Toneladas)', 'feijao(Toneladas)', 'laranja(Toneladas)',
       'leite(Litros)', 'mandioca(Toneladas)', 'mel(Kg)', 'milho(Toneladas)',
       'soja(Toneladas)', 'tomate(Toneladas)', 'trigo(Toneladas)',
       'uva(Toneladas)'],
      dtype='object')

In [87]:
# for col in tabela_integrada.columns[11:]:
#     tabela_integrada[col] = tabela_integrada[col].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))
    
# # for col in tabela_integrada.columns[4:6]: 
# #     tabela_integrada[col] = tabela_integrada[col].astype(dtype='int64')
# #     tabela_integrada[col] = tabela_integrada[col].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [88]:
tabela_integrada.to_excel('Tabela_Integrada_2017.xlsx', sheet_name='sheet1', float_format='%.1f', index=False,)

# 2018

## Analise

### PIB  Munic 2018

In [95]:
pib_Munic_BD_2018 = pib_Munic_BD[pib_Munic_BD['Ano'] == 2018][['Código do Município', 'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)','Atividade com maior valor adicionado bruto']]

In [96]:
pib_Munic_BD_2018.head()

,Código do Município,"Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto
44545,1100015,21538.40,"Administração, defesa, educação e saúde públic..."
44546,1100023,23215.13,Demais serviços
44547,1100031,25837.30,"Administração, defesa, educação e saúde públic..."
44548,1100049,25654.56,Demais serviços
44549,1100056,28621.22,"Administração, defesa, educação e saúde públic..."

In [97]:
pib_Munic_BD_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 44545 to 50114
Data columns (total 3 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Código do Município                                              5570 non-null   int64
 1   Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)  5570 non-null   float64
 2   Atividade com maior valor adicionado bruto                       5570 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 174.1+ KB

## Transformação

### IPEA

In [89]:
producao_db = cod_municipios[['Município', 'UF', 'Sigla_UF', 'Codigo_Municipio']]

In [90]:
i = 0
for x in nomes_produtos:
    producao_db[x] = producao[i]['2018']
    i = i + 1

In [91]:
producao_db.head()

,Município,UF,Sigla_UF,Codigo_Municipio,amendoim(Toneladas),arroz(Toneladas),banana(Toneladas),batata_inglesa(Toneladas),cacau(Toneladas),cafe(Toneladas),...,feijao(Toneladas),laranja(Toneladas),leite(Litros),mandioca(Toneladas),mel(Kg),milho(Toneladas),soja(Toneladas),tomate(Toneladas),trigo(Toneladas),uva(Toneladas)
0,Alta Floresta D'Oeste,11,RO,1100015,0.0,42.163482,20720.0,0.0,0.0,1080.0,...,150.0,810.0,5020.0,13600.0,10.0,2600.0,0.0,0.0,0.0,0.0
1,Alto Alegre dos Parecis,11,RO,1100379,0.0,119.463200,2860.0,0.0,0.0,52.0,...,150.0,60.0,380.0,8520.0,NaN,1105.0,0.0,0.0,0.0,0.0
2,Alto Paraíso,11,RO,1100403,0.0,208.474996,2185.0,0.0,0.0,315.0,...,330.0,140.0,2831.0,12500.0,NaN,4267.0,0.0,0.0,0.0,0.0
3,Alvorada D'Oeste,11,RO,1100346,0.0,32.793820,2875.0,0.0,0.0,0.0,...,149.0,448.0,1019.0,25400.0,1450.0,3300.0,0.0,0.0,0.0,0.0
4,Ariquemes,11,RO,1100023,35.0,85.498173,3600.0,0.0,0.0,4.0,...,80.0,225.0,2745.0,24000.0,195.0,6700.0,960.0,0.0,0.0,0.0

### PIB Munic

In [92]:
pib_Munic['2018'] = pib_Munic['2018'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [93]:
pib_Munic = pib_Munic.rename(columns={'Cód.':'Codigo_Municipio','PIB do Municipio': '2017', '2018': 'PIB do Municipio'})

In [94]:
pib_Munic.head()

,Codigo_Municipio,Município,2017,PIB do Municipio,2019,2020,2021
0,1100015,Alta Floresta D'Oeste (RO),"485.374,0","498.980,0",495775,570242,734469
1,1100023,Ariquemes (RO),"2.287.910,0","2.464.704,0",2579278,2817331,3209761
2,1100031,Cabixi (RO),"138.110,0","140.503,0",139976,167153,238412
3,1100049,Cacoal (RO),"2.082.761,0","2.175.840,0",2261930,2518845,2792383
4,1100056,Cerejeiras (RO),"439.245,0","470.647,0",506494,600630,743037

### PIB Munic BD

In [98]:
pib_Munic_BD_2018 = pib_Munic_BD_2018.rename(columns={'Código do Município': 'Codigo_Municipio', 
                                                      'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)': 'Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'})

In [99]:
pib_Munic_BD_2018['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'] = pib_Munic_BD_2018['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [104]:
pib_Munic_BD_2018.head()

,Codigo_Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto
44545,1100015,"21.538,4","Administração, defesa, educação e saúde públic..."
44546,1100023,"23.215,1",Demais serviços
44547,1100031,"25.837,3","Administração, defesa, educação e saúde públic..."
44548,1100049,"25.654,6",Demais serviços
44549,1100056,"28.621,2","Administração, defesa, educação e saúde públic..."

## Integração

In [100]:
tabela_integrada = cod_municipios[['Codigo_Municipio', 'Município', 'UF', 'Sigla_UF']]

In [101]:
tabela_integrada = tabela_integrada.merge(pib_Munic[['Codigo_Municipio', 'PIB do Municipio']], how='outer')

In [105]:
tabela_integrada = tabela_integrada.merge(pib_Munic_BD_2018, how='outer')

In [108]:
tabela_integrada = tabela_integrada.merge(producao_db, how='outer')

In [109]:
tabela_integrada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 25 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Codigo_Municipio                                               5570 non-null   int64
 1   Município                                                      5570 non-null   object
 2   UF                                                             5570 non-null   int64
 3   Sigla_UF                                                       5570 non-null   object
 4   PIB do Municipio                                               5570 non-null   object
 5   Produto Interno Bruto per capita, a preços correntes(R$ 1,00)  5570 non-null   object
 6   Atividade com maior valor adicionado bruto                     5570 non-null   object
 7   amendoim(Toneladas)                                            5537 non-null   float64
 8   arroz(Toneladas)                                               5537 non-null   float64
 9   banana(Toneladas)                                              5507 non-null   float64
 10  batata_inglesa(Toneladas)                                      5537 non-null   float64
 11  cacau(Toneladas)                                               5507 non-null   float64
 12  cafe(Toneladas)                                                5507 non-null   float64
 13  cana_acucar(Toneladas)                                         5537 non-null   float64
 14  cebola(Toneladas)                                              5537 non-null   float64
 15  feijao(Toneladas)                                              5537 non-null   float64
 16  laranja(Toneladas)                                             5507 non-null   float64
 17  leite(Litros)                                                  5486 non-null   float64
 18  mandioca(Toneladas)                                            5537 non-null   float64
 19  mel(Kg)                                                        3896 non-null   float64
 20  milho(Toneladas)                                               5537 non-null   float64
 21  soja(Toneladas)                                                5537 non-null   float64
 22  tomate(Toneladas)                                              5537 non-null   float64
 23  trigo(Toneladas)                                               5537 non-null   float64
 24  uva(Toneladas)                                                 5507 non-null   float64
dtypes: float64(18), int64(2), object(5)
memory usage: 1.1+ MB

In [110]:
tabela_integrada.head()

,Codigo_Municipio,Município,UF,Sigla_UF,PIB do Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto,amendoim(Toneladas),arroz(Toneladas),banana(Toneladas),...,feijao(Toneladas),laranja(Toneladas),leite(Litros),mandioca(Toneladas),mel(Kg),milho(Toneladas),soja(Toneladas),tomate(Toneladas),trigo(Toneladas),uva(Toneladas)
0,1100015,Alta Floresta D'Oeste,11,RO,"498.980,0","21.538,4","Administração, defesa, educação e saúde públic...",0.0,42.163482,20720.0,...,150.0,810.0,5020.0,13600.0,10.0,2600.0,0.0,0.0,0.0,0.0
1,1100023,Ariquemes,11,RO,"2.464.704,0","23.215,1",Demais serviços,35.0,85.498173,3600.0,...,80.0,225.0,2745.0,24000.0,195.0,6700.0,960.0,0.0,0.0,0.0
2,1100031,Cabixi,11,RO,"140.503,0","25.837,3","Administração, defesa, educação e saúde públic...",0.0,747.230605,2875.0,...,121.0,150.0,3425.0,14250.0,700.0,4588.0,0.0,0.0,0.0,0.0
3,1100049,Cacoal,11,RO,"2.175.840,0","25.654,6",Demais serviços,0.0,26.937780,1400.0,...,15.0,44.0,111.0,11600.0,NaN,760.0,0.0,0.0,0.0,0.0
4,1100056,Cerejeiras,11,RO,"470.647,0","28.621,2","Administração, defesa, educação e saúde públic...",27.0,12.297682,5850.0,...,30.0,1760.0,4679.0,13900.0,1355.0,3900.0,0.0,0.0,0.0,0.0

In [111]:
tabela_integrada.to_excel('Tabela_Integrada_2018.xlsx', sheet_name='sheet1', float_format='%.1f', index=False)

# 2019