In [50]:
import pandas as pd

In [1]:
%run funcoes_gerais.ipynb

In [2]:
cod_municipios = pd.read_csv('../dataset/Código dos Municípios')

In [3]:
bolsa_familia = pd.read_csv("../dataset/Social/Projetos Sociais/Bolsa_Familia_2020.csv")
bpc = pd.read_csv("../dataset/Social/Projetos Sociais/bpc_2020.csv")

In [4]:
pib_Munic = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB-Munic.xlsx")
pib_Munic_BD = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB dos Municбpios - base de dados 2010-2021.xlsx")

In [5]:
PAM_2020 = pd.read_excel("../dataset/Producao Alimentar/Tipos de Alimento/PAM_2020.xlsx")

In [6]:
cempre = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/Renda Per Capta/Cempre_2020.xlsx")

# Analise

### PAM

In [7]:
PAM_2020.head()

,Município,Abacate,Abacaxi*,Açaí,Alfafa fenada,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
0,Alta Floresta D'Oeste (RO),-,205,4,...,-,-,-,3,705,...,-,1350,-,14,350,-,-,-,39,-
1,Ariquemes (RO),-,410,45,...,-,-,-,-,1650,...,-,25497,-,16,45,-,-,-,9,-
2,Cabixi (RO),-,60,-,...,-,-,-,1,1920,...,-,86772,-,-,-,-,-,-,99,-
3,Cacoal (RO),-,1850,-,...,-,-,-,15,90,...,-,3000,-,35,205,-,-,-,21,-
4,Cerejeiras (RO),-,750,-,...,-,-,-,13,2000,...,-,140760,-,-,1000,-,-,-,98,-

In [8]:
PAM_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 72 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Município                     5563 non-null   object
 1   Abacate                       5563 non-null   object
 2   Abacaxi*                      5563 non-null   object
 3   Açaí                          5563 non-null   object
 4   Alfafa fenada                 5563 non-null   object
 5   Algodão arbóreo (em caroço)   5563 non-null   object
 6   Algodão herbáceo (em caroço)  5563 non-null   object
 7   Alho                          5563 non-null   object
 8   Amendoim (em casca)           5563 non-null   object
 9   Arroz (em casca)              5563 non-null   object
 10  Aveia (em grão)               5563 non-null   object
 11  Azeitona                      5563 non-null   object
 12  Banana (cacho)                5563 non-null   object
 13  Batata-doce                   5563 non-null   object
 14  Batata-inglesa                5563 non-null   object
 15  Borracha (látex coagulado)    5563 non-null   object
 16  Borracha (látex líquido)      5563 non-null   object
 17  Cacau (em amêndoa)            5563 non-null   object
 18  Café (em grão) Total          5563 non-null   object
 19  Café (em grão) Arábica        5563 non-null   object
 20  Café (em grão) Canephora      5563 non-null   object
 21  Caju                          5563 non-null   object
 22  Cana-de-açúcar                5563 non-null   object
 23  Cana para forragem            5563 non-null   object
 24  Caqui                         5563 non-null   object
 25  Castanha de caju              5563 non-null   object
 26  Cebola                        5563 non-null   object
 27  Centeio (em grão)             5563 non-null   object
 28  Cevada (em grão)              5563 non-null   object
 29  Chá-da-índia (folha verde)    5563 non-null   object
 30  Coco-da-baía*                 5563 non-null   object
 31  Dendê (cacho de coco)         5563 non-null   object
 32  Erva-mate (folha verde)       5563 non-null   object
 33  Ervilha (em grão)             5563 non-null   object
 34  Fava (em grão)                5563 non-null   object
 35  Feijão (em grão)              5563 non-null   object
 36  Figo                          5563 non-null   object
 37  Fumo (em folha)               5563 non-null   object
 38  Girassol (em grão)            5563 non-null   object
 39  Goiaba                        5563 non-null   object
 40  Guaraná (semente)             5563 non-null   object
 41  Juta (fibra)                  5563 non-null   object
 42  Laranja                       5563 non-null   object
 43  Limão                         5563 non-null   object
 44  Linho (semente)               5563 non-null   object
 45  Maçã                          5563 non-null   object
 46  Malva (fibra)                 5563 non-null   object
 47  Mamão                         5563 non-null   object
 48  Mamona (baga)                 5563 non-null   object
 49  Mandioca                      5563 non-null   object
 50  Manga                         5563 non-null   object
 51  Maracujá                      5563 non-null   object
 52  Marmelo                       5563 non-null   object
 53  Melancia                      5563 non-null   object
 54  Melão                         5563 non-null   object
 55  Milho (em grão)               5563 non-null   object
 56  Noz (fruto seco)              5563 non-null   object
 57  Palmito                       5563 non-null   object
 58  Pera                          5563 non-null   object
 59  Pêssego                       5563 non-null   object
 60  Pimenta-do-reino              5563 non-null   object
 61  Rami (fibra)                  5563 non-null   object
 62  Sisal ou agave (fibra)        5563 non-null   object
 63  Soja (em grão)                5563 non-null   object
 64  Sorgo (em grão)               5563 non-null   object
 65  Tangerina                     5563 non-null   object
 66  Tomate                        5563 non-null   object
 67  Trigo (em grão)               5563 non-null   object
 68  Triticale (em grão)           5563 non-null   object
 69  Tungue (fruto seco)           5563 non-null   object
 70  Urucum (semente)              5563 non-null   object
 71  Uva                           5563 non-null   object
dtypes: object(72)
memory usage: 3.1+ MB

### PIB Munic

In [9]:
pib_Munic

,Cód.,Município,2017,2018,2019,2020,2021
0,1100015,Alta Floresta D'Oeste (RO),485374,498980,495775,570242,734469
1,1100023,Ariquemes (RO),2287910,2464704,2579278,2817331,3209761
2,1100031,Cabixi (RO),138110,140503,139976,167153,238412
3,1100049,Cacoal (RO),2082761,2175840,2261930,2518845,2792383
4,1100056,Cerejeiras (RO),439245,470647,506494,600630,743037
...,...,...,...,...,...,...,...
5565,5222005,Vianópolis (GO),395861,449973,489265,559058,857968
5566,5222054,Vicentinópolis (GO),350839,339089,326519,419757,480173
5567,5222203,Vila Boa (GO),118639,108469,112209,126150,179899
5568,5222302,Vila Propício (GO),182203,179915,207994,217935,308013
5569,5300108,Brasília (DF),244722249,254817205,273613711,265847334,286943782

### PIB Munic BD

In [10]:
pib_Munic_BD[pib_Munic_BD['Ano'] == 2020]

,Ano,Código da Grande Região,Nome da Grande Região,Código da Unidade da Federação,Sigla da Unidade da Federação,Nome da Unidade da Federação,Código do Município,Nome do Município,Região Metropolitana,Código da Mesorregião,...,"Valor adicionado bruto da Indústria,\na preços correntes\n(R$ 1.000)","Valor adicionado bruto dos Serviços,\na preços correntes \n- exceto Administração, defesa, educação e saúde públicas e seguridade social\n(R$ 1.000)","Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social, \na preços correntes\n(R$ 1.000)","Valor adicionado bruto total, \na preços correntes\n(R$ 1.000)","Impostos, líquidos de subsídios, sobre produtos, \na preços correntes\n(R$ 1.000)","Produto Interno Bruto, \na preços correntes\n(R$ 1.000)","Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto,Atividade com segundo maior valor adicionado bruto,Atividade com terceiro maior valor adicionado bruto
55685,2020,1,Norte,11,RO,Rondônia,1100015,Alta Floresta D'Oeste,NaN,1102,...,"20,714.61","150,233.02","160,790.58","535,132.63","35,108.98","570,241.61","25,089.83","Administração, defesa, educação e saúde públic...","Pecuária, inclusive apoio à pecuária",Demais serviços
55686,2020,1,Norte,11,RO,Rondônia,1100023,Ariquemes,NaN,1102,...,"404,715.25","1,206,981.83","710,266.37","2,521,686.16","295,644.71","2,817,330.87","25,723.65",Demais serviços,"Administração, defesa, educação e saúde públic...",Comércio e reparação de veículos automotores e...
55687,2020,1,Norte,11,RO,Rondônia,1100031,Cabixi,NaN,1102,...,"5,436.37","28,658.53","44,644.77","159,916.77","7,236.07","167,152.83","32,219.13","Administração, defesa, educação e saúde públic...","Pecuária, inclusive apoio à pecuária","Agricultura, inclusive apoio à agricultura e a..."
55688,2020,1,Norte,11,RO,Rondônia,1100049,Cacoal,NaN,1102,...,"275,505.04","1,157,094.14","575,588.00","2,244,402.14","274,442.87","2,518,845.00","29,325.38",Demais serviços,"Administração, defesa, educação e saúde públic...",Comércio e reparação de veículos automotores e...
55689,2020,1,Norte,11,RO,Rondônia,1100056,Cerejeiras,NaN,1102,...,"23,580.36","276,768.47","115,601.34","510,707.81","89,922.54","600,630.35","37,066.80",Comércio e reparação de veículos automotores e...,Demais serviços,"Administração, defesa, educação e saúde públic..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61250,2020,5,Centro-oeste,52,GO,Goiás,5222005,Vianópolis,NaN,5205,...,"31,285.16","178,700.78","68,627.15","516,606.71","42,451.37","559,058.08","39,998.43","Agricultura, inclusive apoio à agricultura e a...",Demais serviços,"Administração, defesa, educação e saúde públic..."
61251,2020,5,Centro-oeste,52,GO,Goiás,5222054,Vicentinópolis,NaN,5205,...,"75,946.29","103,348.32","47,955.31","386,068.03","33,688.94","419,756.97","47,307.22","Agricultura, inclusive apoio à agricultura e a...",Demais serviços,Indústrias de transformação
61252,2020,5,Centro-oeste,52,GO,Goiás,5222203,Vila Boa,Região Integrada de Desenvolvimento do Distrit...,5204,...,"22,964.91","32,732.86","33,562.57","117,617.86","8,531.93","126,149.79","19,985.71","Administração, defesa, educação e saúde públic...",Demais serviços,Indústrias de transformação
61253,2020,5,Centro-oeste,52,GO,Goiás,5222302,Vila Propício,Região Integrada de Desenvolvimento do Distrit...,5204,...,"26,920.91","34,485.39","32,855.22","209,375.05","8,560.35","217,935.41","37,051.24","Agricultura, inclusive apoio à agricultura e a...","Administração, defesa, educação e saúde públic...",Demais serviços
61254,2020,5,Centro-oeste,53,DF,Distrito Federal,5300108,Brasília,Região Integrada de Desenvolvimento do Distrit...,5301,...,"10,942,472.57","116,547,655.37","111,267,001.38","240,381,106.23","25,466,227.77","265,847,334.00","87,016.16","Administração, defesa, educação e saúde públic...",Demais serviços,Comércio e reparação de veículos automotores e...

In [11]:
pib_Munic_BD[pib_Munic_BD['Ano'] == 2020].columns

Index(['Ano', 'Código da Grande Região', 'Nome da Grande Região',
       'Código da Unidade da Federação', 'Sigla da Unidade da Federação',
       'Nome da Unidade da Federação', 'Código do Município',
       'Nome do Município', 'Região Metropolitana', 'Código da Mesorregião',
       'Nome da Mesorregião', 'Código da Microrregião', 'Nome da Microrregião',
       'Código da Região Geográfica Imediata',
       'Nome da Região Geográfica Imediata',
       'Município da Região Geográfica Imediata',
       'Código da Região Geográfica Intermediária',
       'Nome da Região Geográfica Intermediária',
       'Município da Região Geográfica Intermediária',
       'Código Concentração Urbana', 'Nome Concentração Urbana',
       'Tipo Concentração Urbana', 'Código Arranjo Populacional',
       'Nome Arranjo Populacional', 'Hierarquia Urbana',
       'Hierarquia Urbana (principais categorias)', 'Código da Região Rural',
       'Nome da Região Rural',
       'Região rural (segundo classificação do núcleo)', 'Amazônia Legal',
       'Semiárido', 'Cidade-Região de São Paulo',
       'Valor adicionado bruto da Agropecuária, \na preços correntes\n(R$ 1.000)',
       'Valor adicionado bruto da Indústria,\na preços correntes\n(R$ 1.000)',
       'Valor adicionado bruto dos Serviços,\na preços correntes \n- exceto Administração, defesa, educação e saúde públicas e seguridade social\n(R$ 1.000)',
       'Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social, \na preços correntes\n(R$ 1.000)',
       'Valor adicionado bruto total, \na preços correntes\n(R$ 1.000)',
       'Impostos, líquidos de subsídios, sobre produtos, \na preços correntes\n(R$ 1.000)',
       'Produto Interno Bruto, \na preços correntes\n(R$ 1.000)',
       'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)',
       'Atividade com maior valor adicionado bruto',
       'Atividade com segundo maior valor adicionado bruto',
       'Atividade com terceiro maior valor adicionado bruto'],
      dtype='object')

In [12]:
pib_Munic_BD_2020 = pib_Munic_BD[pib_Munic_BD['Ano'] == 2020][['Código do Município', 'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)','Atividade com maior valor adicionado bruto']]

In [13]:
pib_Munic_BD_2020

,Código do Município,"Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto
55685,1100015,"25,089.83","Administração, defesa, educação e saúde públic..."
55686,1100023,"25,723.65",Demais serviços
55687,1100031,"32,219.13","Administração, defesa, educação e saúde públic..."
55688,1100049,"29,325.38",Demais serviços
55689,1100056,"37,066.80",Comércio e reparação de veículos automotores e...
...,...,...,...
61250,5222005,"39,998.43","Agricultura, inclusive apoio à agricultura e a..."
61251,5222054,"47,307.22","Agricultura, inclusive apoio à agricultura e a..."
61252,5222203,"19,985.71","Administração, defesa, educação e saúde públic..."
61253,5222302,"37,051.24","Agricultura, inclusive apoio à agricultura e a..."
61254,5300108,"87,016.16","Administração, defesa, educação e saúde públic..."

In [14]:
pib_Munic_BD_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 55685 to 61254
Data columns (total 3 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Código do Município                                              5570 non-null   int64
 1   Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)  5570 non-null   float64
 2   Atividade com maior valor adicionado bruto                       5570 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 174.1+ KB

### CEMPRE

In [15]:
cempre

,Unidades da Federação,Municípios,Número de unidades\nlocais,Pessoal ocupado Total,Pessoal ocupado Assalariado,Pessoal assalariado médio,Salários\ne outras\nremunerações\n(1 000 R$),Salário médio\n mensal \n(salários mínimos) (1) (2),Salário médio\n mensal \n(R$) (2),Número de empresas atuantes
0,Rondônia,Alta Floresta D'Oeste - RO,482,2990,2378,"2,368.93","60,272.68",1.87,"1,957.15",473
1,Rondônia,Ariquemes - RO,2720,20139,16743,"16,290.27","453,294.38",2.05,"2,140.47",2622
2,Rondônia,Cabixi - RO,60,616,555,566.61,"13,790.10",1.79,"1,872.15",59
3,Rondônia,Cacoal - RO,2539,20132,16660,"16,814.82","434,314.91",1.90,"1,986.87",2446
4,Rondônia,Cerejeiras - RO,428,2631,2117,"2,056.84","56,637.93",2.03,"2,118.18",412
...,...,...,...,...,...,...,...,...,...,...
5565,Goiás,Vianópolis - GO,453,2404,1967,"1,972.95","62,274.52",2.32,"2,428.01",449
5566,Goiás,Vicentinópolis - GO,192,2080,1861,"2,210.76","64,142.50",2.14,"2,231.83",192
5567,Goiás,Vila Boa - GO,69,1304,1245,"1,349.73","33,746.52",1.84,"1,923.26",69
5568,Goiás,Vila Propício - GO,111,1124,995,"1,016.20","22,872.12",1.66,"1,731.35",105
5569,Distrito Federal,Brasília - DF,106009,1372180,1246187,"1,250,059.13","90,271,147.30",5.32,"5,554.88",99473

In [16]:
cempre.columns

Index(['Unidades da Federação', 'Municípios', 'Número de unidades\nlocais',
       'Pessoal ocupado Total', 'Pessoal ocupado Assalariado',
       'Pessoal assalariado médio',
       'Salários\ne outras\nremunerações\n(1 000 R$)',
       'Salário médio\n mensal \n(salários mínimos)  (1) (2) ',
       'Salário médio\n mensal \n(R$) (2)', 'Número de empresas atuantes'],
      dtype='object')

In [17]:
cempre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 10 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unidades da Federação                                5570 non-null   object
 1   Municípios                                           5570 non-null   object
 2   Número de unidades
locais                            5570 non-null   int64
 3   Pessoal ocupado Total                                5570 non-null   int64
 4   Pessoal ocupado Assalariado                          5570 non-null   int64
 5   Pessoal assalariado médio                            5570 non-null   float64
 6   Salários
e outras
remunerações
(1 000 R$)            5570 non-null   float64
 7   Salário médio
 mensal
(salários mínimos)  (1) (2)   5570 non-null   float64
 8   Salário médio
 mensal
(R$) (2)                      5570 non-null   float64
 9   Número de empresas atuantes                          5570 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 435.3+ KB

### Bolsa Familia

In [18]:
bolsa_familia

,ibge,anomes,qtd_familias_beneficiarias_bolsa_familia,valor_repassado_bolsa_familia
0,110001,202001,1521,"232,541.00"
1,110002,202001,3626,"518,218.00"
2,110003,202001,180,"25,892.00"
3,110004,202001,2970,"465,018.00"
4,110005,202001,686,"98,866.00"
...,...,...,...,...
66835,522200,202012,392,"13,034.00"
66836,522205,202012,787,"22,147.00"
66837,522220,202012,552,"14,364.00"
66838,522230,202012,536,"12,886.00"
66839,530010,202012,83939,"2,574,052.00"

In [19]:
bolsa_familia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ibge                                      66840 non-null  int64
 1   anomes                                    66840 non-null  int64
 2   qtd_familias_beneficiarias_bolsa_familia  66840 non-null  int64
 3   valor_repassado_bolsa_familia             66840 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 2.0 MB

In [20]:
bolsa_familia['anomes'].value_counts()

anomes
202001    5570
202002    5570
202003    5570
202004    5570
202005    5570
202006    5570
202007    5570
202008    5570
202009    5570
202010    5570
202011    5570
202012    5570
Name: count, dtype: int64

### BPC

In [21]:
bpc

,ibge,anomes,bpc_ben,bpc_pcd_ben,bpc_idoso_ben,bpc_pcd_val,bpc_idoso_val,bpc_val
0,110001,202001,503,402.00,101.00,"418,717.00","104,939.78","523,656.78"
1,110002,202001,2753,"1,692.00","1,061.00","1,760,069.21","1,105,500.09","2,865,569.30"
2,110003,202001,87,73.00,14.00,"75,847.00","14,546.00","90,393.00"
3,110004,202001,1989,"1,297.00",692.00,"1,347,585.88","721,066.19","2,068,652.07"
4,110005,202001,445,355.00,90.00,"369,885.48","93,510.00","463,395.48"
...,...,...,...,...,...,...,...,...
66835,522200,202012,301,179.00,122.00,"187,055.00","127,490.00","314,545.00"
66836,522205,202012,139,93.00,46.00,"97,185.00","48,070.00","145,255.00"
66837,522220,202012,146,107.00,39.00,"111,815.00","40,755.00","152,570.00"
66838,522230,202012,33,24.00,9.00,"25,080.00","9,405.00","34,485.00"
66839,530010,202012,53913,"27,164.00","26,749.00","28,413,983.27","27,978,947.80","56,392,931.07"

In [22]:
bpc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ibge           66840 non-null  int64
 1   anomes         66840 non-null  int64
 2   bpc_ben        66840 non-null  int64
 3   bpc_pcd_ben    66789 non-null  float64
 4   bpc_idoso_ben  66789 non-null  float64
 5   bpc_pcd_val    66789 non-null  float64
 6   bpc_idoso_val  66789 non-null  float64
 7   bpc_val        66840 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 4.1 MB

In [23]:
bpc['anomes'].value_counts()

anomes
202001    5570
202002    5570
202003    5570
202004    5570
202005    5570
202006    5570
202007    5570
202008    5570
202009    5570
202010    5570
202011    5570
202012    5570
Name: count, dtype: int64

# Transformação

### PAM

In [24]:
PAM_2020 = PAM(PAM_2020)

In [25]:
PAM_2020

,Codigo_Municipio,Produção de Abacate(toneladas),Produção de Abacaxi*(toneladas),Produção de Açaí(toneladas),Produção de Alfafa fenada(toneladas),Produção de Algodão arbóreo (em caroço)(toneladas),Produção de Algodão herbáceo (em caroço)(toneladas),Produção de Alho(toneladas),Produção de Amendoim (em casca)(toneladas),Produção de Arroz (em casca)(toneladas),...,Produção de Sisal ou agave (fibra)(toneladas),Produção de Soja (em grão)(toneladas),Produção de Sorgo (em grão)(toneladas),Produção de Tangerina(toneladas),Produção de Tomate(toneladas),Produção de Trigo (em grão)(toneladas),Produção de Triticale (em grão)(toneladas),Produção de Tungue (fruto seco)(toneladas),Produção de Urucum (semente)(toneladas),Produção de Uva(toneladas)
0,1100015,-,205,4,...,-,-,-,3,705,...,-,1350,-,14,350,-,-,-,39,-
1,1100379,-,50,15,...,-,-,-,52,480,...,-,10135,-,14,400,-,-,-,1,-
2,1100403,-,600,90,...,-,-,-,5,3300,...,-,64052,-,-,90,-,-,-,5,-
3,1100346,-,78,-,...,-,-,-,-,315,...,-,1221,-,-,165,-,-,-,5,-
4,1100023,-,410,45,...,-,-,-,-,1650,...,-,25497,-,16,45,-,-,-,9,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,-,-,-,...,-,-,-,-,-,...,-,154980,18000,-,68367,855,-,-,-,-
5566,5222054,-,-,-,...,-,-,-,-,-,...,-,73500,22500,-,25800,-,-,-,-,-
5567,5222203,-,-,-,...,-,-,-,-,-,...,-,900,6500,-,-,-,-,-,-,-
5568,5222302,-,-,-,...,-,-,-,-,24,...,-,45090,-,-,2850,-,-,-,-,-
5569,5300108,2850,198,-,...,-,-,4800,-,-,...,-,290550,48000,2312,28000,11400,-,-,-,1425

### PIB Munic BD

In [26]:
# for col in pib_Munic.columns[2:]:
#     pib_Munic[col] = pib_Munic[col].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))
pib_Munic = pib_Munic.round(2)

In [27]:
pib_Munic = pib_Munic.rename(columns={'Cód.':'Codigo_Municipio','2020':'PIB do Municipio'})

In [28]:
pib_Munic.head()

,Codigo_Municipio,Município,2017,2018,2019,PIB do Municipio,2021
0,1100015,Alta Floresta D'Oeste (RO),485374,498980,495775,570242,734469
1,1100023,Ariquemes (RO),2287910,2464704,2579278,2817331,3209761
2,1100031,Cabixi (RO),138110,140503,139976,167153,238412
3,1100049,Cacoal (RO),2082761,2175840,2261930,2518845,2792383
4,1100056,Cerejeiras (RO),439245,470647,506494,600630,743037

### PIB Munic BD

In [29]:
pib_Munic_BD_2020 = pib_Munic_BD_2020.rename(columns={'Código do Município': 'Codigo_Municipio', 
                        'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)': 'Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'})
# pib_Munic_BD_2020['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'] = pib_Munic_BD_2020['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))
pib_Munic_BD_2020 = pib_Munic_BD_2020.round(2)

In [30]:
pib_Munic_BD_2020

,Codigo_Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto
55685,1100015,"25,089.83","Administração, defesa, educação e saúde públic..."
55686,1100023,"25,723.65",Demais serviços
55687,1100031,"32,219.13","Administração, defesa, educação e saúde públic..."
55688,1100049,"29,325.38",Demais serviços
55689,1100056,"37,066.80",Comércio e reparação de veículos automotores e...
...,...,...,...
61250,5222005,"39,998.43","Agricultura, inclusive apoio à agricultura e a..."
61251,5222054,"47,307.22","Agricultura, inclusive apoio à agricultura e a..."
61252,5222203,"19,985.71","Administração, defesa, educação e saúde públic..."
61253,5222302,"37,051.24","Agricultura, inclusive apoio à agricultura e a..."
61254,5300108,"87,016.16","Administração, defesa, educação e saúde públic..."

### CEMPRE

In [31]:
cempre = CEMPRE(cempre)

In [32]:
cempre

,Codigo_Municipio,Número de unidades locais,Pessoal ocupado Total,Pessoal ocupado Assalariado,Pessoal assalariado médio,Salário médio mensal (salários mínimos) (1) (2),Salário médio mensal(R$),Número de empresas atuantes
0,1100015,482.00,"2,990.00","2,378.00","2,368.93",1.87,"1,957.15",473.00
1,1100379,146.00,"1,100.00",912.00,905.13,1.87,"1,951.42",146.00
2,1100403,256.00,"1,472.00","1,151.00","1,207.64",1.91,"1,993.81",255.00
3,1100346,252.00,"1,541.00","1,238.00","1,220.07",1.61,"1,681.07",246.00
4,1100023,"2,720.00","20,139.00","16,743.00","16,290.27",2.05,"2,140.47","2,622.00"
...,...,...,...,...,...,...,...,...
5565,5222005,453.00,"2,404.00","1,967.00","1,972.95",2.32,"2,428.01",449.00
5566,5222054,192.00,"2,080.00","1,861.00","2,210.76",2.14,"2,231.83",192.00
5567,5222203,69.00,"1,304.00","1,245.00","1,349.73",1.84,"1,923.26",69.00
5568,5222302,111.00,"1,124.00",995.00,"1,016.20",1.66,"1,731.35",105.00
5569,5300108,"106,009.00","1,372,180.00","1,246,187.00","1,250,059.13",5.32,"5,554.88","99,473.00"

In [33]:
cempre.columns

Index(['Codigo_Municipio', 'Número de unidades locais',
       'Pessoal ocupado Total', 'Pessoal ocupado Assalariado',
       'Pessoal assalariado médio',
       'Salário médio  mensal  (salários mínimos)  (1) (2) ',
       'Salário médio mensal(R$)', 'Número de empresas atuantes'],
      dtype='object')

### Bolsa Familia

In [34]:
bolsa_familia = Bolsa_Familia(bolsa_familia)

In [35]:
bolsa_familia

,ibge,qtd_familias_total_bolsa_familia,media_qtd_familias_bolsa_familia,valor_total_repassado_bolsa_familia,media_valor_repassado_bolsa_familia
0,110001,18260,"1,521.67","791,541.00","65,961.75"
1,110002,46484,"3,873.67","2,040,617.00","170,051.42"
2,110003,2239,186.58,"90,412.00","7,534.33"
3,110004,37130,"3,094.17","1,927,489.00","160,624.08"
4,110005,8452,704.33,"343,544.00","28,628.67"
...,...,...,...,...,...
5565,522200,4600,383.33,"237,573.00","19,797.75"
5566,522205,9491,790.92,"498,615.00","41,551.25"
5567,522220,6441,536.75,"306,867.00","25,572.25"
5568,522230,6278,523.17,"280,468.00","23,372.33"
5569,530010,959537,"79,961.42","52,175,244.00","4,347,937.00"

### BPC

In [36]:
bpc = BPC(bpc)

In [37]:
bpc

,ibge,num_beneficiados_bpc,media_beneficiados_bpc,num_pcd_beneficiados_bpc,media_pcd_beneficiados_bpc,num_idoso_beneficiados_bpc,media_idoso_beneficiados_bpc,valor_total_repassado_bpc,media_valor_repassado_bpc,valor_pcd_repassado_bpc,media_valor_pcd_repassado_bpc,valor_idoso_repassado_bpc,media_valor_idoso_repassado_pbc
0,110001,6030,502.50,"4,821.00",401.75,"1,209.00",100.75,"6,309,942.22","525,828.52","5,042,938.44","420,244.87","1,267,003.78","105,583.65"
1,110002,33636,"2,803.00","20,759.00","1,729.92","12,877.00","1,073.08","35,224,555.48","2,935,379.62","21,735,542.77","1,811,295.23","13,489,012.71","1,124,084.39"
2,110003,1017,84.75,848.00,70.67,169.00,14.08,"1,064,361.58","88,696.80","886,791.23","73,899.27","177,570.35","14,797.53"
3,110004,24134,"2,011.17","15,769.00","1,314.08","8,365.00",697.08,"25,282,775.77","2,106,897.98","16,511,893.32","1,375,991.11","8,770,882.45","730,906.87"
4,110005,5296,441.33,"4,208.00",350.67,"1,088.00",90.67,"5,542,175.30","461,847.94","4,403,656.35","366,971.36","1,138,518.95","94,876.58"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,522200,3566,297.17,"2,108.00",175.67,"1,458.00",121.50,"3,734,148.23","311,179.02","2,207,061.84","183,921.82","1,527,086.39","127,257.20"
5566,522205,1717,143.08,"1,166.00",97.17,551.00,45.92,"1,797,609.00","149,800.75","1,221,027.30","101,752.28","576,581.70","48,048.48"
5567,522220,1803,150.25,"1,308.00",109.00,495.00,41.25,"1,888,439.88","157,369.99","1,369,343.21","114,111.93","519,096.67","43,258.06"
5568,522230,402,33.50,302.00,25.17,100.00,8.33,"420,937.03","35,078.09","316,482.57","26,373.55","104,454.46","8,704.54"
5569,530010,650090,"54,174.17","328,709.00","27,392.42","321,381.00","26,781.75","681,453,034.39","56,787,752.87","344,516,609.60","28,709,717.47","336,936,424.79","28,078,035.40"

# Integração

In [38]:
bd_2020 = cod_municipios[['Codigo_Municipio', 'Codigo_Municipio_2', 'Município', 'UF', 'Sigla_UF']]

In [39]:
bd_2020 = bd_2020.merge(pib_Munic[['Codigo_Municipio', 'PIB do Municipio']], how='left')

In [40]:
bd_2020 = bd_2020.merge(pib_Munic_BD_2020, how='left')

In [41]:
bd_2020 = bd_2020.merge(cempre, how='left')

In [42]:
bd_2020 = bd_2020.merge(bolsa_familia, how='left', left_on='Codigo_Municipio_2', right_on='ibge')

In [43]:
bd_2020 = bd_2020.drop('ibge', axis=1)

In [44]:
bd_2020 = bd_2020.merge(bpc, how='left', left_on='Codigo_Municipio_2', right_on='ibge')

In [45]:
bd_2020 = bd_2020.drop('ibge', axis=1)

In [46]:
bd_2020 = bd_2020.merge(PAM_2020, how='left')

In [47]:
bd_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Columns: 102 entries, Codigo_Municipio to Produção de Uva(toneladas)
dtypes: float64(24), int64(4), object(74)
memory usage: 4.3+ MB

In [48]:
bd_2020

,Codigo_Municipio,Codigo_Municipio_2,Município,UF,Sigla_UF,PIB do Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",Atividade com maior valor adicionado bruto,Número de unidades locais,Pessoal ocupado Total,...,Produção de Sisal ou agave (fibra)(toneladas),Produção de Soja (em grão)(toneladas),Produção de Sorgo (em grão)(toneladas),Produção de Tangerina(toneladas),Produção de Tomate(toneladas),Produção de Trigo (em grão)(toneladas),Produção de Triticale (em grão)(toneladas),Produção de Tungue (fruto seco)(toneladas),Produção de Urucum (semente)(toneladas),Produção de Uva(toneladas)
0,1100015,110001,Alta Floresta D'Oeste,11,RO,570242,"25,089.83","Administração, defesa, educação e saúde públic...",482.00,"2,990.00",...,-,1350,-,14,350,-,-,-,39,-
1,1100379,110037,Alto Alegre dos Parecis,11,RO,324519,"24,482.74","Agricultura, inclusive apoio à agricultura e a...",146.00,"1,100.00",...,-,10135,-,14,400,-,-,-,1,-
2,1100403,110040,Alto Paraíso,11,RO,396387,"18,143.79","Administração, defesa, educação e saúde públic...",256.00,"1,472.00",...,-,64052,-,-,90,-,-,-,5,-
3,1100346,110034,Alvorada D'Oeste,11,RO,289497,"20,522.95","Administração, defesa, educação e saúde públic...",252.00,"1,541.00",...,-,1221,-,-,165,-,-,-,5,-
4,1100023,110002,Ariquemes,11,RO,2817331,"25,723.65",Demais serviços,"2,720.00","20,139.00",...,-,25497,-,16,45,-,-,-,9,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,522200,Vianópolis,52,GO,559058,"39,998.43","Agricultura, inclusive apoio à agricultura e a...",453.00,"2,404.00",...,-,154980,18000,-,68367,855,-,-,-,-
5566,5222054,522205,Vicentinópolis,52,GO,419757,"47,307.22","Agricultura, inclusive apoio à agricultura e a...",192.00,"2,080.00",...,-,73500,22500,-,25800,-,-,-,-,-
5567,5222203,522220,Vila Boa,52,GO,126150,"19,985.71","Administração, defesa, educação e saúde públic...",69.00,"1,304.00",...,-,900,6500,-,-,-,-,-,-,-
5568,5222302,522230,Vila Propício,52,GO,217935,"37,051.24","Agricultura, inclusive apoio à agricultura e a...",111.00,"1,124.00",...,-,45090,-,-,2850,-,-,-,-,-
5569,5300108,530010,Brasília,53,DF,265847334,"87,016.16","Administração, defesa, educação e saúde públic...","106,009.00","1,372,180.00",...,-,290550,48000,2312,28000,11400,-,-,-,1425

In [49]:
bd_2020.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 102 columns):
 #    Column                                                         Non-Null Count  Dtype
---   ------                                                         --------------  -----
 0    Codigo_Municipio                                               5570 non-null   int64
 1    Codigo_Municipio_2                                             5570 non-null   int64
 2    Município                                                      5570 non-null   object
 3    UF                                                             5570 non-null   int64
 4    Sigla_UF                                                       5570 non-null   object
 5    PIB do Municipio                                               5570 non-null   int64
 6    Produto Interno Bruto per capita, a preços correntes(R$ 1,00)  5570 non-null   float64
 7    Atividade com maior valor adicionado bruto                     5570 non-null   object
 8    Número de unidades locais                                      5536 non-null   float64
 9    Pessoal ocupado Total                                          5536 non-null   float64
 10   Pessoal ocupado Assalariado                                    5536 non-null   float64
 11   Pessoal assalariado médio                                      5536 non-null   float64
 12   Salário médio  mensal  (salários mínimos)  (1) (2)             5536 non-null   float64
 13   Salário médio mensal(R$)                                       5536 non-null   float64
 14   Número de empresas atuantes                                    5536 non-null   float64
 15   qtd_familias_total_bolsa_familia                               5464 non-null   float64
 16   media_qtd_familias_bolsa_familia                               5464 non-null   float64
 17   valor_total_repassado_bolsa_familia                            5464 non-null   float64
 18   media_valor_repassado_bolsa_familia                            5464 non-null   float64
 19   num_beneficiados_bpc                                           5464 non-null   float64
 20   media_beneficiados_bpc                                         5464 non-null   float64
 21   num_pcd_beneficiados_bpc                                       5464 non-null   float64
 22   media_pcd_beneficiados_bpc                                     5464 non-null   float64
 23   num_idoso_beneficiados_bpc                                     5464 non-null   float64
 24   media_idoso_beneficiados_bpc                                   5464 non-null   float64
 25   valor_total_repassado_bpc                                      5464 non-null   float64
 26   media_valor_repassado_bpc                                      5464 non-null   float64
 27   valor_pcd_repassado_bpc                                        5464 non-null   float64
 28   media_valor_pcd_repassado_bpc                                  5464 non-null   float64
 29   valor_idoso_repassado_bpc                                      5464 non-null   float64
 30   media_valor_idoso_repassado_pbc                                5464 non-null   float64
 31   Produção de Abacate(toneladas)                                 5563 non-null   object
 32   Produção de Abacaxi*(toneladas)                                5563 non-null   object
 33   Produção de Açaí(toneladas)                                    5563 non-null   object
 34   Produção de Alfafa fenada(toneladas)                           5563 non-null   object
 35   Produção de Algodão arbóreo (em caroço)(toneladas)             5563 non-null   object
 36   Produção de Algodão herbáceo (em caroço)(toneladas)            5563 non-null   object
 37   Produção de Alho(toneladas)                                    5563 non-null   object
 38   Produção de Amendoim (em casca)(toneladas)                     5563 non-null   object
 39   Produção de Arroz (em casca)(toneladas)                        5563 non-null   object
 40   Produção de Aveia (em grão)(toneladas)                         5563 non-null   object
 41   Produção de Azeitona(toneladas)                                5563 non-null   object
 42   Produção de Banana (cacho)(toneladas)                          5563 non-null   object
 43   Produção de Batata-doce(toneladas)                             5563 non-null   object
 44   Produção de Batata-inglesa(toneladas)                          5563 non-null   object
 45   Produção de Borracha (látex coagulado)(toneladas)              5563 non-null   object
 46   Produção de Borracha (látex líquido)(toneladas)                5563 non-null   object
 47   Produção de Cacau (em amêndoa)(toneladas)                      5563 non-null   object
 48   Produção de Café (em grão) Total(toneladas)                    5563 non-null   object
 49   Produção de Café (em grão) Arábica(toneladas)                  5563 non-null   object
 50   Produção de Café (em grão) Canephora(toneladas)                5563 non-null   object
 51   Produção de Caju(toneladas)                                    5563 non-null   object
 52   Produção de Cana-de-açúcar(toneladas)                          5563 non-null   object
 53   Produção de Cana para forragem(toneladas)                      5563 non-null   object
 54   Produção de Caqui(toneladas)                                   5563 non-null   object
 55   Produção de Castanha de caju(toneladas)                        5563 non-null   object
 56   Produção de Cebola(toneladas)                                  5563 non-null   object
 57   Produção de Centeio (em grão)(toneladas)                       5563 non-null   object
 58   Produção de Cevada (em grão)(toneladas)                        5563 non-null   object
 59   Produção de Chá-da-índia (folha verde)(toneladas)              5563 non-null   object
 60   Produção de Coco-da-baía*(toneladas)                           5563 non-null   object
 61   Produção de Dendê (cacho de coco)(toneladas)                   5563 non-null   object
 62   Produção de Erva-mate (folha verde)(toneladas)                 5563 non-null   object
 63   Produção de Ervilha (em grão)(toneladas)                       5563 non-null   object
 64   Produção de Fava (em grão)(toneladas)                          5563 non-null   object
 65   Produção de Feijão (em grão)(toneladas)                        5563 non-null   object
 66   Produção de Figo(toneladas)                                    5563 non-null   object
 67   Produção de Fumo (em folha)(toneladas)                         5563 non-null   object
 68   Produção de Girassol (em grão)(toneladas)                      5563 non-null   object
 69   Produção de Goiaba(toneladas)                                  5563 non-null   object
 70   Produção de Guaraná (semente)(toneladas)                       5563 non-null   object
 71   Produção de Juta (fibra)(toneladas)                            5563 non-null   object
 72   Produção de Laranja(toneladas)                                 5563 non-null   object
 73   Produção de Limão(toneladas)                                   5563 non-null   object
 74   Produção de Linho (semente)(toneladas)                         5563 non-null   object
 75   Produção de Maçã(toneladas)                                    5563 non-null   object
 76   Produção de Malva (fibra)(toneladas)                           5563 non-null   object
 77   Produção de Mamão(toneladas)                                   5563 non-null   object
 78   Produção de Mamona (baga)(toneladas)                           5563 non-null   object
 79   Produção de Mandioca(toneladas)                                5563 non-null   object
 80   Produção de Manga(toneladas)                                   5563 non-null   object
 81   Produção de Maracujá(toneladas)                                5563 non-null   object
 82   Produção de Marmelo(toneladas)                                 5563 non-null   object
 83   Produção de Melancia(toneladas)                                5563 non-null   object
 84   Produção de Melão(toneladas)                                   5563 non-null   object
 85   Produção de Milho (em grão)(toneladas)                         5563 non-null   object
 86   Produção de Noz (fruto seco)(toneladas)                        5563 non-null   object
 87   Produção de Palmito(toneladas)                                 5563 non-null   object
 88   Produção de Pera(toneladas)                                    5563 non-null   object
 89   Produção de Pêssego(toneladas)                                 5563 non-null   object
 90   Produção de Pimenta-do-reino(toneladas)                        5563 non-null   object
 91   Produção de Rami (fibra)(toneladas)                            5563 non-null   object
 92   Produção de Sisal ou agave (fibra)(toneladas)                  5563 non-null   object
 93   Produção de Soja (em grão)(toneladas)                          5563 non-null   object
 94   Produção de Sorgo (em grão)(toneladas)                         5563 non-null   object
 95   Produção de Tangerina(toneladas)                               5563 non-null   object
 96   Produção de Tomate(toneladas)                                  5563 non-null   object
 97   Produção de Trigo (em grão)(toneladas)                         5563 non-null   object
 98   Produção de Triticale (em grão)(toneladas)                     5563 non-null   object
 99   Produção de Tungue (fruto seco)(toneladas)                     5563 non-null   object
 100  Produção de Urucum (semente)(toneladas)                        5563 non-null   object
 101  Produção de Uva(toneladas)                                     5563 non-null   object
dtypes: float64(24), int64(4), object(74)
memory usage: 4.3+ MB