# Imports

In [11]:
import pandas as pd

In [12]:
import warnings
warnings.filterwarnings('ignore')

Utilizando o metodo `%run` para rodar os codigos de integração a parte, para assim podermos utilizar as variaveis presentes em cada uma

In [13]:
%run integracao_2017.ipynb
%run integracao_2018.ipynb
%run integracao_2019.ipynb
%run integracao_2020.ipynb
%run integracao_2021.ipynb
%run integracao_2022.ipynb
%run integracao_2023.ipynb
%run integracao_2024.ipynb

<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 38975 to 44544
Data columns (total 3 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Código do Município                                              5570 non-null   int64
 1   Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)  5570 non-null   float64
 2   Atividade com maior valor adicionado bruto                       5570 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 174.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ibge                                      66840 non-null  int64
 1   anomes                                    66840 non-null  int64
 2   qtd_familias_beneficiarias_bolsa_familia  66840 non-null  int64
 3   valor_repassado_bolsa_familia             66840 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 2.0 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ibge           66840 non-null  int64
 1   anomes         66840 non-null  int64
 2   bpc_ben        66840 non-null  int64
 3   bpc_pcd_ben    66840 non-null  int64
 4   bpc_idoso_ben  66840 non-null  int64
 5   bpc_pcd_val    66840 non-null  float64
 6   bpc_idoso_val  66840 non-null  float64
 7   bpc_val        66840 non-null  float64
dtypes: float64(3), int64(5)
memory usage: 4.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ibge                             5570 non-null   int64
 1   num_beneficiados_bpc             5570 non-null   int64
 2   media_beneficiados_bpc           5570 non-null   float64
 3   num_pcd_beneficiados_bpc         5570 non-null   int64
 4   media_pcd_beneficiados_bpc       5570 non-null   float64
 5   num_idoso_beneficiados_bpc       5570 non-null   int64
 6   media_idoso_beneficiados_bpc     5570 non-null   float64
 7   valor_total_repassado_bpc        5570 non-null   float64
 8   media_valor_repassado_bpc        5570 non-null   float64
 9   valor_pcd_repassado_bpc          5570 non-null   float64
 10  media_valor_pcd_repassado_bpc    5570 non-null   float64
 11  valor_idoso_repassado_bpc        5570 non-null   float64
 12  media_valor_idoso_repassado_pbc  5570 non-null   float64
dtypes: float64(9), int64(4)
memory usage: 565.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Columns: 109 entries, Codigo_Municipio to Numero Leitos de Urgencia Pediatro
dtypes: float64(28), int64(4), object(77)
memory usage: 4.6+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 44545 to 50114
Data columns (total 3 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Código do Município                                              5570 non-null   int64
 1   Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)  5570 non-null   float64
 2   Atividade com maior valor adicionado bruto                       5570 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 174.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ibge                                      66840 non-null  int64
 1   anomes                                    66840 non-null  int64
 2   qtd_familias_beneficiarias_bolsa_familia  66840 non-null  int64
 3   valor_repassado_bolsa_familia             66840 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 2.0 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ibge           66840 non-null  int64
 1   anomes         66840 non-null  int64
 2   bpc_ben        66840 non-null  int64
 3   bpc_pcd_ben    66840 non-null  int64
 4   bpc_idoso_ben  66840 non-null  int64
 5   bpc_pcd_val    66840 non-null  float64
 6   bpc_idoso_val  66840 non-null  float64
 7   bpc_val        66840 non-null  float64
dtypes: float64(3), int64(5)
memory usage: 4.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Columns: 106 entries, Codigo_Municipio to Numero Leitos de Urgencia Pediatro
dtypes: float64(28), int64(4), object(74)
memory usage: 4.5+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 50115 to 55684
Data columns (total 3 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Código do Município                                              5570 non-null   int64
 1   Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)  5570 non-null   float64
 2   Atividade com maior valor adicionado bruto                       5570 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 174.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ibge                                      66840 non-null  int64
 1   anomes                                    66840 non-null  int64
 2   qtd_familias_beneficiarias_bolsa_familia  66840 non-null  int64
 3   valor_repassado_bolsa_familia             66840 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 2.0 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ibge           66840 non-null  int64
 1   anomes         66840 non-null  int64
 2   bpc_ben        66840 non-null  int64
 3   bpc_pcd_ben    66792 non-null  float64
 4   bpc_idoso_ben  66792 non-null  float64
 5   bpc_pcd_val    66790 non-null  float64
 6   bpc_idoso_val  66539 non-null  float64
 7   bpc_val        66840 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 4.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Columns: 101 entries, Codigo_Municipio to Numero Leitos de Urgencia Pediatro
dtypes: float64(28), int64(4), object(69)
memory usage: 4.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 72 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Município                     5563 non-null   object
 1   Abacate                       5563 non-null   object
 2   Abacaxi*                      5563 non-null   object
 3   Açaí                          5563 non-null   object
 4   Alfafa fenada                 5563 non-null   object
 5   Algodão arbóreo (em caroço)   5563 non-null   object
 6   Algodão herbáceo (em caroço)  5563 non-null   object
 7   Alho                          5563 non-null   object
 8   Amendoim (em casca)           5563 non-null   object
 9   Arroz (em casca)              5563 non-null   object
 10  Aveia (em grão)               5563 non-null   object
 11  Azeitona                      5563 non-null   object
 12  Banana (cacho)                5563 non-null   object
 13  Batata-doce                   5563 non-null   object
 14  Batata-inglesa                5563 non-null   object
 15  Borracha (látex coagulado)    5563 non-null   object
 16  Borracha (látex líquido)      5563 non-null   object
 17  Cacau (em amêndoa)            5563 non-null   object
 18  Café (em grão) Total          5563 non-null   object
 19  Café (em grão) Arábica        5563 non-null   object
 20  Café (em grão) Canephora      5563 non-null   object
 21  Caju                          5563 non-null   object
 22  Cana-de-açúcar                5563 non-null   object
 23  Cana para forragem            5563 non-null   object
 24  Caqui                         5563 non-null   object
 25  Castanha de caju              5563 non-null   object
 26  Cebola                        5563 non-null   object
 27  Centeio (em grão)             5563 non-null   object
 28  Cevada (em grão)              5563 non-null   object
 29  Chá-da-índia (folha verde)    5563 non-null   object
 30  Coco-da-baía*                 5563 non-null   object
 31  Dendê (cacho de coco)         5563 non-null   object
 32  Erva-mate (folha verde)       5563 non-null   object
 33  Ervilha (em grão)             5563 non-null   object
 34  Fava (em grão)                5563 non-null   object
 35  Feijão (em grão)              5563 non-null   object
 36  Figo                          5563 non-null   object
 37  Fumo (em folha)               5563 non-null   object
 38  Girassol (em grão)            5563 non-null   object
 39  Goiaba                        5563 non-null   object
 40  Guaraná (semente)             5563 non-null   object
 41  Juta (fibra)                  5563 non-null   object
 42  Laranja                       5563 non-null   object
 43  Limão                         5563 non-null   object
 44  Linho (semente)               5563 non-null   object
 45  Maçã                          5563 non-null   object
 46  Malva (fibra)                 5563 non-null   object
 47  Mamão                         5563 non-null   object
 48  Mamona (baga)                 5563 non-null   object
 49  Mandioca                      5563 non-null   object
 50  Manga                         5563 non-null   object
 51  Maracujá                      5563 non-null   object
 52  Marmelo                       5563 non-null   object
 53  Melancia                      5563 non-null   object
 54  Melão                         5563 non-null   object
 55  Milho (em grão)               5563 non-null   object
 56  Noz (fruto seco)              5563 non-null   object
 57  Palmito                       5563 non-null   object
 58  Pera                          5563 non-null   object
 59  Pêssego                       5563 non-null   object
 60  Pimenta-do-reino              5563 non-null   object
 61  Rami (fibra)                  5563 non-null   object
 62  Sisal ou agave (fibra)        5563 non-null   object
 63  Soja (em grão)                5563 non-null   object
 64  Sorgo (em grão)               5563 non-null   object
 65  Tangerina                     5563 non-null   object
 66  Tomate                        5563 non-null   object
 67  Trigo (em grão)               5563 non-null   object
 68  Triticale (em grão)           5563 non-null   object
 69  Tungue (fruto seco)           5563 non-null   object
 70  Urucum (semente)              5563 non-null   object
 71  Uva                           5563 non-null   object
dtypes: object(72)
memory usage: 3.1+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 55685 to 61254
Data columns (total 3 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Código do Município                                              5570 non-null   int64
 1   Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)  5570 non-null   float64
 2   Atividade com maior valor adicionado bruto                       5570 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 174.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 10 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unidades da Federação                                5570 non-null   object
 1   Municípios                                           5570 non-null   object
 2   Número de unidades
locais                            5570 non-null   int64
 3   Pessoal ocupado Total                                5570 non-null   int64
 4   Pessoal ocupado Assalariado                          5570 non-null   int64
 5   Pessoal assalariado médio                            5570 non-null   float64
 6   Salários
e outras
remunerações
(1 000 R$)            5570 non-null   float64
 7   Salário médio
 mensal
(salários mínimos)  (1) (2)   5570 non-null   float64
 8   Salário médio
 mensal
(R$) (2)                      5570 non-null   float64
 9   Número de empresas atuantes                          5570 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 435.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ibge                                      66840 non-null  int64
 1   anomes                                    66840 non-null  int64
 2   qtd_familias_beneficiarias_bolsa_familia  66840 non-null  int64
 3   valor_repassado_bolsa_familia             66840 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 2.0 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ibge           66840 non-null  int64
 1   anomes         66840 non-null  int64
 2   bpc_ben        66840 non-null  int64
 3   bpc_pcd_ben    66789 non-null  float64
 4   bpc_idoso_ben  66789 non-null  float64
 5   bpc_pcd_val    66789 non-null  float64
 6   bpc_idoso_val  66789 non-null  float64
 7   bpc_val        66840 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 4.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Columns: 116 entries, Codigo_Municipio to Produção de Uva(toneladas)
dtypes: float64(38), int64(4), object(74)
memory usage: 4.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 116 columns):
 #    Column                                                         Non-Null Count  Dtype
---   ------                                                         --------------  -----
 0    Codigo_Municipio                                               5570 non-null   int64
 1    Codigo_Municipio_2                                             5570 non-null   int64
 2    Município                                                      5570 non-null   object
 3    UF                                                             5570 non-null   int64
 4    Sigla_UF                                                       5570 non-null   object
 5    2020_Estoque_media                                             5453 non-null   float64
 6    2020_Estoque_MAX                                               5453 non-null   float64
 7    2020_Estoque_MIN                                               5453 non-null   float64
 8    PIB do Municipio                                               5570 non-null   int64
 9    Produto Interno Bruto per capita, a preços correntes(R$ 1,00)  5570 non-null   float64
 10   Atividade com maior valor adicionado bruto                     5570 non-null   object
 11   Número de unidades locais                                      5536 non-null   float64
 12   Pessoal ocupado Total                                          5536 non-null   float64
 13   Pessoal ocupado Assalariado                                    5536 non-null   float64
 14   Pessoal assalariado médio                                      5536 non-null   float64
 15   Salário médio  mensal  (salários mínimos)  (1) (2)             5536 non-null   float64
 16   Salário médio mensal(R$)                                       5536 non-null   float64
 17   Número de empresas atuantes                                    5536 non-null   float64
 18   qtd_familias_total_bolsa_familia                               5464 non-null   float64
 19   media_qtd_familias_bolsa_familia                               5464 non-null   float64
 20   valor_total_repassado_bolsa_familia                            5464 non-null   float64
 21   media_valor_repassado_bolsa_familia                            5464 non-null   float64
 22   num_beneficiados_bpc                                           5464 non-null   float64
 23   media_beneficiados_bpc                                         5464 non-null   float64
 24   num_pcd_beneficiados_bpc                                       5464 non-null   float64
 25   media_pcd_beneficiados_bpc                                     5464 non-null   float64
 26   num_idoso_beneficiados_bpc                                     5464 non-null   float64
 27   media_idoso_beneficiados_bpc                                   5464 non-null   float64
 28   valor_total_repassado_bpc                                      5464 non-null   float64
 29   media_valor_repassado_bpc                                      5464 non-null   float64
 30   valor_pcd_repassado_bpc                                        5464 non-null   float64
 31   media_valor_pcd_repassado_bpc                                  5464 non-null   float64
 32   valor_idoso_repassado_bpc                                      5464 non-null   float64
 33   media_valor_idoso_repassado_pbc                                5464 non-null   float64
 34   Numero Clinicas de Ambulatorio Basicas                         5337 non-null   float64
 35   Numero Clinicas de Ambulatorio Especializadas                  5337 non-null   float64
 36   Numero Leitos de Internação                                    3721 non-null   float64
 37   Numero Leitos de Ambulatorio Feminino                          1676 non-null   float64
 38   Numero Leitos de Ambulatorio Masculino                         1659 non-null   float64
 39   Numero Leitos de Ambulatorio Indiferente                       3794 non-null   float64
 40   Numero Leitos de Ambulatorio Pediatro                          1659 non-null   float64
 41   Numero Leitos de Urgencia Feminino                             2527 non-null   float64
 42   Numero Leitos de Urgencia Masculino                            2473 non-null   float64
 43   Numero Leitos de Urgencia Indiferente                          2626 non-null   float64
 44   Numero Leitos de Urgencia Pediatro                             2274 non-null   float64
 45   Produção de Abacate(toneladas)                                 5563 non-null   object
 46   Produção de Abacaxi*(toneladas)                                5563 non-null   object
 47   Produção de Açaí(toneladas)                                    5563 non-null   object
 48   Produção de Alfafa fenada(toneladas)                           5563 non-null   object
 49   Produção de Algodão arbóreo (em caroço)(toneladas)             5563 non-null   object
 50   Produção de Algodão herbáceo (em caroço)(toneladas)            5563 non-null   object
 51   Produção de Alho(toneladas)                                    5563 non-null   object
 52   Produção de Amendoim (em casca)(toneladas)                     5563 non-null   object
 53   Produção de Arroz (em casca)(toneladas)                        5563 non-null   object

# Tabela

A partir das tabelas dos códigos de integração é criado um arquivo excel único com abas separadas para cada ano.

In [14]:
with pd.ExcelWriter("Tabela_Integrada.xlsx") as writer:
    bd_2017.to_excel(writer, sheet_name='2017',float_format='%.1f', index=False)
    bd_2018.to_excel(writer, sheet_name='2018', float_format='%.1f', index=False)
    bd_2019.to_excel(writer, sheet_name='2020', float_format='%.1f', index=False)
    bd_2020.to_excel(writer, sheet_name='2020', float_format='%.1f', index=False)
    bd_2021.to_excel(writer, sheet_name='2021', float_format='%.1f', index=False)
    bd_2022.to_excel(writer, sheet_name='2022', float_format='%.1f', index=False)
    bd_2023.to_excel(writer, sheet_name='2022', float_format='%.1f', index=False)
    bd_2024.to_excel(writer, sheet_name='2022', float_format='%.1f', index=False)