Utilizando o metodo `%run` para rodar as funções gerais, que poderão ser utilizadas pelo código

In [1]:
%run funcoes_gerais.ipynb

Importando as tabelas referentes aos ano

In [4]:
PAM_2017 = pd.read_excel("../dataset/Producao Alimentar/Tipos de Alimento/PAM_2017.xlsx")

In [2]:
bolsa_familia = pd.read_csv("../dataset/Social/Projetos Sociais/Bolsa_Familia_2017.csv")
bpc = pd.read_csv("../dataset/Social/Projetos Sociais/bpc_2017.csv")

In [6]:
pib_Munic = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB-Munic.xlsx")
pib_Munic_BD = pd.read_excel("../dataset/Economico/Renda e Desenvolvimento/PIB/PIB dos Municбpios - base de dados 2010-2021.xlsx")

In [7]:
cod_municipios = pd.read_csv('../dataset/Código dos Municípios')

In [8]:
censo_agro = pd.read_excel("../dataset/Producao Alimentar/Tipos de Cultivo e Produtores/Tabela 6906.ods")

In [9]:
clin_Amb_BAS = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/Numero de clinicas Basicas/CNES_Ambulatorio_basico.csv", encoding='latin-1', skiprows=3, sep=';')
clin_Amb_ESP = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/Numero de clinicas especializadas/CNES_Ambulatorio_especializado.csv", encoding='latin-1', skiprows=3, sep=';')

In [10]:
leitos_internacao = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_Internação_Hospitalar.csv",encoding='latin-1', skiprows=3, sep=';')

In [11]:
leitos_repouso_Ambulatorio_FEM = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Ambulatorio_FEM.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Ambulatorio_INDF = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Ambulatorio_INDF.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Ambulatorio_MASC = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Ambulatorio_MASC.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Ambulatorio_PED = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Ambulatorio_PED.csv",encoding='latin-1', skiprows=3, sep=';')

In [12]:
leitos_repouso_Urgencia_FEM = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Urgencia_FEM.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Urgencia_INDF = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Urgencia_INDF.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Urgencia_MASC = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Urgencia_MASC.csv",encoding='latin-1', skiprows=3, sep=';')
leitos_repouso_Urgencia_PED = pd.read_csv("../dataset/Condicao de Saude Tipico/Infraestrutura/numero de Leitos/CNES_Leitos_repouso_Urgencia_PED.csv",encoding='latin-1', skiprows=3, sep=';')

# Analise Inicial

### CNES

In [13]:
leitos_repouso_Ambulatorio_FEM.columns

Index(['Município', '2017/Jan', '2017/Fev', '2017/Mar', '2017/Abr', '2017/Mai',
       '2017/Jun', '2017/Jul', '2017/Ago', '2017/Set', '2017/Out', '2017/Nov',
       '2017/Dez', '2018/Jan', '2018/Fev', '2018/Mar', '2018/Abr', '2018/Mai',
       '2018/Jun', '2018/Jul', '2018/Ago', '2018/Set', '2018/Out', '2018/Nov',
       '2018/Dez', '2019/Jan', '2019/Fev', '2019/Mar', '2019/Abr', '2019/Mai',
       '2019/Jun', '2019/Jul', '2019/Ago', '2019/Set', '2019/Out', '2019/Nov',
       '2019/Dez', '2020/Jan', '2020/Fev', '2020/Mar', '2020/Abr', '2020/Mai',
       '2020/Jun', '2020/Jul', '2020/Ago', '2020/Set', '2020/Out', '2020/Nov',
       '2020/Dez', '2021/Jan', '2021/Fev', '2021/Mar', '2021/Abr', '2021/Mai',
       '2021/Jun', '2021/Jul', '2021/Ago', '2021/Set', '2021/Out', '2021/Nov',
       '2021/Dez', '2022/Jan', '2022/Fev', '2022/Mar', '2022/Abr', '2022/Mai',
       '2022/Jun', '2022/Jul', '2022/Ago', '2022/Set', '2022/Out', '2022/Nov',
       '2022/Dez', '2023/Jan', '2023/Fev', '2023/Mar', '2023/Abr', '2023/Mai',
       '2023/Jun', '2023/Jul', '2023/Ago', '2023/Set', '2023/Out', '2023/Nov',
       '2023/Dez', '2024/Jan', '2024/Fev', '2024/Mar', '2024/Abr', '2024/Mai',
       '2024/Jun', '2024/Jul', '2024/Ago', '2024/Set', '2024/Out', '2024/Nov',
       '2024/Dez'],
      dtype='object')

### Censo agro

In [14]:
censo_agro

,Município,Total,Agricultura familiar - não,Agricultura familiar - sim
0,Alta Floresta D'Oeste (RO),2582,566,2016
1,Ariquemes (RO),2303,543,1760
2,Cabixi (RO),961,187,774
3,Cacoal (RO),3438,411,3027
4,Cerejeiras (RO),671,203,468
...,...,...,...,...
5558,Vianópolis (GO),799,185,614
5559,Vicentinópolis (GO),120,69,51
5560,Vila Boa (GO),74,54,20
5561,Vila Propício (GO),629,252,377
5562,Brasília (DF),3206,1487,1719

### PIB Munic BD

O banco de dados do PIB Munic possui dados de todos os anos, então separamos os dados referentes ao ano de 2017

Os dados retirados da tabela são referentes ao `Código do Município`, `Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)` que se refere ao PIB do município nos preços correntes(preços correntes são os valores de bens e serviços são referentes ao ano em causa) e `Atividade com maior valor adicionado bruto` que informa a atividade com maior investimento do município

In [15]:
pib_Munic_BD_2017 = pib_Munic_BD[pib_Munic_BD['Ano'] == 2017][['Código do Município', 'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)','Atividade com maior valor adicionado bruto']]

In [16]:
pib_Munic_BD_2017.head()

,Código do Município,"Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto
38975,1100015,"19,081.43","Administração, defesa, educação e saúde públic..."
38976,1100023,"21,313.62",Demais serviços
38977,1100031,"22,189.90","Administração, defesa, educação e saúde públic..."
38978,1100049,"23,532.16",Demais serviços
38979,1100056,"24,492.33","Administração, defesa, educação e saúde públic..."

In [17]:
pib_Munic_BD_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 38975 to 44544
Data columns (total 3 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Código do Município                                              5570 non-null   int64
 1   Produto Interno Bruto per capita,
a preços correntes
(R$ 1,00)  5570 non-null   float64
 2   Atividade com maior valor adicionado bruto                       5570 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 174.1+ KB

### Bolsa Familia

In [3]:
bolsa_familia.head()

,ibge,anomes,qtd_familias_beneficiarias_bolsa_familia,valor_repassado_bolsa_familia
0,110001,201701,1654,"275,049.00"
1,110002,201701,4348,"603,935.00"
2,110003,201701,261,"33,499.00"
3,110004,201701,2801,"358,079.00"
4,110005,201701,748,"108,670.00"

In [4]:
bolsa_familia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ibge                                      66840 non-null  int64
 1   anomes                                    66840 non-null  int64
 2   qtd_familias_beneficiarias_bolsa_familia  66840 non-null  int64
 3   valor_repassado_bolsa_familia             66840 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 2.0 MB

In [5]:
bolsa_familia['anomes'].value_counts()

anomes
201701    5570
201702    5570
201703    5570
201704    5570
201705    5570
201706    5570
201707    5570
201708    5570
201709    5570
201710    5570
201711    5570
201712    5570
Name: count, dtype: int64

In [21]:
bolsa_familia.columns

Index(['ibge', 'anomes', 'qtd_familias_beneficiarias_bolsa_familia',
       'valor_repassado_bolsa_familia'],
      dtype='object')

### Benefício de Prestação Continuada (BPC)

In [22]:
bpc.head()

,ibge,anomes,bpc_ben,bpc_pcd_ben,bpc_idoso_ben,bpc_pcd_val,bpc_idoso_val,bpc_val
0,110001,201701,499,387,112,"360,849.99","104,109.64","464,959.63"
1,110002,201701,2628,1526,1102,"1,420,458.63","1,025,406.29","2,445,864.92"
2,110003,201701,86,67,19,"62,358.45","17,682.89","80,041.34"
3,110004,201701,1882,1183,699,"1,099,927.88","650,046.95","1,749,974.83"
4,110005,201701,428,347,81,"322,333.16","75,265.32","397,598.48"

In [23]:
bpc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ibge           66840 non-null  int64
 1   anomes         66840 non-null  int64
 2   bpc_ben        66840 non-null  int64
 3   bpc_pcd_ben    66840 non-null  int64
 4   bpc_idoso_ben  66840 non-null  int64
 5   bpc_pcd_val    66840 non-null  float64
 6   bpc_idoso_val  66840 non-null  float64
 7   bpc_val        66840 non-null  float64
dtypes: float64(3), int64(5)
memory usage: 4.1 MB

In [24]:
bpc['anomes'].value_counts()

anomes
201701    5570
201702    5570
201703    5570
201704    5570
201705    5570
201706    5570
201707    5570
201708    5570
201709    5570
201710    5570
201711    5570
201712    5570
Name: count, dtype: int64

# Transformação

### CNES

#### Amb_BAS

In [25]:
clin_Amb_BAS = CNES(clin_Amb_BAS, '2017')

/tmp/ipykernel_65531/1185811628.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_65531/1185811628.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [26]:
clin_Amb_BAS.rename(columns={'sum':'Numero Clinicas de Ambulatorio Basicas'}, inplace=True)

In [27]:
clin_Amb_BAS

      cod_municipio  Numero Clinicas de Ambulatorio Basicas
0        110,001.00                                  222.00
1        110,002.00                                  423.00
2        110,003.00                                   65.00
3        110,004.00                                1,026.00
4        110,005.00                                   84.00
...             ...                                     ...
5436     522,200.00                                   12.00
5437     522,205.00                                   36.00
5438     522,220.00                                   24.00
5439     522,230.00                                   24.00
5440     530,010.00                               16,807.00

[5441 rows x 2 columns]

#### AMB_ESP

In [28]:
clin_Amb_ESP = CNES(clin_Amb_ESP,'2017')

/tmp/ipykernel_65531/1185811628.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_65531/1185811628.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [29]:
clin_Amb_ESP.rename(columns={'sum':'Numero Clinicas de Ambulatorio Especializadas'}, inplace=True)

In [30]:
clin_Amb_ESP

      cod_municipio  Numero Clinicas de Ambulatorio Especializadas
0        110,001.00                                         222.00
1        110,002.00                                         423.00
2        110,003.00                                          65.00
3        110,004.00                                       1,026.00
4        110,005.00                                          84.00
...             ...                                            ...
5436     522,200.00                                          12.00
5437     522,205.00                                          36.00
5438     522,220.00                                          24.00
5439     522,230.00                                          24.00
5440     530,010.00                                      16,807.00

[5441 rows x 2 columns]

#### Internação

In [31]:
leitos_internacao = CNES(leitos_internacao,'2017')

/tmp/ipykernel_65531/1185811628.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_65531/1185811628.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [32]:
leitos_internacao.rename(columns={'sum':'Numero Leitos de Internação'}, inplace=True)

In [33]:
leitos_internacao

      cod_municipio  Numero Leitos de Internação
0        110,001.00                       590.00
1        110,002.00                     2,672.00
2        110,003.00                        96.00
3        110,004.00                     4,483.00
4        110,005.00                       480.00
...             ...                          ...
3782     522,185.00                       804.00
3783     522,200.00                       480.00
3784     522,205.00                       192.00
3785     522,220.00                       156.00
3786     530,010.00                    76,974.00

[3787 rows x 2 columns]

#### Leito Amb

In [34]:
leitos_repouso_Ambulatorio_FEM = CNES(leitos_repouso_Ambulatorio_FEM,'2017')
leitos_repouso_Ambulatorio_INDF = CNES(leitos_repouso_Ambulatorio_INDF,'2017')
leitos_repouso_Ambulatorio_MASC = CNES(leitos_repouso_Ambulatorio_MASC,'2017')
leitos_repouso_Ambulatorio_PED = CNES(leitos_repouso_Ambulatorio_PED,'2017')

/tmp/ipykernel_65531/1185811628.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_65531/1185811628.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_65531/1185811628.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_65531/1185811628.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_65531/1185811628.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_65531/1185811628.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_65531/1185811628.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_65531/1185811628.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [ ]:
leitos_repouso_Ambulatorio_FEM.rename(columns={'sum':'Numero Leitos de Ambulatorio Feminino'}, inplace=True)
leitos_repouso_Ambulatorio_INDF.rename(columns={'sum':'Numero Leitos de Ambulatorio Indiferente'}, inplace=True)
leitos_repouso_Ambulatorio_MASC.rename(columns={'sum':'Numero Leitos de Ambulatorio Masculino'}, inplace=True)
leitos_repouso_Ambulatorio_PED.rename(columns={'sum':'Numero Leitos de Ambulatorio Pediatro'}, inplace=True)

#### Leito Urg

In [ ]:
leitos_repouso_Urgencia_FEM = CNES(leitos_repouso_Urgencia_FEM,'2017')
leitos_repouso_Urgencia_INDF = CNES(leitos_repouso_Urgencia_INDF,'2017')
leitos_repouso_Urgencia_MASC = CNES(leitos_repouso_Urgencia_MASC,'2017')
leitos_repouso_Urgencia_PED = CNES(leitos_repouso_Urgencia_PED,'2017')

/tmp/ipykernel_5727/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_5727/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_5727/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_5727/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_5727/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_5727/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)
/tmp/ipykernel_5727/3025589086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
/tmp/ipykernel_5727/3025589086.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns] =  df[df.columns].astype(float)

In [ ]:
leitos_repouso_Urgencia_FEM.rename(columns={'sum':'Numero Leitos de Urgencia Feminino'}, inplace=True)
leitos_repouso_Urgencia_INDF.rename(columns={'sum':'Numero Leitos de Urgencia Indiferente'}, inplace=True)
leitos_repouso_Urgencia_MASC.rename(columns={'sum':'Numero Leitos de Urgencia Masculino'}, inplace=True)
leitos_repouso_Urgencia_PED.rename(columns={'sum':'Numero Leitos de Urgencia Pediatro'}, inplace=True)

### Censo Agro

Utiliza-se  afunção de separar nome da UF

In [ ]:
Separa_Nome_UF(censo_agro)

depois adicionamos o código do município e o numero da UF

In [ ]:
censo_agro = censo_agro.merge(cod_municipios[['Codigo_Municipio', 'UF', 'Município', 'Sigla_UF']], how='right',left_on=['Município', 'Sigla_UF'], right_on=['Município', 'Sigla_UF'])

In [ ]:
censo_agro = censo_agro[['Codigo_Municipio', 'Município', 'Sigla_UF', 'UF', 'Agricultura familiar - sim', 'Agricultura familiar - não', 'Total']]
censo_agro

,Codigo_Municipio,Município,Sigla_UF,UF,Agricultura familiar - sim,Agricultura familiar - não,Total
0,1100015,Alta Floresta D'Oeste,RO,11,2016,566,2582
1,1100379,Alto Alegre dos Parecis,RO,11,1308,349,1657
2,1100403,Alto Paraíso,RO,11,1964,318,2282
3,1100346,Alvorada D'Oeste,RO,11,1396,274,1670
4,1100023,Ariquemes,RO,11,1760,543,2303
...,...,...,...,...,...,...,...
5565,5222005,Vianópolis,GO,52,614,185,799
5566,5222054,Vicentinópolis,GO,52,51,69,120
5567,5222203,Vila Boa,GO,52,20,54,74
5568,5222302,Vila Propício,GO,52,377,252,629
5569,5300108,Brasília,DF,53,1719,1487,3206

#### PIB MUNIC

Substituição do modelo de unidade monetaria Americana para o Brasileiro

In [ ]:
# for col in pib_Munic.columns[2:]:
#     pib_Munic[col] = pib_Munic[col].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

In [ ]:
pib_Munic = pib_Munic.round(2)

Substituição dos nome das colunas para melhor utilização e visualização

In [ ]:
pib_Munic = pib_Munic.rename(columns={'Cód.':'Codigo_Municipio','2017':'PIB do Municipio'})

In [ ]:
pib_Munic.head()

,Codigo_Municipio,Município,PIB do Municipio,2018,2019,2020,2021
0,1100015,Alta Floresta D'Oeste (RO),485374,498980,495775,570242,734469
1,1100023,Ariquemes (RO),2287910,2464704,2579278,2817331,3209761
2,1100031,Cabixi (RO),138110,140503,139976,167153,238412
3,1100049,Cacoal (RO),2082761,2175840,2261930,2518845,2792383
4,1100056,Cerejeiras (RO),439245,470647,506494,600630,743037

#### PIB Munic BD

In [ ]:
pib_Munic_BD_2017.head()

,Código do Município,"Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto
38975,1100015,"19,081.43","Administração, defesa, educação e saúde públic..."
38976,1100023,"21,313.62",Demais serviços
38977,1100031,"22,189.90","Administração, defesa, educação e saúde públic..."
38978,1100049,"23,532.16",Demais serviços
38979,1100056,"24,492.33","Administração, defesa, educação e saúde públic..."

Alteração dos nomes das colunas e formatação do sistema monetário

In [ ]:
pib_Munic_BD_2017 = pib_Munic_BD_2017.rename(columns={'Código do Município': 'Codigo_Municipio', 
                        'Produto Interno Bruto per capita, \na preços correntes\n(R$ 1,00)': 'Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'})
pib_Munic_BD_2017 = pib_Munic_BD_2017.round(2)
# pib_Munic_BD_2017['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'] = pib_Munic_BD_2017['Produto Interno Bruto per capita, a preços correntes(R$ 1,00)'].apply(lambda x: f"{x:,.1f}".replace(",", "X").replace(".", ",").replace("X", "."))

#### PAM

Utilização da função de alteração da PAM

In [ ]:
PAM_2017 = PAM(PAM_2017)

### Bolsa Familia

In [ ]:
bolsa_familia

In [ ]:
bolsa_familia = Bolsa_Familia(bolsa_familia)

In [ ]:
bolsa_familia

,ibge,qtd_familias_total_bolsa_familia,media_qtd_familias_bolsa_familia,valor_total_repassado_bolsa_familia,media_valor_repassado_bolsa_familia
0,110001,19270,"1,605.83","3,142,782.00","261,898.50"
1,110002,49938,"4,161.50","7,002,218.00","583,518.17"
2,110003,2743,228.58,"356,508.00","29,709.00"
3,110004,31168,"2,597.33","4,084,411.00","340,367.58"
4,110005,8404,700.33,"1,240,509.00","103,375.75"
...,...,...,...,...,...
5565,522200,6336,528.00,"939,266.00","78,272.17"
5566,522205,7806,650.50,"1,359,796.00","113,316.33"
5567,522220,7557,629.75,"1,180,362.00","98,363.50"
5568,522230,6919,576.58,"1,049,527.00","87,460.58"
5569,530010,960375,"80,031.25","151,730,592.00","12,644,216.00"

### BPC

In [ ]:
bpc = BPC(bpc)

In [ ]:
bpc

,ibge,num_beneficiados_bpc,media_beneficiados_bpc,num_pcd_beneficiados_bpc,media_pcd_beneficiados_bpc,num_idoso_beneficiados_bpc,media_idoso_beneficiados_bpc,valor_total_repassado_bpc,media_valor_repassado_bpc,valor_pcd_repassado_bpc,media_valor_pcd_repassado_bpc,valor_idoso_repassado_bpc,media_valor_idoso_repassado_pbc
0,110001,6060,505.00,4753,396.08,1307,108.92,"5,650,332.74","470,861.06","4,435,014.61","369,584.55","1,215,318.13","101,276.51"
1,110002,32055,"2,671.25",18813,"1,567.75",13242,"1,103.50","29,892,966.95","2,491,080.58","17,545,560.82","1,462,130.07","12,347,406.13","1,028,950.51"
2,110003,1071,89.25,847,70.58,224,18.67,"999,241.85","83,270.15","790,319.93","65,859.99","208,921.92","17,410.16"
3,110004,23224,"1,935.33",14722,"1,226.83",8502,708.50,"21,638,127.20","1,803,177.27","13,713,317.86","1,142,776.49","7,924,809.34","660,400.78"
4,110005,5181,431.75,4186,348.83,995,82.92,"4,825,730.59","402,144.22","3,898,581.14","324,881.76","927,149.45","77,262.45"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,522200,3593,299.42,2175,181.25,1418,118.17,"3,366,629.95","280,552.50","2,037,970.04","169,830.84","1,328,659.91","110,721.66"
5566,522205,1992,166.00,1357,113.08,635,52.92,"1,866,495.96","155,541.33","1,271,502.77","105,958.56","594,993.19","49,582.77"
5567,522220,2097,174.75,1472,122.67,625,52.08,"1,964,888.82","163,740.74","1,379,264.00","114,938.67","585,624.82","48,802.07"
5568,522230,382,31.83,298,24.83,84,7.00,"357,932.62","29,827.72","279,224.62","23,268.72","78,708.00","6,559.00"
5569,530010,650114,"54,176.17",333547,"27,795.58",316567,"26,380.58","606,910,236.80","50,575,853.07","310,925,446.52","25,910,453.88","295,984,790.28","24,665,399.19"

In [ ]:
bpc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ibge                             5570 non-null   int64
 1   num_beneficiados_bpc             5570 non-null   int64
 2   media_beneficiados_bpc           5570 non-null   float64
 3   num_pcd_beneficiados_bpc         5570 non-null   int64
 4   media_pcd_beneficiados_bpc       5570 non-null   float64
 5   num_idoso_beneficiados_bpc       5570 non-null   int64
 6   media_idoso_beneficiados_bpc     5570 non-null   float64
 7   valor_total_repassado_bpc        5570 non-null   float64
 8   media_valor_repassado_bpc        5570 non-null   float64
 9   valor_pcd_repassado_bpc          5570 non-null   float64
 10  media_valor_pcd_repassado_bpc    5570 non-null   float64
 11  valor_idoso_repassado_bpc        5570 non-null   float64
 12  media_valor_idoso_repassado_pbc  5570 non-null   float64
dtypes: float64(9), int64(4)
memory usage: 565.8 KB

# Integração

Inicio da integração de fato, aqui utilizaremos a função `merge` que se basea no JOIN da linguagem SQL, nela temos que passar uma variavel chave que vai ligar os outros elementos da tabela

In [ ]:
bd_2017 = cod_municipios[['Codigo_Municipio','Codigo_Municipio_2', 'Município', 'UF', 'Sigla_UF']]

In [ ]:
bd_2017.head()

   Codigo_Municipio  Codigo_Municipio_2                Município  UF Sigla_UF
0           1100015              110001    Alta Floresta D'Oeste  11       RO
1           1100379              110037  Alto Alegre dos Parecis  11       RO
2           1100403              110040             Alto Paraíso  11       RO
3           1100346              110034         Alvorada D'Oeste  11       RO
4           1100023              110002                Ariquemes  11       RO

In [ ]:
bd_2017 = bd_2017.merge(censo_agro, how='left')

In [ ]:
bd_2017 = bd_2017.merge(pib_Munic[['Codigo_Municipio', 'PIB do Municipio']], how='left')

In [ ]:
bd_2017 = bd_2017.merge(pib_Munic_BD_2017, how='left')

In [ ]:
bd_2017 = bd_2017.merge(bolsa_familia, how='left', left_on='Codigo_Municipio_2', right_on='ibge')

In [ ]:
bd_2017 = bd_2017.drop('ibge', axis=1)

In [ ]:
bd_2017 = bd_2017.merge(bpc, how='left', left_on='Codigo_Municipio_2', right_on='ibge')

In [ ]:
bd_2017 = bd_2017.drop('ibge', axis=1)

In [ ]:
bd_2017 = bd_2017.merge(PAM_2017, how='left')

In [ ]:
bd_2017 = bd_2017.merge(clin_Amb_BAS, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2017 = bd_2017.merge(clin_Amb_ESP, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')

In [ ]:
bd_2017 = bd_2017.merge(leitos_internacao, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')

In [ ]:
bd_2017.drop(columns=['cod_municipio', 'cod_municipio_x', 'cod_municipio_y'], inplace=True)

In [ ]:
bd_2017 = bd_2017.merge(leitos_repouso_Ambulatorio_FEM, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2017 = bd_2017.merge(leitos_repouso_Ambulatorio_MASC, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2017 = bd_2017.merge(leitos_repouso_Ambulatorio_INDF, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2017.drop(columns=['cod_municipio', 'cod_municipio_x', 'cod_municipio_y'], inplace=True)
bd_2017 = bd_2017.merge(leitos_repouso_Ambulatorio_PED, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')

In [ ]:
bd_2017 = bd_2017.merge(leitos_repouso_Urgencia_FEM, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2017 = bd_2017.merge(leitos_repouso_Urgencia_MASC, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2017.drop(columns=['cod_municipio', 'cod_municipio_x', 'cod_municipio_y'], inplace=True)
bd_2017 = bd_2017.merge(leitos_repouso_Urgencia_INDF, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2017 = bd_2017.merge(leitos_repouso_Urgencia_PED, how='left',left_on='Codigo_Municipio_2', right_on='cod_municipio')
bd_2017.drop(columns=['cod_municipio_x', 'cod_municipio_y'], inplace=True)

In [ ]:
bd_2017 = bd_2017.rename(columns={'Agricultura familiar - sim': 'Número de estabelecimentos agropecuários considerados como agricultura familiar', 
                         'Agricultura familiar - não': 'Número de estabelecimentos agropecuários não considerados como agricultura familiar',
                         'Total': 'Número total de estabelecimentos agropecuários'})

In [ ]:
bd_2017

,Codigo_Municipio,Codigo_Municipio_2,Município,UF,Sigla_UF,Número de estabelecimentos agropecuários considerados como agricultura familiar,Número de estabelecimentos agropecuários não considerados como agricultura familiar,Número total de estabelecimentos agropecuários,PIB do Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",...,Produção de Sisal ou agave (fibra)(toneladas),Produção de Soja (em grão)(toneladas),Produção de Sorgo (em grão)(toneladas),Produção de Tangerina(toneladas),Produção de Tomate(toneladas),Produção de Trigo (em grão)(toneladas),Produção de Triticale (em grão)(toneladas),Produção de Tungue (fruto seco)(toneladas),Produção de Urucum (semente)(toneladas),Produção de Uva(toneladas)
0,1100015,110001,Alta Floresta D'Oeste,11,RO,2016,566,2582,485374,"19,081.43",...,-,1350,-,-,-,-,-,-,-,-
1,1100379,110037,Alto Alegre dos Parecis,11,RO,1308,349,1657,328001,"23,353.60",...,-,10135,-,63,680,-,-,-,2,-
2,1100403,110040,Alto Paraíso,11,RO,1964,318,2282,307459,"14,699.70",...,-,21882,-,-,4,-,-,-,-,-
3,1100346,110034,Alvorada D'Oeste,11,RO,1396,274,1670,252252,"15,062.51",...,-,3036,-,-,-,-,-,-,-,-
4,1100023,110002,Ariquemes,11,RO,1760,543,2303,2287910,"21,313.62",...,-,10959,-,-,-,-,-,-,4,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,522200,Vianópolis,52,GO,614,185,799,395861,"28,947.80",...,-,129500,2000,-,70000,855,-,-,-,-
5566,5222054,522205,Vicentinópolis,52,GO,51,69,120,350839,"41,781.41",...,-,79200,16000,-,23250,-,-,-,-,-
5567,5222203,522220,Vila Boa,52,GO,20,54,74,118639,"20,701.27",...,-,8250,900,-,-,-,-,-,-,-
5568,5222302,522230,Vila Propício,52,GO,377,252,629,182203,"32,021.60",...,-,45050,-,-,3720,-,-,-,-,-
5569,5300108,530010,Brasília,53,DF,1719,1487,3206,244722249,"80,515.47",...,-,241500,22500,4332,26200,5706,-,-,-,1700

In [ ]:
bd_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 98 columns):
 #   Column                                                                               Non-Null Count  Dtype
---  ------                                                                               --------------  -----
 0   Codigo_Municipio                                                                     5570 non-null   int64
 1   Codigo_Municipio_2                                                                   5570 non-null   int64
 2   Município                                                                            5570 non-null   object
 3   UF                                                                                   5570 non-null   int64
 4   Sigla_UF                                                                             5570 non-null   object
 5   Número de estabelecimentos agropecuários considerados como agricultura familiar      5563 non-null   object
 6   Número de estabelecimentos agropecuários não considerados como agricultura familiar  5563 non-null   object
 7   Número total de estabelecimentos agropecuários                                       5563 non-null   object
 8   PIB do Municipio                                                                     5570 non-null   int64
 9   Produto Interno Bruto per capita, a preços correntes(R$ 1,00)                        5570 non-null   float64
 10  Atividade com maior valor adicionado bruto                                           5570 non-null   object
 11  qtd_familias_total_bolsa_familia                                                     5464 non-null   float64
 12  media_qtd_familias_bolsa_familia                                                     5464 non-null   float64
 13  valor_total_repassado_bolsa_familia                                                  5464 non-null   float64
 14  media_valor_repassado_bolsa_familia                                                  5464 non-null   float64
 15  num_beneficiados_bpc                                                                 5464 non-null   float64
 16  media_beneficiados_bpc                                                               5464 non-null   float64
 17  num_pcd_beneficiados_bpc                                                             5464 non-null   float64
 18  media_pcd_beneficiados_bpc                                                           5464 non-null   float64
 19  num_idoso_beneficiados_bpc                                                           5464 non-null   float64
 20  media_idoso_beneficiados_bpc                                                         5464 non-null   float64
 21  valor_total_repassado_bpc                                                            5464 non-null   float64
 22  media_valor_repassado_bpc                                                            5464 non-null   float64
 23  valor_pcd_repassado_bpc                                                              5464 non-null   float64
 24  media_valor_pcd_repassado_bpc                                                        5464 non-null   float64
 25  valor_idoso_repassado_bpc                                                            5464 non-null   float64
 26  media_valor_idoso_repassado_pbc                                                      5464 non-null   float64
 27  Produção de Abacate(toneladas)                                                       5563 non-null   object
 28  Produção de Abacaxi*(toneladas)                                                      5563 non-null   object
 29  Produção de Açaí(toneladas)                                                          5563 non-null   object
 30  Produção de Alfafa fenada(toneladas)                                                 5563 non-null   object
 31  Produção de Algodão arbóreo (em caroço)(toneladas)                                   5563 non-null   object
 32  Produção de Algodão herbáceo (em caroço)(toneladas)                                  5563 non-null   object
 33  Produção de Alho(toneladas)                                                          5563 non-null   object
 34  Produção de Amendoim (em casca)(toneladas)                                           5563 non-null   object
 35  Produção de Arroz (em casca)(toneladas)                                              5563 non-null   object
 36  Produção de Aveia (em grão)(toneladas)                                               5563 non-null   object
 37  Produção de Azeitona(toneladas)                                                      5563 non-null   object
 38  Produção de Banana (cacho)(toneladas)                                                5563 non-null   object
 39  Produção de Batata-doce(toneladas)                                                   5563 non-null   object
 40  Produção de Batata-inglesa(toneladas)                                                5563 non-null   object
 41  Produção de Borracha (látex coagulado)(toneladas)                                    5563 non-null   object
 42  Produção de Borracha (látex líquido)(toneladas)                                      5563 non-null   object
 43  Produção de Cacau (em amêndoa)(toneladas)                                            5563 non-null   object
 44  Produção de Café (em grão) Total(toneladas)                                          5563 non-null   object
 45  Produção de Café (em grão) Arábica(toneladas)                                        5563 non-null   object
 46  Produção de Café (em grão) Canephora(toneladas)                                      5563 non-null   object
 47  Produção de Caju(toneladas)                                                          5563 non-null   object
 48  Produção de Cana-de-açúcar(toneladas)                                                5563 non-null   object
 49  Produção de Cana para forragem(toneladas)                                            5563 non-null   object
 50  Produção de Caqui(toneladas)                                                         5563 non-null   object
 51  Produção de Castanha de caju(toneladas)                                              5563 non-null   object
 52  Produção de Cebola(toneladas)                                                        5563 non-null   object
 53  Produção de Centeio (em grão)(toneladas)                                             5563 non-null   object
 54  Produção de Cevada (em grão)(toneladas)                                              5563 non-null   object
 55  Produção de Chá-da-índia (folha verde)(toneladas)                                    5563 non-null   object
 56  Produção de Coco-da-baía*(toneladas)                                                 5563 non-null   object
 57  Produção de Dendê (cacho de coco)(toneladas)                                         5563 non-null   object
 58  Produção de Erva-mate (folha verde)(toneladas)                                       5563 non-null   object
 59  Produção de Ervilha (em grão)(toneladas)                                             5563 non-null   object
 60  Produção de Fava (em grão)(toneladas)                                                5563 non-null   object
 61  Produção de Feijão (em grão)(toneladas)                                              5563 non-null   object
 62  Produção de Figo(toneladas)                                                          5563 non-null   object
 63  Produção de Fumo (em folha)(toneladas)                                               5563 non-null   object
 64  Produção de Girassol (em grão)(toneladas)                                            5563 non-null   object
 65  Produção de Goiaba(toneladas)                                                        5563 non-null   object
 66  Produção de Guaraná (semente)(toneladas)                                             5563 non-null   object
 67  Produção de Juta (fibra)(toneladas)                                                  5563 non-null   object
 68  Produção de Laranja(toneladas)                                                       5563 non-null   object
 69  Produção de Limão(toneladas)                                                         5563 non-null   object
 70  Produção de Linho (semente)(toneladas)                                               5563 non-null   object
 71  Produção de Maçã(toneladas)                                                          5563 non-null   object
 72  Produção de Malva (fibra)(toneladas)                                                 5563 non-null   object
 73  Produção de Mamão(toneladas)                                                         5563 non-null   object
 74  Produção de Mamona (baga)(toneladas)                                                 5563 non-null   object
 75  Produção de Mandioca(toneladas)                                                      5563 non-null   object
 76  Produção de Manga(toneladas)                                                         5563 non-null   object
 77  Produção de Maracujá(toneladas)                                                      5563 non-null   object
 78  Produção de Marmelo(toneladas)                                                       5563 non-null   object
 79  Produção de Melancia(toneladas)                                                      5563 non-null   object
 80  Produção de Melão(toneladas)                                                         5563 non-null   object
 81  Produção de Milho (em grão)(toneladas)                                               5563 non-null   object
 82  Produção de Noz (fruto seco)(toneladas)                                              5563 non-null   object
 83  Produção de Palmito(toneladas)                                                       5563 non-null   object
 84  Produção de Pera(toneladas)                                                          5563 non-null   object
 85  Produção de Pêssego(toneladas)                                                       5563 non-null   object
 86  Produção de Pimenta-do-reino(toneladas)                                              5563 non-null   object
 87  Produção de Rami (fibra)(toneladas)                                                  5563 non-null   object
 88  Produção de Sisal ou agave (fibra)(toneladas)                                        5563 non-null   object
 89  Produção de Soja (em grão)(toneladas)                                                5563 non-null   object
 90  Produção de Sorgo (em grão)(toneladas)                                               5563 non-null   object
 91  Produção de Tangerina(toneladas)                                                     5563 non-null   object
 92  Produção de Tomate(toneladas)                                                        5563 non-null   object
 93  Produção de Trigo (em grão)(toneladas)                                               5563 non-null   object
 94  Produção de Triticale (em grão)(toneladas)                                           5563 non-null   object
 95  Produção de Tungue (fruto seco)(toneladas)                                           5563 non-null   object
 96  Produção de Urucum (semente)(toneladas)                                              5563 non-null   object
 97  Produção de Uva(toneladas)                                                           5563 non-null   object
dtypes: float64(17), int64(4), object(77)
memory usage: 4.2+ MB

In [ ]:
bd_2017.describe()

,Codigo_Municipio,Codigo_Municipio_2,UF,PIB do Municipio,"Produto Interno Bruto per capita, a preços correntes(R$ 1,00)",qtd_familias_total_bolsa_familia,media_qtd_familias_bolsa_familia,valor_total_repassado_bolsa_familia,media_valor_repassado_bolsa_familia,num_beneficiados_bpc,...,num_pcd_beneficiados_bpc,media_pcd_beneficiados_bpc,num_idoso_beneficiados_bpc,media_idoso_beneficiados_bpc,valor_total_repassado_bpc,media_valor_repassado_bpc,valor_pcd_repassado_bpc,media_valor_pcd_repassado_bpc,valor_idoso_repassado_bpc,media_valor_idoso_repassado_pbc
count,"5,570.00","5,570.00","5,570.00","5,570.00","5,570.00","5,464.00","5,464.00","5,464.00","5,464.00","5,464.00",...,"5,464.00","5,464.00","5,464.00","5,464.00","5,464.00","5,464.00","5,464.00","5,464.00","5,464.00","5,464.00"
mean,"3,253,590.77","319,572.75",32.38,"1,182,312.21","22,042.72","29,119.21","2,426.60","5,229,464.57","435,788.71","9,725.73",...,"5,387.00",448.92,"4,338.73",361.56,"9,091,676.39","757,639.70","5,031,976.42","419,331.37","4,059,699.96","338,308.33"
std,"984,910.34","107,233.03",9.83,"11,616,916.42","20,989.72","111,025.19","9,252.10","17,313,507.70","1,442,792.31","50,588.79",...,"22,091.96","1,841.00","29,095.37","2,424.61","47,316,988.27","3,943,082.36","20,639,015.43","1,719,917.95","27,236,551.22","2,269,712.60"
min,"1,100,015.00",0.00,11.00,"12,993.00","3,289.50",44.00,3.67,"4,569.00",380.75,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,"2,512,125.75","250,562.50",25.00,"79,573.50","9,495.26","4,283.75",356.98,"684,634.00","57,052.83",776.75,...,537.75,44.81,196.00,16.33,"726,736.85","60,561.40","503,865.00","41,988.75","183,651.54","15,304.30"
50%,"3,146,280.00","314,255.00",31.00,"176,606.00","16,613.29","11,498.50",958.21,"2,001,934.50","166,827.88","2,298.50",...,"1,506.00",125.50,684.00,57.00,"2,149,378.46","179,114.87","1,406,424.25","117,202.02","639,268.03","53,272.33"
75%,"4,119,189.50","411,757.50",41.00,"470,565.50","27,143.37","28,805.50","2,400.45","5,493,108.75","457,759.06","6,916.75",...,"4,355.00",362.92,"2,340.00",195.00,"6,468,055.86","539,004.66","4,055,440.36","337,953.36","2,192,493.93","182,707.82"
max,"5,300,108.00","530,010.00",53.00,"698,952,189.00","346,739.34","5,563,814.00","463,651.17","824,765,545.00","68,730,462.08","2,406,890.00",...,"929,502.00","77,458.50","1,477,388.00","123,115.67","2,251,534,744.51","187,627,895.38","868,427,770.01","72,368,980.83","1,383,106,974.50","115,258,914.54"